openapi: 3.0.3
info:
  contact:
    name: Hypixel Support
    url: https://developer.hypixel.net
  termsOfService: https://hypixel.net/tos
  title: Hypixel Public API
  version: v2
  x-logo:
    altText: Hypixel Logo
    href: '#'
    url: https://api.hypixel.net/assets/images/logo.png
servers:
- url: https://api.hypixel.net
paths:
  /v2/skyblock/profile:
    get:
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkyBlockProfileGet'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      tags:
      - SkyBlock
  /v2/skyblock/profiles:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkyBlockProfilesGet'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      tags:
      - SkyBlock
components:
  responses:
    DataMissing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
      description: "Some data is missing, this is usually a field."
    InvalidKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
      description: "Access is forbidden, usually due to an invalid API key being used."
    InvalidPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: The page provided is invalid.
    MalformedData:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
      description: Some data provided is invalid.
    MissingPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      description: The page provided does not exist.
    NoResult:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      description: The request responded with no result.
    NotPopulated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      description: The data is not yet populated and should be available shortly
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
      description: "A request limit has been reached, usually this is due to the limit\
        \ on the key being reached but can also be triggered by a global throttle."
    SkyBlockProfileGet:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SkyBlockProfileGet'
      description: A successful response
    SkyBlockProfilesGet:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SkyBlockProfilesGet'
      description: A successful response
  schemas:
    SkyBlockProfile:
      additionalProperties: false
      example:
        profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        members:
          key:
            dungeons:
              selected_dungeon_class: null
              dungeon_types:
                master_catacombs:
                  best_score:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  tier_completions:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  fastest_time_s_plus:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_tank:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  watcher_kills:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  times_played:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  experience: 2.9409642974827896
                  milestone_completions:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_berserk:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_healer:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_mobs_killed:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  fastest_time:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_mage:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_archer:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  fastest_time_s:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_healing:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  best_runs:
                    key:
                    - damage_dealt: 5.533258397034986
                      damage_mitigated: 3.2588565619047607
                      ally_healing: 7.04836565559697
                      score_skill: 4
                      score_exploration: 1
                      dungeon_class: archer
                      score_bonus: 4
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 7
                      elapsed_time: 0
                      mobs_killed: 6
                      secrets_found: 9
                      deaths: 4
                      timestamp: 0
                    - damage_dealt: 5.533258397034986
                      damage_mitigated: 3.2588565619047607
                      ally_healing: 7.04836565559697
                      score_skill: 4
                      score_exploration: 1
                      dungeon_class: archer
                      score_bonus: 4
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 7
                      elapsed_time: 0
                      mobs_killed: 6
                      secrets_found: 9
                      deaths: 4
                      timestamp: 0
                  mobs_killed:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  highest_tier_completed: 1
                catacombs:
                  best_score:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  tier_completions:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  fastest_time_s_plus:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_tank:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  watcher_kills:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  times_played:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  experience: 2.9409642974827896
                  milestone_completions:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_berserk:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_healer:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_mobs_killed:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  fastest_time:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_mage:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_damage_archer:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  fastest_time_s:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  most_healing:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  best_runs:
                    key:
                    - damage_dealt: 5.533258397034986
                      damage_mitigated: 3.2588565619047607
                      ally_healing: 7.04836565559697
                      score_skill: 4
                      score_exploration: 1
                      dungeon_class: archer
                      score_bonus: 4
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 7
                      elapsed_time: 0
                      mobs_killed: 6
                      secrets_found: 9
                      deaths: 4
                      timestamp: 0
                    - damage_dealt: 5.533258397034986
                      damage_mitigated: 3.2588565619047607
                      ally_healing: 7.04836565559697
                      score_skill: 4
                      score_exploration: 1
                      dungeon_class: archer
                      score_bonus: 4
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 7
                      elapsed_time: 0
                      mobs_killed: 6
                      secrets_found: 9
                      deaths: 4
                      timestamp: 0
                  mobs_killed:
                    "0": 9.702963800023566
                    "1": 0.5199002018724985
                    "2": 7.933506881737151
                    total: 0.43431398824148815
                    "3": 5.507386964179881
                    "4": 4.86315908102884
                    "5": 6.073898085781152
                    "6": 8.251625748923757
                    "7": 4.459605034958679
                    best: 3.901545264248647
                  highest_tier_completed: 1
              player_classes:
                healer:
                  experience: 8.28965939814297
                mage:
                  experience: 8.28965939814297
                berserk:
                  experience: 8.28965939814297
                archer:
                  experience: 8.28965939814297
                tank:
                  experience: 8.28965939814297
              dungeon_journal:
                journal_entries:
                  expedition_volume_3:
                  - 6
                  - 6
                  grim_adversity:
                  - 6
                  - 6
                  expedition_volume_4:
                  - 5
                  - 5
                  the_study:
                  - 7
                  - 7
                  the_apprentice:
                  - 0
                  - 0
                  the_eye:
                  - 0
                  - 0
                  expedition_volume_1:
                  - 2
                  - 2
                  murderer:
                  - 3
                  - 3
                  expedition_volume_2:
                  - 6
                  - 6
                  aftermath:
                  - 1
                  - 1
                  the_follower:
                  - 4
                  - 4
                  the_apprentice_2:
                  - 7
                  - 7
                  uncanny_remains:
                  - 3
                  - 3
                  the_apprentice_3:
                  - 6
                  - 6
                  the_walls:
                  - 3
                  - 3
                  karylles_diary:
                  - 3
                  - 3
                  the_follower_2:
                  - 8
                  - 8
                  necrons_magic_scroll:
                  - 7
                  - 7
                has_read_the_watcher: true
                has_read_the_eye: true
                unlocked_journals:
                - aftermath
                - aftermath
              dungeon_hub_race_settings:
                selected_race: crystal_core
                runback: true
                selected_setting: anything
              last_dungeon_run: CATACOMBS_ENTRANCE
              daily_runs:
                completed_runs_count: 3
                current_day_stamp: 6
              treasures:
                chests:
                - run_id: run_id
                  paid: true
                  chest_id: chest_id
                  rerolls: 8
                  treasure_type: treasure_type
                  shiny_eligible: true
                  rewards:
                    rng_meter_reward: rng_meter_reward
                    rewards:
                    - rewards
                    - rewards
                    rolled_rng_meter_randomly: true
                  quality: 4
                - run_id: run_id
                  paid: true
                  chest_id: chest_id
                  rerolls: 8
                  treasure_type: treasure_type
                  shiny_eligible: true
                  rewards:
                    rng_meter_reward: rng_meter_reward
                    rewards:
                    - rewards
                    - rewards
                    rolled_rng_meter_randomly: true
                  quality: 4
                runs:
                - run_id: run_id
                  dungeon_tier: 1
                  completion_ts: 9
                  dungeon_type: catacombs
                  participants:
                  - class_milestone: 3
                    display_name: display_name
                    player_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - class_milestone: 3
                    display_name: display_name
                    player_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                - run_id: run_id
                  dungeon_tier: 1
                  completion_ts: 9
                  dungeon_type: catacombs
                  participants:
                  - class_milestone: 3
                    display_name: display_name
                    player_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  - class_milestone: 3
                    display_name: display_name
                    player_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              dungeons_blah_blah:
              - gatekeeper_first_talk
              - gatekeeper_first_talk
              secrets: 6
            winter_player_data:
              refined_jyrre_uses: 2
            shared_inventory:
              carnival_mask_inventory_contents:
                data: data
                type: 7
              candy_inventory_contents:
                data: data
                type: 7
            inventory:
              ender_chest_contents:
                data: data
                type: 7
              equipment_contents:
                data: data
                type: 7
              wardrobe_contents:
                data: data
                type: 7
              sacks_counts:
                key: 7
              personal_vault_contents:
                data: data
                type: 7
              inv_contents:
                data: data
                type: 7
              backpack_contents:
                key:
                  data: data
                  type: 7
              wardrobe_equipped_slot: 6
              bag_contents:
                fishing_bag:
                  data: data
                  type: 7
                potion_bag:
                  data: data
                  type: 7
                sacks_bag:
                  data: data
                  type: 7
                talisman_bag:
                  data: data
                  type: 7
                quiver:
                  data: data
                  type: 7
              inv_armor:
                data: data
                type: 7
              backpack_icons:
                key:
                  data: data
                  type: 7
            item_data:
              soulflow: 6
              teleporter_pill_consumed: true
              favorite_arrow: favorite_arrow
            nether_island_player_data:
              barbarians_reputation: 2.3317418552851765
              last_minibosses_killed:
              - last_minibosses_killed
              - last_minibosses_killed
              quests:
                found_kuudra_boots: true
                pablo_quest:
                  pablo_item: pablo_item
                  pablo_last_give: 6
                  pablo_active: true
                suus_quest:
                  mob_id: mob_id
                  last_completion: 5
                  last_toy_drop: 3
                  talked_to_npc: true
                edelis_quest:
                  heard_story_home: true
                  heard_story_statue: true
                cavity_rarity: COMMON
                last_reset: 3
                aranya_quest: "{}"
                alchemist_quest:
                  alchemist_quest_start: true
                  alchemist_quest_progress: 2
                paid_bruuh: true
                weird_sailor: true
                found_kuudra_book: true
                sirih_quest:
                  last_give: 0
                  sulphur_given: 3
                  dialogue_index: 4
                pomtair_quest:
                  last_completion: 5
                  talked_to_npc: true
                rulenor:
                  talked_to: true
                  last_payment: 6
                duel_training_quest:
                  duel_training_phase_barbarians: 0
                  duel_training_last_complete_barbarians: 7
                  duel_training_last_complete_mages: 1
                  duel_training_phase_mages: 4
                unlocked_cavity_npcs:
                - arch
                - arch
                last_vampire_blood: 6
                found_kuudra_leggings: true
                last_kuudra_relic: 8
                kuudra_loremaster: true
                fished_wet_napkin: true
                miniboss_daily: "{}"
                chicken_quest:
                  chicken_quest_collected:
                  - Chickovsky
                  - Chickovsky
                  chicken_quest_progress: 3
                  chicken_quest_start: true
                found_kuudra_chestplate: true
                quest_rewards:
                  key: 5
                chicken_quest_handed_in: 0
                found_kuudra_helmet: true
                miniboss_data:
                  ASHFANG: true
                  BLADESOUL: true
                  BARBARIAN_DUKE_X: true
                  MAGMA_BOSS: true
                  MAGE_OUTLAW: true
                quest_data:
                  boss:
                    completed_at: 6
                    progress: 6
                    claimed_rewards: true
                    status: ACTIVE
                  fetch:
                    completed_at: 6
                    progress: 6
                    claimed_rewards: true
                    status: ACTIVE
                  fishing:
                    completed_at: 6
                    progress: 6
                    claimed_rewards: true
                    status: ACTIVE
                  rescue:
                    completed_at: 6
                    progress: 6
                    claimed_rewards: true
                    status: ACTIVE
                  wanted_mini_boss:
                    completed_at: 6
                    progress: 6
                    claimed_rewards: true
                    status: ACTIVE
                  dojo:
                    completed_at: 6
                    progress: 6
                    claimed_rewards: true
                    status: ACTIVE
                  quest_list:
                  - quest_list
                  - quest_list
                last_believer_blessing: 7
                mollim_quest:
                  completed_quest: true
                  talked_to_npc: true
                  splashed_grand_exp_bottle: true
                kuuda_boss_daily: "{}"
              selected_faction: barbarians
              npc_path:
                npc_id: npc_id
                path_id: path_id
                skin: skin
                path_index: 9
              abiphone:
                selected_sort: alphabetical
                selected_ringtone: DEFAULT
                has_used_sirius_personal_phone_number_item: true
                operator_chip:
                  repaired_index: 4
                active_contacts:
                - alchemist
                - alchemist
                games: "{}"
                last_dye_called_year: 4
                trio_contact_addons: 2
                contact_data:
                  pablo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  dusk:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  einary:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  brynmor:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  forge_foreman:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  queen_mismyla:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  gemstone:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  blacksmith:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  lumber_merchant:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  odger:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  fairy:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  tomioka:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  alchemist:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  community_shop:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  wool_weaver:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  captain_ahone:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  drill_fuel_mechanic:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  spooky:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  thaumaturgist:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  igrupan:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  rollim:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  suus:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  bingo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  dean:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  anita:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  queen:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  kaus:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  vincent:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  elle:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  gatekeeper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  oringo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  sirius:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  plumber:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  zog:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  hoppity:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  builder:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  st_jerry:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  aranya:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  jacob:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  trevor_the_trapper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  telekinesis_applier:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  arrow_forger:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  pet_collector:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  slayer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  walter:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  roddy:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  shady_bartender:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  pet_trainer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  alixer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  pet_sitter:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  duncan:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  kuudra_gatekeeper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  ophelia:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  sirih:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
                  trinity:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 5
                    incoming_calls_count: 3
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContactSpecific_value
                    last_call: 0
              kuudra_party_finder:
                group_builder:
                  note: note
                  tier: BURNING
                  combat_level_required: 1
                search_settings:
                  search: search
                  tier: null
                  sort: HIGHEST_COMBAT_LEVEL
                  combat_level: combat_level
              matriarch:
                pearls_collected: 4
                recent_refreshes:
                - 2
                - 2
                last_attempt: 5
              kuudra_completed_tiers:
                burning: 0
                infernal: 9
                highest_wave_infernal: 2
                highest_wave_burning: 2
                highest_wave_none: 7
                highest_wave_hot: 8
                fiery: 1
                highest_wave_fiery: 2
                none: 6
                hot: 6
              dojo:
                dojo_points_lock_head: 7
                dojo_points_wall_jump: 9
                dojo_points_sword_swap: 5
                dojo_time_snake: 9
                dojo_time_wall_jump: 2
                dojo_time_lock_head: 9
                dojo_time_sword_swap: 4
                dojo_points_mob_kb: 9
                dojo_points_fireball: 1
                dojo_time_archer: 3
                dojo_points_snake: 0
                dojo_points_archer: 6
                dojo_time_fireball: 8
                dojo_time_mob_kb: 5
              mages_reputation: 1.822577900073098
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            glacite_player_data:
              corpses_looted:
                tungsten: 4
                umber: 3
                lapis: 2
                vanguard: 5
              mineshafts_entered: 2
              fossils_donated:
              - CLAW
              - CLAW
              fossil_dust: 9.721046668148785
            pets_data:
              pets:
              - tier: COMMON
                extra:
                  key: 3.982133794311513
                heldItem: ALL_SKILLS_SUPER_BOOST
                skin: skin
                active: true
                exp: 6.822653164969166
                type: null
                uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                candyUsed: 7
                uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - tier: COMMON
                extra:
                  key: 3.982133794311513
                heldItem: ALL_SKILLS_SUPER_BOOST
                skin: skin
                active: true
                exp: 6.822653164969166
                type: null
                uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                candyUsed: 7
                uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              pet_care:
                pet_types_sacrificed:
                - BABY_YETI
                - BABY_YETI
                coins_spent: 9.127829562770723
              autopet:
                migrated_2: true
                rules_limit: 7
                rules:
                - data:
                    boss: boss
                    entity_type: entity_type
                    island: island
                    skill: skill
                    collection: collection
                    slot: slot
                    category: category
                    floor: floor
                    class: class
                    master: master
                  name: name
                  disabled: true
                  id: BOSS_SPAWN
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  exceptions:
                  - data:
                      island: island
                      event: event
                      pet: pet
                    id: DURING_EVENT
                  - data:
                      island: island
                      event: event
                      pet: pet
                    id: DURING_EVENT
                  pet: AMMONITE
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                - data:
                    boss: boss
                    entity_type: entity_type
                    island: island
                    skill: skill
                    collection: collection
                    slot: slot
                    category: category
                    floor: floor
                    class: class
                    master: master
                  name: name
                  disabled: true
                  id: BOSS_SPAWN
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  exceptions:
                  - data:
                      island: island
                      event: event
                      pet: pet
                    id: DURING_EVENT
                  - data:
                      island: island
                      event: event
                      pet: pet
                    id: DURING_EVENT
                  pet: AMMONITE
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                migrated: true
            stats: "{}"
            experimentation:
              claims_resets: 1
              simon:
                bonus_clicks: 4
                attempts_0: 9
                claimed: true
                attempts_5: 4
                attempts_1: 7
                attempts_2: 6
                attempts_3: 0
                last_attempt: 5
                best_score_1: 7
                best_score_0: 0
                best_score_3: 6
                best_score_2: 1
                best_score_5: 2
                last_claimed: 3
                claims_5: 1
                claims_2: 5
                claims_3: 3
                claims_0: 2
                claims_1: 3
              claimed_retroactive_rng: true
              numbers:
                bonus_clicks: 4
                claimed: true
                attempts_1: 9
                attempts_2: 7
                attempts_3: 7
                last_attempt: 9
                best_score_1: 7
                best_score_3: 1
                best_score_2: 9
                last_claimed: 4
                claims_2: 8
                claims_3: 2
                claims_1: 3
              claims_resets_timestamp: 3
              charge_track_timestamp: 3
              serums_drank: 9
              pairings:
                bonus_clicks: 0
                claimed: true
                last_attempt: 0
                best_score_1: 6
                best_score_0: 8
                best_score_3: 8
                best_score_2: 4
                best_score_5: 6
                best_score_4: 2
                last_claimed: 0
                claims_4: 6
                claims_5: 4
                claims_2: 0
                claims_3: 7
                claims_0: 2
                claims_1: 5
            bestiary:
              kills:
                last_killed_mob: last_killed_mob
              miscellaneous:
                milestones_notifications: true
                max_kills_visible: true
              milestone:
                last_claimed_milestone: 9
              migration: true
              migrated_stats: true
              deaths:
                key: 9
            events:
              easter:
                rabbit_sort: a_to_z
                last_viewed_chocolate_factory: 3
                shop:
                  year: 1
                  chocolate_spent: 9
                  rabbits:
                  - rabbits
                  - rabbits
                  cocoa_fortune_upgrades: 1
                  rabbits_purchased:
                  - rabbits_purchased
                  - rabbits_purchased
                chocolate_level: 8
                rabbit_barn_capacity_level: 8
                click_upgrades: 5
                total_chocolate: 5
                el_dorado_progress: 8
                rabbits:
                  collected_locations:
                    dungeon_hub:
                    - dungeon_hub_blacksmith
                    - dungeon_hub_blacksmith
                    combat_3:
                    - end_bruiser_hideout
                    - end_bruiser_hideout
                    fishing_1:
                    - bayou_bridge
                    - bayou_bridge
                    hub:
                    - hub_bazaar
                    - hub_bazaar
                    farming_1:
                    - farming_aqueduct
                    - farming_aqueduct
                    crystal_hollows:
                    - crystal_hollows_amethyst
                    - crystal_hollows_amethyst
                    crimson_isle:
                    - crimson_isle_ashfang
                    - crimson_isle_ashfang
                    foraging_1:
                    - foraging_birch_launch_pad
                    - foraging_birch_launch_pad
                    mining_3:
                    - dwarven_mines_aristocrat_passage
                    - dwarven_mines_aristocrat_passage
                    mining_1:
                    - gold_mine_coal_pile
                    - gold_mine_coal_pile
                    combat_1:
                    - spiders_den_archaeologist
                    - spiders_den_archaeologist
                    mining_2:
                    - deep_caverns_diamond_sanctuary
                    - deep_caverns_diamond_sanctuary
                  collected_eggs:
                    dejeuner: 0
                    lunch: 6
                    brunch: 9
                    breakfast: 2
                    dinner: 2
                    supper: 4
                golden_click_year: 2
                chocolate_multiplier_upgrades: 0
                rabbit_rarity_upgrades: 4
                refined_dark_cacao_truffles: 6
                chocolate_since_prestige: 5
                supreme_chocolate_bars: 3
                time_tower:
                  charges: 1
                  level: 5
                  last_charge_time: 4
                  activation_time: 5
                golden_click_amount: 3
                rabbit_filter: rabbit_filter
                rabbit_hitmen:
                  missed_uncollected_eggs: 0
                  rabbit_hitmen_slots: 7
                  egg_slot_cooldown_sum: 0
                  egg_slot_cooldown_mark: 4
                employees:
                  rabbit_dog: 3
                  rabbit_father: 9
                  rabbit_grandma: 5
                  rabbit_cousin: 3
                  rabbit_sis: 7
                  rabbit_uncle: 0
                  rabbit_bro: 7
                rabbit_hotspot_filer: CRIMSON_ISLE
                chocolate: 9
            garden_player_data:
              larva_consumed: 0
              copper: 8
            fairy_soul:
              fairy_exchanges: 8
              total_collected: 7
              unspent_souls: 2
            slayer:
              slayer_bosses:
                blaze:
                  boss_kills_tier_1: 9
                  boss_kills_tier_2: 0
                  boss_attempts_tier_1: 5
                  boss_kills_tier_3: 8
                  boss_attempts_tier_0: 0
                  boss_kills_tier_4: 5
                  boss_attempts_tier_3: 0
                  boss_attempts_tier_2: 7
                  claimed_levels:
                    level_3: true
                    level_4: true
                    level_5: true
                    level_6: true
                    level_7_special: true
                    level_7: true
                    level_8: true
                    level_9: true
                    level_9_special: true
                    level_8_special: true
                    level_1: true
                    level_2: true
                  boss_attempts_tier_4: 1
                  xp: 3
                  boss_kills_tier_0: 2
                wolf:
                  boss_kills_tier_1: 9
                  boss_kills_tier_2: 0
                  boss_attempts_tier_1: 5
                  boss_kills_tier_3: 8
                  boss_attempts_tier_0: 0
                  boss_kills_tier_4: 5
                  boss_attempts_tier_3: 0
                  boss_attempts_tier_2: 7
                  claimed_levels:
                    level_3: true
                    level_4: true
                    level_5: true
                    level_6: true
                    level_7_special: true
                    level_7: true
                    level_8: true
                    level_9: true
                    level_9_special: true
                    level_8_special: true
                    level_1: true
                    level_2: true
                  boss_attempts_tier_4: 1
                  xp: 3
                  boss_kills_tier_0: 2
                vampire:
                  boss_kills_tier_1: 9
                  boss_kills_tier_2: 0
                  boss_attempts_tier_1: 5
                  boss_kills_tier_3: 8
                  boss_attempts_tier_0: 0
                  boss_kills_tier_4: 5
                  boss_attempts_tier_3: 0
                  boss_attempts_tier_2: 7
                  claimed_levels:
                    level_3: true
                    level_4: true
                    level_5: true
                    level_6: true
                    level_7_special: true
                    level_7: true
                    level_8: true
                    level_9: true
                    level_9_special: true
                    level_8_special: true
                    level_1: true
                    level_2: true
                  boss_attempts_tier_4: 1
                  xp: 3
                  boss_kills_tier_0: 2
                zombie:
                  boss_kills_tier_1: 9
                  boss_kills_tier_2: 0
                  boss_attempts_tier_1: 5
                  boss_kills_tier_3: 8
                  boss_attempts_tier_0: 0
                  boss_kills_tier_4: 5
                  boss_attempts_tier_3: 0
                  boss_attempts_tier_2: 7
                  claimed_levels:
                    level_3: true
                    level_4: true
                    level_5: true
                    level_6: true
                    level_7_special: true
                    level_7: true
                    level_8: true
                    level_9: true
                    level_9_special: true
                    level_8_special: true
                    level_1: true
                    level_2: true
                  boss_attempts_tier_4: 1
                  xp: 3
                  boss_kills_tier_0: 2
                spider:
                  boss_kills_tier_1: 9
                  boss_kills_tier_2: 0
                  boss_attempts_tier_1: 5
                  boss_kills_tier_3: 8
                  boss_attempts_tier_0: 0
                  boss_kills_tier_4: 5
                  boss_attempts_tier_3: 0
                  boss_attempts_tier_2: 7
                  claimed_levels:
                    level_3: true
                    level_4: true
                    level_5: true
                    level_6: true
                    level_7_special: true
                    level_7: true
                    level_8: true
                    level_9: true
                    level_9_special: true
                    level_8_special: true
                    level_1: true
                    level_2: true
                  boss_attempts_tier_4: 1
                  xp: 3
                  boss_kills_tier_0: 2
                enderman:
                  boss_kills_tier_1: 9
                  boss_kills_tier_2: 0
                  boss_attempts_tier_1: 5
                  boss_kills_tier_3: 8
                  boss_attempts_tier_0: 0
                  boss_kills_tier_4: 5
                  boss_attempts_tier_3: 0
                  boss_attempts_tier_2: 7
                  claimed_levels:
                    level_3: true
                    level_4: true
                    level_5: true
                    level_6: true
                    level_7_special: true
                    level_7: true
                    level_8: true
                    level_9: true
                    level_9_special: true
                    level_8_special: true
                    level_1: true
                    level_2: true
                  boss_attempts_tier_4: 1
                  xp: 3
                  boss_kills_tier_0: 2
              slayer_quest:
                used_armor: true
                last_killed_mob_island: COMBAT_1
                spawn_timestamp: 1
                tier: 5
                start_timestamp: 5
                xp_on_last_follower_spawn: 2
                completion_state: 7
                solo: true
                combat_xp: 9
                type: blaze
                kill_timestamp: 0
                recent_mob_kills:
                - xp: 8.051608822222258
                  timestamp: 0
                - xp: 8.051608822222258
                  timestamp: 0
            player_data:
              unlocked_coll_tiers:
              - AGARICUS_CAP_-1
              - AGARICUS_CAP_-1
              fastest_target_practice: 2.8107595909375216
              temp_stat_buffs:
              - amount: 7
                stat: 0
                expire_at: 5
                stat_id: cold_resistance
                key: cake_cold_resistance
              - amount: 7
                stat: 0
                expire_at: 5
                stat_id: cold_resistance
                key: cake_cold_resistance
              experience:
                SKILL_ALCHEMY: 4.468383945220504
                SKILL_ENCHANTING: 8.677206913911578
                SKILL_TAMING: 1.9004860169272697
                SKILL_COMBAT: 5.7830383063264374
                SKILL_SOCIAL: 8.42304692221817
                SKILL_FISHING: 4.3376880751882485
                SKILL_DUNGEONEERING: 6.895551869522899
                SKILL_FARMING: 9.045200168199779
                SKILL_MINING: 0.47961483264056803
                SKILL_RUNECRAFTING: 0.6071742570586935
                SKILL_FORAGING: 2.6951501062053085
                SKILL_CARPENTRY: 2.4601725741152536
              crafted_generators:
              - ACACIA_1
              - ACACIA_1
              visited_modes:
              - combat_1
              - combat_1
              achievement_spawned_island_types:
              - DESERT
              - DESERT
              disabled_potion_effects:
              - null
              - null
              fishing_treasure_caught: 5
              active_effects:
              - level: 8
                infinite: true
                effect: END_PORTAL_FUMES
                flags: 6
                ticks_remaining: 0
                modifiers:
                - amp: 2
                  key: caffeinated
                - amp: 2
                  key: caffeinated
              - level: 8
                infinite: true
                effect: END_PORTAL_FUMES
                flags: 6
                ticks_remaining: 0
                modifiers:
                - amp: 2
                  key: caffeinated
                - amp: 2
                  key: caffeinated
              death_count: 2
              reaper_peppers_eaten: 4
              last_death: 7
              perks:
                catacombs_crit_damage: 2
                dwarven_training: 5
                unbreaking: 7
                catacombs_boss_luck: 4
                radiant_fisher: 1
                permanent_intelligence: 0
                drake_piper: 9
                edrag_cd: 9
                midas_lure: 1
                diamond_in_the_rough: 5
                bane: 3
                permanent_speed: 4
                under_pressure: 5
                increased_sup_chances: 8
                empowered_agility: 1
                permanent_health: 6
                forbidden_blessing: 4
                blessing_of_time: 9
                catacombs_health: 7
                catacombs_strength: 1
                return_to_sender: 9
                strongarm_kuudra: 1
                headstart_kuudra: 2
                heart_of_gold: 6
                permanent_defense: 9
                unbridled_rage: 4
                mana_after_ender_kill: 7
                catacombs_defense: 9
                harena_fortuna: 3
                catacombs_intelligence: 7
                combat_wisdom_in_end: 5
                inc_zealots_odds: 7
                rhinestone_infusion: 9
                vermin_control: 0
                flat_damage_vs_ender: 8
                crimson_training: 7
                season_of_joy: 6
                catacombs_looting: 6
                permanent_strength: 7
                spider_training: 7
                treasures_of_the_earth: 0
                fero_vs_dragons: 7
                fresh_tools_kuudra: 1
                revive_stone: 8
                wither_piper: 3
                high_roller: 5
                master_kuudra: 6
                frozen_skin: 4
                toxophilite: 1
                dragon_reforges_buff: 8
                eager_miner: 7
                cold_efficiency: 5
                fungus_fortuna: 3
                cooled_forges: 6
              paused_effects:
              - level: 8
                infinite: true
                effect: END_PORTAL_FUMES
                flags: 6
                ticks_remaining: 0
                modifiers:
                - amp: 2
                  key: caffeinated
                - amp: 2
                  key: caffeinated
              - level: 8
                infinite: true
                effect: END_PORTAL_FUMES
                flags: 6
                ticks_remaining: 0
                modifiers:
                - amp: 2
                  key: caffeinated
                - amp: 2
                  key: caffeinated
              visited_zones:
              - abandoned_quarry
              - abandoned_quarry
            player_stats:
              kills:
                key: 0.890175895976929
              pets:
                milestone:
                  ores_mined: 2.54225202191946
                  sea_creatures_killed: 7.4907652507908296
                total_exp_gained: 2.0443769993225045
              glowing_mushrooms_broken: 4.848725868319991
              end_island:
                special_zealot_loot_collected: 7.351823381238441
                dragon_fight:
                  highest_rank:
                    unstable: 2.1230426852719706
                    strong: 0.6438275157314799
                    superior: 8.65783973983825
                    wise: 4.566901520815597
                    young: 1.2030108490558
                    old: 5.15647973354139
                    protector: 7.847955824035001
                    best: 5.535500986371801
                  fastest_kill:
                    unstable: 3.972365736764316
                    strong: 3.653225073048929
                    superior: 2.9605093907508873
                    wise: 9.896762638307408
                    young: 8.144671038106528
                    old: 2.7774516884683207
                    protector: 6.450650644517728
                    best: 9.27560048618725
                  most_damage:
                    unstable: 1.689503059403632
                    strong: 3.4824880742629363
                    superior: 2.7239989256176766
                    wise: 8.161079205791609
                    young: 6.735116218976787
                    old: 2.3631069671221097
                    protector: 7.222885400820572
                    best: 1.213271650177239
                  ender_crystals_destroyed: 5.5979065183521515
                  summoning_eyes_contributed:
                    unstable: 7.056230564967713
                    strong: 6.376878057660531
                    superior: 9.28860627653261
                    total: 5.697937978554375
                    wise: 1.3389174281452143
                    young: 1.2613062240772
                    old: 1.7910320945003844
                    protector: 7.48340630885329
                  amount_summoned:
                    unstable: 6.537712918802372
                    strong: 9.86120873235807
                    superior: 0.5726569451250851
                    total: 4.511077460894262
                    wise: 7.546622872687339
                    young: 4.213318283605179
                    old: 7.26639603893227
                    protector: 3.6805440658947353
                summoning_eyes_collected: 9.746540672619648
              shredder_rod:
                bait: 7.492376169716708
                fished: 8.552957191797422
              winter:
                most_cannonballs_hit: 6.345568338946958
                most_magma_damage_dealt: 9.562328050625965
                most_damage_dealt: 4.9417989836953735
                most_snowballs_hit: 8.138249379880362
              highest_critical_damage: 3.0611254872537885
              items_fished:
                normal: 7.124409592356507
                total: 3.1825287809356806
                outstanding: 6.42132679200332
                trophy_fish: 6.387893485862778
                large_treasure: 9.193816582380814
                treasure: 6.044388903904137
              rift:
                popped_balloons: 7.2355611412690655
                west_hot_dogs_given: 6.229837613966271
                dreadfarm_agaricus_harvested: 4.374692895964676
                lagoon_leech_supreme_killed: 0.0987341304736633
                lagoon_lil_pads_sold: 7.7875812549704655
                shen_item_bought:
                  PUNCHCARD_ARTIFACT: 9.774450423772379
                  total: 2.746596752325704
                  RIFT_PRISM: 7.039363958774861
                  ANCIENT_ELEVATOR: 7.582034457365983
                  DEAD_CAT_FOOD: 8.931074871668441
                  PLACEABLE_FAIRY_SOUL_RIFT: 1.2431142610760326
                  FLEX_HELMET: 1.6690251512728216
                lagoon_rocks_game_complete: 2.6680980134131547
                living_cave_snake_collected: 6.595654232363551
                colosseum_bacte_defeated: 6.270880607505447
                dreadfarm_chicken_killed: 2.86303896191088
                lifetime_motes_earned: 0.12144442718269755
                plaza_red_light_deaths: 5.59409441471232
                visits: 7.3202159413446175
                plaza_pillar_deaths: 9.546842193763283
                woods_larva_killed: 0.5381526593781227
                dreadfarm_caducous_harvested: 2.4086429347217155
                odonata_repeatable_completed: 9.401121115489278
                dreadfarm_bean_bulb_collected: 2.791286327863345
                lagoon_mushroom_popped_out: 4.126409981100459
                motes_orb_pickup: 6.511657923665495
                plaza_hay_deaths: 5.093207296933374
                plaza_horsezooka_shot: 4.238345862800468
                living_metal_piece_maxed: 3.9174105762807985
                west_vermin_vacuumed:
                  total: 7.5873979749826495
                  silverfish: 6.057355818336239
                  spider: 4.927226471600662
                  mosquito: 0.8693514089252063
                living_metal_spawnegg_used: 8.08826475055357
                woods_odonata_bottled: 8.04663189761943
                colosseum_blaster_shots: 4.611879174267083
                colosseum_globowls_at_tentacle: 8.47342148337535
                castle_effigy_broken: 9.234038131550328
                dreadfarm_wilted_harvested: 6.213099901862703
                castle_sent_to_prison: 9.076472791212817
                pass_consumed: 9.14387339211597
                dreadfarm_riftwarts_harvested: 7.367137886120934
                west_cake_part_eaten: 0.6255053050324044
              sea_creature_kills: 2.051204252804845
              spooky:
                bats_spawned:
                  total: 8.9121533123373
              highest_damage: 5.303454161840017
              races:
                dungeon_hub:
                  precursor_ruins_no_pearls_with_return_best_time: 7.6692351399026615
                  crystal_core_no_pearls_with_return_best_time: 6.751774869153997
                  crystal_core_no_abilities_no_return_best_time: 8.87986788654488
                  giant_mushroom_anything_no_return_best_time: 8.852118736990365
                  precursor_ruins_nothing_no_return_best_time: 1.2679033304913534
                  precursor_ruins_no_pearls_no_return_best_time: 7.794956613763416
                  precursor_ruins_no_abilities_with_return_best_time: 7.871715088929257
                  giant_mushroom_nothing_with_return_best_time: 5.017514155292483
                  giant_mushroom_no_pearls_no_return_best_time: 0.16687043991910788
                  precursor_ruins_anything_no_return_best_time: 8.656046911534922
                  crystal_core_nothing_no_return_best_time: 7.850091051100325
                  crystal_core_anything_with_return_best_time: 9.514519502384317
                  precursor_ruins_anything_with_return_best_time: 7.831773195677409
                  precursor_ruins_no_abilities_no_return_best_time: 3.720358823730775
                  crystal_core_anything_no_return_best_time: 7.765331561625514
                  crystal_core_nothing_with_return_best_time: 1.740089112612726
                  crystal_core_no_pearls_no_return_best_time: 2.333970583527283
                  giant_mushroom_no_abilities_with_return_best_time: 8.833395488051972
                  giant_mushroom_no_abilities_no_return_best_time: 9.49963371728803
                  precursor_ruins_nothing_with_return_best_time: 4.964997965650228
                  giant_mushroom_anything_with_return_best_time: 0.28100571035981403
                  giant_mushroom_nothing_no_return_best_time: 8.023601755208588
                  giant_mushroom_no_pearls_with_return_best_time: 6.484479003119764
                  crystal_core_no_abilities_with_return_best_time: 0.2251139985378936
                foraging_race_best_time: 0.5134809551456831
                chicken_race_best_time_2: 8.9226305590135
                end_race_best_time: 1.1698722986549792
                rift_race_best_time: 6.281469292042608
              crops_mined: 7.028390615751622
              mythos:
                kills: 6.386457342265177
                burrows_dug_treasure:
                  total: 1.8023274910352782
                  RARE: 9.632839541020122
                  "null": 4.491469366705411
                  EPIC: 8.932428877068963
                  UNCOMMON: 1.3266957103239585
                  COMMON: 1.0979907423791868
                  none: 0.5361818527416851
                  LEGENDARY: 4.333865955271125
                burrows_chains_complete:
                  total: 1.8023274910352782
                  RARE: 9.632839541020122
                  "null": 4.491469366705411
                  EPIC: 8.932428877068963
                  UNCOMMON: 1.3266957103239585
                  COMMON: 1.0979907423791868
                  none: 0.5361818527416851
                  LEGENDARY: 4.333865955271125
                burrows_dug_combat:
                  total: 1.8023274910352782
                  RARE: 9.632839541020122
                  "null": 4.491469366705411
                  EPIC: 8.932428877068963
                  UNCOMMON: 1.3266957103239585
                  COMMON: 1.0979907423791868
                  none: 0.5361818527416851
                  LEGENDARY: 4.333865955271125
                burrows_dug_next:
                  total: 1.8023274910352782
                  RARE: 9.632839541020122
                  "null": 4.491469366705411
                  EPIC: 8.932428877068963
                  UNCOMMON: 1.3266957103239585
                  COMMON: 1.0979907423791868
                  none: 0.5361818527416851
                  LEGENDARY: 4.333865955271125
              candy_collected:
                green_candy: 3
                total: 5
                purple_candy: 7
              auctions:
                gold_earned: 3.320056014655155
                fees: 4.353263425621577
                gold_spent: 0.4051792227050788
                no_bids: 0.06784119183428028
                created: 7.518272496022458
                won: 4.871784189820318
                bids: 7.544197694331755
                completed: 0.9627174579671982
                total_sold:
                  total: 4.3947316294731875
                  RARE: 2.574694337731398
                  EPIC: 4.293752567878694
                  MYTHIC: 3.4590983316410284
                  UNCOMMON: 2.248644391588969
                  COMMON: 6.035671461131996
                  ULTIMATE: 9.509152813767344
                  SPECIAL: 1.8977275858326403
                  LEGENDARY: 6.729814908604409
                total_bought:
                  total: 4.3947316294731875
                  RARE: 2.574694337731398
                  EPIC: 4.293752567878694
                  MYTHIC: 3.4590983316410284
                  UNCOMMON: 2.248644391588969
                  COMMON: 6.035671461131996
                  ULTIMATE: 9.509152813767344
                  SPECIAL: 1.8977275858326403
                  LEGENDARY: 6.729814908604409
                highest_bid: 5.838549898923979
              deaths:
                key: 2.4482595959997955
              gifts:
                total_given: 0.6344639387260975
                total_received: 3.9056129117945515
            quests:
              harp_quest:
                song_jeopardy_best_completion: 6.256551643086815
                song_joy_world_completions: 7
                song_joy_world_perfect_completions: 6
                song_pure_imagination_completions: 6
                song_fire_and_flames_perfect_completions: 2
                song_happy_birthday_perfect_completions: 9
                song_minuet_completions: 5
                selected_song_epoch: 4
                song_amazing_grace_completions: 6
                song_fire_and_flames_completions: 8
                song_greensleeves_perfect_completions: 9
                song_greensleeves_completions: 5
                song_vie_en_rose_perfect_completions: 5
                song_jeopardy_perfect_completions: 5
                song_amazing_grace_best_completion: 7.216942092530001
                claimed_talisman: true
                song_brahms_best_completion: 9.346823353257843
                song_minuet_perfect_completions: 2
                song_happy_birthday_best_completion: 6.386793961703848
                song_jeopardy_completions: 3
                song_amazing_grace_perfect_completions: 6
                song_frere_jacques_perfect_completions: 1
                song_pure_imagination_best_completion: 7.241980535118876
                selected_song: amazing_grace
                song_hymn_joy_completions: 7
                song_frere_jacques_best_completion: 9.789259243778144
                song_pachelbel_completions: 9
                song_greensleeves_best_completion: 6.319086197606895
                song_vie_en_rose_best_completion: 3.1014130182051702
                song_brahms_completions: 6
                song_frere_jacques_completions: 8
                song_fire_and_flames_best_completion: 5.522079714289619
                song_pachelbel_perfect_completions: 8
                song_vie_en_rose_completions: 8
                song_pure_imagination_perfect_completions: 2
                song_minuet_best_completion: 3.8003243173008885
                song_pachelbel_best_completion: 2.3829595258410583
                song_hymn_joy_perfect_completions: 3
                song_happy_birthday_completions: 0
                song_hymn_joy_best_completion: 7.110994263559267
                song_brahms_perfect_completions: 8
                song_joy_world_best_completion: 0.006296437436066338
              trapper_quest:
                last_task_time: 9
                pelt_count: 9
            profile:
              coop_invitation:
                confirmed_timestamp: 3
                invited_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                confirmed: true
                timestamp: 9
              deletion_notice:
                timestamp: 4
              cookie_buff_active: true
              personal_bank_upgrade: 0
              first_join: 1
              bank_account: 8.689470849767137
            accessory_bag_storage:
              tuning:
                slot_4:
                  walk_speed: 5
                  purchase_ts: 1
                  strength: 4
                  critical_damage: 1
                  defense: 1
                  critical_chance: 1
                  health: 6
                  attack_speed: 7
                  intelligence: 7
                slot_3:
                  walk_speed: 5
                  purchase_ts: 1
                  strength: 4
                  critical_damage: 1
                  defense: 1
                  critical_chance: 1
                  health: 6
                  attack_speed: 7
                  intelligence: 7
                slot_2:
                  walk_speed: 5
                  purchase_ts: 1
                  strength: 4
                  critical_damage: 1
                  defense: 1
                  critical_chance: 1
                  health: 6
                  attack_speed: 7
                  intelligence: 7
                slot_1:
                  walk_speed: 5
                  purchase_ts: 1
                  strength: 4
                  critical_damage: 1
                  defense: 1
                  critical_chance: 1
                  health: 6
                  attack_speed: 7
                  intelligence: 7
                refund_1: true
                highest_unlocked_slot: 4
                slot_0:
                  walk_speed: 5
                  purchase_ts: 1
                  strength: 4
                  critical_damage: 1
                  defense: 1
                  critical_chance: 1
                  health: 6
                  attack_speed: 7
                  intelligence: 7
              bag_upgrades_purchased: 3
              unlocked_powers:
              - null
              - null
              selected_power: adept
              highest_magical_power: 2
            collection:
              key: 6
            leveling:
              category_expanded: true
              highest_pet_score: 9
              guide_sort: a_to_z
              mining_fiesta_ores_mined: 2
              bop_bonus: DEFENSIVE_STRONGMAN
              completions:
                REAPER_PEPPERS: 8
                NUCLEUS_RUNS: 1
                REFINED_DARK_CACAO_TRUFFLE: 2
              completed_tasks:
              - null
              - null
              completed:
              - ABIPHONE_alchemist
              - ABIPHONE_alchemist
              experience: 8
              emblem_unlocks:
              - ALCHEMY_BREW
              - ALCHEMY_BREW
              task_sort: a_to_z
              claimed_talisman: true
              last_viewed_tasks:
              - last_viewed_tasks
              - last_viewed_tasks
              migrated_completions_2: true
              selected_symbol: null
              fishing_festival_sharks_killed: 5
              migrated: true
              migrated_completions: true
            jacobs_contest:
              contests:
                key:
                  claimed_medal: bronze
                  collected: 2
                  claimed_position: 8
                  claimed_participants: 9
                  claimed_rewards: true
              talked: true
              personal_bests:
                INK_SACK:3: 2
                POTATO_ITEM: 5
                CARROT_ITEM: 2
                CACTUS: 4
                SUGAR_CANE: 5
                MUSHROOM_COLLECTION: 2
                PUMPKIN: 8
                NETHER_STALK: 6
                WHEAT: 0
                MELON: 8
              migration: true
              perks:
                personal_bests: true
                farming_level_cap: 1
                double_drops: 9
              unique_brackets:
                gold:
                - null
                - null
                diamond:
                - null
                - null
                platinum:
                - null
                - null
                silver:
                - null
                - null
                bronze:
                - CACTUS
                - CACTUS
              medals_inv:
                gold: 1
                silver: 3
                bronze: 6
            rift:
              wizard_tower:
                wizard_quest_step: 6
                crumbs_laid_out: 8
              access:
                pass:
                  rift_server_joins: 0
                  from_refund: true
                  issued_at: 3
                  used_prism: true
                consumed_prism: true
                charge_track_timestamp: 8
                last_free: 0
              enigma:
                found_souls:
                - BACK2BASICS
                - BACK2BASICS
                bought_cloak: true
                claimed_bonus_index: 3
              castle:
                grubber_stacks: 7
                fairy_step: 2
                unlocked_pathway_skip: true
                bought_pathway_skip: true
              dead_cats:
                unlocked_pet: true
                montezuma:
                  tier: EPIC
                  heldItem: DEAD_CAT_FOOD
                  skin: skin
                  active: true
                  exp: 0.6485502897150197
                  type: FRACTURED_MONTEZUMA_SOUL
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  candyUsed: 2
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                found_cats:
                - eight
                - eight
                picked_up_detector: true
                talked_to_jacquelle: true
              wyld_woods:
                sirius_q_a_chain_done: true
                talked_threebrothers:
                - threebrother_0
                - threebrother_0
                bughunter_step: 2
                sirius_claimed_doubloon: true
                sirius_started_q_a: true
                sirius_completed_q_a: true
              inventory:
                ender_chest_contents:
                  data: data
                  type: 7
                equipment_contents:
                  data: data
                  type: 7
                inv_contents:
                  data: data
                  type: 7
                inv_armor:
                  data: data
                  type: 7
                ender_chest_page_icons:
                - ender_chest_page_icons
                - ender_chest_page_icons
              west_village:
                kat_house:
                  bin_collected_mosquito: 0
                  bin_collected_spider: 0
                  bin_collected_silverfish: 3
                crazy_kloon:
[...]
