openapi: 3.0.3
info:
  contact:
    name: Hypixel Support
    url: https://developer.hypixel.net
  termsOfService: https://hypixel.net/tos
  title: Hypixel Public API
  version: v2
  x-logo:
    altText: Hypixel Logo
    href: '#'
    url: https://api.hypixel.net/assets/images/logo.png
servers:
- url: https://api.hypixel.net
paths:
  /v2/skyblock/profile:
    get:
      description: "SkyBlock profile data, such as stats, objectives etc. The data\
        \ returned can differ depending on the players in-game API settings."
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profile by UUID
      tags:
      - SkyBlock
  /v2/skyblock/profiles:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profiles_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profiles by player
      tags:
      - SkyBlock
components:
  responses:
    DataMissing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
      description: "Some data is missing, this is usually a field."
    InvalidKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
      description: "Access is forbidden, usually due to an invalid API key being used."
    InvalidPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: The page provided is invalid.
    MalformedData:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
      description: Some data provided is invalid.
    MissingPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      description: The page provided does not exist.
    NoResult:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      description: The request responded with no result.
    NotPopulated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      description: The data is not yet populated and should be available shortly
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
      description: "A request limit has been reached, usually this is due to the limit\
        \ on the key being reached but can also be triggered by a global throttle."
  schemas:
    SkyBlockProfile:
      example:
        profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        members:
          key:
            fairy_soul:
              fairy_exchanges: 6
              total_collected: 0
              unspent_souls: 2
            player_data:
              unlocked_coll_tiers:
              - AGARICUS_CAP_-1
              - AGARICUS_CAP_-1
              fastest_target_practice: 8.65952233326453
              temp_stat_buffs:
              - amount: 5
                stat: 9
                expire_at: 7
                stat_id: cold_resistance
                key: cake_cold_resistance
              - amount: 5
                stat: 9
                expire_at: 7
                stat_id: cold_resistance
                key: cake_cold_resistance
              experience:
                SKILL_ALCHEMY: 5.898513389775777
                SKILL_ENCHANTING: 1.5673210879004595
                SKILL_TAMING: 2.162514338057849
                SKILL_COMBAT: 5.799021278474435
                SKILL_SOCIAL: 3.93938484566677
                SKILL_FISHING: 9.576768325858186
                SKILL_DUNGEONEERING: 2.7105647837031563
                SKILL_FARMING: 8.776709848030322
                SKILL_MINING: 2.1184454156145116
                SKILL_RUNECRAFTING: 6.434791978928281
                SKILL_FORAGING: 5.473133728634785
                SKILL_CARPENTRY: 2.4062866311545816
              crafted_generators:
              - ACACIA_1
              - ACACIA_1
              visited_modes:
              - combat_1
              - combat_1
              achievement_spawned_island_types:
              - DESERT
              - DESERT
              disabled_potion_effects:
              - null
              - null
              fishing_treasure_caught: 9
              active_effects:
              - level: 2
                infinite: true
                effect: END_PORTAL_FUMES
                flags: 7
                ticks_remaining: 8
                modifiers:
                - amp: 8
                  key: caffeinated
                - amp: 8
                  key: caffeinated
              - level: 2
                infinite: true
                effect: END_PORTAL_FUMES
                flags: 7
                ticks_remaining: 8
                modifiers:
                - amp: 8
                  key: caffeinated
                - amp: 8
                  key: caffeinated
              death_count: 2
              reaper_peppers_eaten: 9
              last_death: 9
              perks:
                catacombs_crit_damage: 9
                dwarven_training: 7
                unbreaking: 5
                catacombs_boss_luck: 6
                radiant_fisher: 9
                permanent_intelligence: 5
                drake_piper: 9
                edrag_cd: 3
                midas_lure: 8
                diamond_in_the_rough: 9
                bane: 7
                permanent_speed: 7
                under_pressure: 7
                increased_sup_chances: 2
                empowered_agility: 6
                permanent_health: 2
                forbidden_blessing: 0
                blessing_of_time: 0
                catacombs_health: 7
                catacombs_strength: 5
                return_to_sender: 4
                strongarm_kuudra: 6
                headstart_kuudra: 6
                heart_of_gold: 8
                permanent_defense: 1
                unbridled_rage: 6
                mana_after_ender_kill: 0
                catacombs_defense: 5
                harena_fortuna: 5
                catacombs_intelligence: 8
                combat_wisdom_in_end: 7
                inc_zealots_odds: 4
                rhinestone_infusion: 9
                vermin_control: 5
                flat_damage_vs_ender: 2
                crimson_training: 8
                season_of_joy: 7
                catacombs_looting: 4
                permanent_strength: 3
                spider_training: 7
                treasures_of_the_earth: 5
                fero_vs_dragons: 8
                fresh_tools_kuudra: 2
                revive_stone: 2
                wither_piper: 8
                high_roller: 9
                master_kuudra: 0
                frozen_skin: 4
                toxophilite: 1
                dragon_reforges_buff: 7
                eager_miner: 6
                cold_efficiency: 3
                fungus_fortuna: 2
                cooled_forges: 5
              paused_effects:
              - level: 2
                infinite: true
                effect: END_PORTAL_FUMES
                flags: 7
                ticks_remaining: 8
                modifiers:
                - amp: 8
                  key: caffeinated
                - amp: 8
                  key: caffeinated
              - level: 2
                infinite: true
                effect: END_PORTAL_FUMES
                flags: 7
                ticks_remaining: 8
                modifiers:
                - amp: 8
                  key: caffeinated
                - amp: 8
                  key: caffeinated
              visited_zones:
              - abandoned_quarry
              - abandoned_quarry
            player_stats:
              kills:
                key: 9.896762638307408
              pets:
                milestone:
                  ores_mined: 1.213271650177239
                  sea_creatures_killed: 2.3631069671221097
                total_exp_gained: 7.222885400820572
              glowing_mushrooms_broken: 7.546622872687339
              end_island:
                special_zealot_loot_collected: 9.86120873235807
                dragon_fight:
                  highest_rank:
                    unstable: 5.838549898923979
                    strong: 3.320056014655155
                    superior: 0.4051792227050788
                    wise: 0.06784119183428028
                    young: 6.035671461131996
                    old: 7.518272496022458
                    protector: 4.353263425621577
                    best: 0.9627174579671982
                  fastest_kill:
                    unstable: 5.417557261188433
                    strong: 4.7033509688401605
                    superior: 7.398420453445813
                    wise: 0.18231101049276166
                    young: 7.544197694331755
                    old: 0.9628372872377944
                    protector: 3.144698945386808
                    best: 5.089281714380826
                  most_damage:
                    unstable: 9.509152813767344
                    strong: 2.574694337731398
                    superior: 1.8977275858326403
                    wise: 2.248644391588969
                    young: 4.3947316294731875
                    old: 6.729814908604409
                    protector: 3.4590983316410284
                    best: 4.293752567878694
                  ender_crystals_destroyed: 4.676411609349872
                  summoning_eyes_contributed:
                    unstable: 2.4482595959997955
                    strong: 7.202214781826961
                    superior: 5.998413894995064
                    total: 7.028390615751622
                    wise: 7.26639603893227
                    young: 3.6805440658947353
                    old: 4.871784189820318
                    protector: 3.8203140861079268
                  amount_summoned:
                    unstable: 1.3072249028841099
                    strong: 6.150055333250726
                    superior: 7.318847743658732
                    total: 1.2155306360461038
                    wise: 0.7060502249250589
                    young: 7.6562431466612715
                    old: 8.504534952644262
                    protector: 9.03118599298806
                summoning_eyes_collected: 0.5726569451250851
              shredder_rod:
                bait: 8.47342148337535
                fished: 4.374692895964676
              winter:
                most_cannonballs_hit: 2.4086429347217155
                most_magma_damage_dealt: 7.367137886120934
                most_damage_dealt: 2.86303896191088
                most_snowballs_hit: 6.213099901862703
              highest_critical_damage: 4.213318283605179
              items_fished:
                normal: 2.7774516884683207
                total: 3.653225073048929
                outstanding: 6.450650644517728
                trophy_fish: 3.972365736764316
                large_treasure: 9.27560048618725
                treasure: 2.9605093907508873
              rift:
                popped_balloons: 8.023601755208588
                west_hot_dogs_given: 4.964997965650228
                dreadfarm_agaricus_harvested: 4.491469366705411
                lagoon_leech_supreme_killed: 8.9226305590135
                lagoon_lil_pads_sold: 7.765331561625514
                shen_item_bought:
                  PUNCHCARD_ARTIFACT: 3.720358823730775
                  total: 7.794956613763416
                  RIFT_PRISM: 7.871715088929257
                  DEAD_CAT_FOOD: 5.017514155292483
                  PLACEABLE_FAIRY_SOUL_RIFT: 7.831773195677409
                  FLEX_HELMET: 8.656046911534922
                lagoon_rocks_game_complete: 8.87986788654488
                living_cave_snake_collected: 2.333970583527283
                colosseum_bacte_defeated: 9.632839541020122
                dreadfarm_chicken_killed: 2.54225202191946
                lifetime_motes_earned: 0.2251139985378936
                plaza_red_light_deaths: 6.484479003119764
                visits: 7.6692351399026615
                plaza_pillar_deaths: 0.16687043991910788
                woods_larva_killed: 9.076472791212817
                dreadfarm_caducous_harvested: 6.386457342265177
                odonata_repeatable_completed: 8.852118736990365
                dreadfarm_bean_bulb_collected: 1.8023274910352782
                lagoon_mushroom_popped_out: 9.514519502384317
                motes_orb_pickup: 1.740089112612726
                plaza_hay_deaths: 9.49963371728803
                plaza_horsezooka_shot: 8.833395488051972
                living_metal_piece_maxed: 6.751774869153997
                west_vermin_vacuumed:
                  total: 9.234038131550328
                  silverfish: 0.5134809551456831
                  spider: 6.281469292042608
                  mosquito: 1.1698722986549792
                living_metal_spawnegg_used: 7.850091051100325
                woods_odonata_bottled: 6.270880607505447
                colosseum_blaster_shots: 1.3266957103239585
                colosseum_globowls_at_tentacle: 0.5361818527416851
                castle_effigy_broken: 8.932428877068963
                dreadfarm_wilted_harvested: 2.0443769993225045
                castle_sent_to_prison: 4.333865955271125
                pass_consumed: 0.28100571035981403
                dreadfarm_riftwarts_harvested: 7.4907652507908296
                west_cake_part_eaten: 1.2679033304913534
              sea_creature_kills: 4.611879174267083
              spooky:
                bats_spawned:
                  total: 2.791286327863345
              highest_damage: 5.5979065183521515
              races:
                dungeon_hub:
                  precursor_ruins_no_pearls_with_return_best_time: 6.42132679200332
                  crystal_core_no_pearls_with_return_best_time: 7.48340630885329
                  crystal_core_no_abilities_no_return_best_time: 8.161079205791609
                  giant_mushroom_anything_no_return_best_time: 5.697937978554375
                  precursor_ruins_nothing_no_return_best_time: 3.1825287809356806
                  precursor_ruins_no_pearls_no_return_best_time: 7.124409592356507
                  precursor_ruins_no_abilities_with_return_best_time: 9.193816582380814
                  giant_mushroom_nothing_with_return_best_time: 3.9056129117945515
                  giant_mushroom_no_pearls_no_return_best_time: 7.351823381238441
                  precursor_ruins_anything_no_return_best_time: 4.848725868319991
                  crystal_core_nothing_no_return_best_time: 6.376878057660531
                  crystal_core_anything_with_return_best_time: 1.689503059403632
                  precursor_ruins_anything_with_return_best_time: 3.0611254872537885
                  precursor_ruins_no_abilities_no_return_best_time: 5.303454161840017
                  crystal_core_anything_no_return_best_time: 2.7239989256176766
                  crystal_core_nothing_with_return_best_time: 9.28860627653261
                  crystal_core_no_pearls_no_return_best_time: 1.7910320945003844
                  giant_mushroom_no_abilities_with_return_best_time: 1.2613062240772
                  giant_mushroom_no_abilities_no_return_best_time: 1.3389174281452143
                  precursor_ruins_nothing_with_return_best_time: 6.044388903904137
                  giant_mushroom_anything_with_return_best_time: 7.056230564967713
                  giant_mushroom_nothing_no_return_best_time: 0.6344639387260975
                  giant_mushroom_no_pearls_with_return_best_time: 9.746540672619648
                  crystal_core_no_abilities_with_return_best_time: 6.735116218976787
                foraging_race_best_time: 0.890175895976929
                chicken_race_best_time_2: 3.4824880742629363
                end_race_best_time: 6.387893485862778
                rift_race_best_time: 1.0979907423791868
              crops_mined: 1.511719429977132
              mythos:
                kills: 1.2030108490558
                burrows_dug_treasure:
                  total: 4.566901520815597
                  RARE: 7.847955824035001
                  "null": 2.1230426852719706
                  EPIC: 5.535500986371801
                  UNCOMMON: 0.6438275157314799
                  COMMON: 8.144671038106528
                  none: 8.65783973983825
                  LEGENDARY: 5.15647973354139
                burrows_chains_complete:
                  total: 4.566901520815597
                  RARE: 7.847955824035001
                  "null": 2.1230426852719706
                  EPIC: 5.535500986371801
                  UNCOMMON: 0.6438275157314799
                  COMMON: 8.144671038106528
                  none: 8.65783973983825
                  LEGENDARY: 5.15647973354139
                burrows_dug_combat:
                  total: 4.566901520815597
                  RARE: 7.847955824035001
                  "null": 2.1230426852719706
                  EPIC: 5.535500986371801
                  UNCOMMON: 0.6438275157314799
                  COMMON: 8.144671038106528
                  none: 8.65783973983825
                  LEGENDARY: 5.15647973354139
                burrows_dug_next:
                  total: 4.566901520815597
                  RARE: 7.847955824035001
                  "null": 2.1230426852719706
                  EPIC: 5.535500986371801
                  UNCOMMON: 0.6438275157314799
                  COMMON: 8.144671038106528
                  none: 8.65783973983825
                  LEGENDARY: 5.15647973354139
              candy_collected:
                green_candy: 0
                total: 7
                purple_candy: 4
              auctions:
                gold_earned: 1.1424055936677446
                fees: 4.585740805390009
                gold_spent: 4.798043284589512
                no_bids: 3.622987733194878
                created: 8.372990167315406
                won: 6.3376513736404565
                bids: 1.165800116953516
                completed: 7.99596378710894
                total_sold:
                  total: 9.368303559405051
                  RARE: 8.456690786865144
                  EPIC: 6.670927598965964
                  MYTHIC: 7.868560699983488
                  UNCOMMON: 1.2938597832309906
                  COMMON: 2.3351791640726405
                  ULTIMATE: 6.052391178479496
                  SPECIAL: 7.280139268854917
                  LEGENDARY: 5.357183477019641
                total_bought:
                  total: 9.368303559405051
                  RARE: 8.456690786865144
                  EPIC: 6.670927598965964
                  MYTHIC: 7.868560699983488
                  UNCOMMON: 1.2938597832309906
                  COMMON: 2.3351791640726405
                  ULTIMATE: 6.052391178479496
                  SPECIAL: 7.280139268854917
                  LEGENDARY: 5.357183477019641
                highest_bid: 3.506510052013918
              deaths:
                key: 9.170385347067478
              gifts:
                total_given: 4.511077460894262
                total_received: 6.537712918802372
            dungeons:
              selected_dungeon_class: selected_dungeon_class
              dungeon_types:
                key:
                  best_score:
                    key: 3.353193347011243
                  tier_completions:
                    key: 4.078845849666752
                  fastest_time_s_plus:
                    key: 7.058770351582356
                  most_damage_tank:
                    key: 7.04836565559697
                  watcher_kills:
                    key: 6.628464275087742
                  times_played:
                    key: 0.2025324113236393
                  experience: 3.0937452626664474
                  milestone_completions:
                    key: 0.10263654006109402
                  most_damage_berserk:
                    key: 7.740351818741173
                  most_damage_healer:
                    key: 3.0205796992916243
                  most_mobs_killed:
                    key: 3.2588565619047607
                  fastest_time:
                    key: 7.143538047012306
                  most_damage_mage:
                    key: 3.0576100241049344
                  most_damage_archer:
                    key: 8.969578798196912
                  fastest_time_s:
                    key: 0.8851374739011653
                  most_healing:
                    key: 5.533258397034986
                  best_runs:
                    key:
                    - damage_dealt: 8.762042012749001
                      damage_mitigated: 9.018348186070783
                      ally_healing: 6.683562403749608
                      score_skill: 6
                      score_exploration: 2
                      dungeon_class: dungeon_class
                      score_bonus: 1
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 6
                      elapsed_time: 3
                      mobs_killed: 6
                      secrets_found: 5
                      deaths: 6
                      timestamp: 6
                    - damage_dealt: 8.762042012749001
                      damage_mitigated: 9.018348186070783
                      ally_healing: 6.683562403749608
                      score_skill: 6
                      score_exploration: 2
                      dungeon_class: dungeon_class
                      score_bonus: 1
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 6
                      elapsed_time: 3
                      mobs_killed: 6
                      secrets_found: 5
                      deaths: 6
                      timestamp: 6
                  mobs_killed:
                    key: 4.652396432933246
                  highest_tier_completed: 6
              player_classes:
                key:
                  experience: 4.258773108174356
              dungeon_journal:
                unlocked_journals:
                - unlocked_journals
                - unlocked_journals
              dungeon_hub_race_settings:
                selected_race: selected_race
                runback: true
                selected_setting: selected_setting
              last_dungeon_run: last_dungeon_run
              daily_runs:
                completed_runs_count: 9
                current_day_stamp: 9
              treasures:
                chests:
                - run_id: run_id
                  paid: true
                  chest_id: chest_id
                  rerolls: 7
                  treasure_type: treasure_type
                  shiny_eligible: true
                  rewards:
                    rewards:
                    - rewards
                    - rewards
                    rolled_rng_meter_randomly: true
                  quality: 4
                - run_id: run_id
                  paid: true
                  chest_id: chest_id
                  rerolls: 7
                  treasure_type: treasure_type
                  shiny_eligible: true
                  rewards:
                    rewards:
                    - rewards
                    - rewards
                    rolled_rng_meter_randomly: true
                  quality: 4
                runs:
                - run_id: run_id
                  dungeon_tier: 0
                  completion_ts: 9
                  dungeon_type: dungeon_type
                  participants:
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                - run_id: run_id
                  dungeon_tier: 0
                  completion_ts: 9
                  dungeon_type: dungeon_type
                  participants:
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
              dungeons_blah_blah:
              - dungeons_blah_blah
              - dungeons_blah_blah
              secrets: 1
            profile:
              coop_invitation:
                confirmed_timestamp: 7
                invited_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                confirmed: true
                timestamp: 4
              deletion_notice:
                timestamp: 2
              cookie_buff_active: true
              personal_bank_upgrade: 6
              first_join: 0
              bank_account: 0.0987341304736633
            accessory_bag_storage:
              tuning:
                slot_4:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_3:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_2:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_1:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                highest_unlocked_slot: 2
                slot_0:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
              bag_upgrades_purchased: 5
              unlocked_powers:
              - unlocked_powers
              - unlocked_powers
              selected_power: selected_power
              highest_magical_power: 5
            collection:
              key: 7
            inventory:
              ender_chest_contents:
                data: data
                type: 9
              equipment_contents:
                data: data
                type: 9
              wardrobe_contents:
                data: data
                type: 9
              sacks_counts:
                key: 7
              personal_vault_contents:
                data: data
                type: 9
              inv_contents:
                data: data
                type: 9
              backpack_contents:
                key:
                  data: data
                  type: 9
              wardrobe_equipped_slot: 6
              bag_contents:
                fishing_bag:
                  data: data
                  type: 9
                potion_bag:
                  data: data
                  type: 9
                sacks_bag:
                  data: data
                  type: 9
                talisman_bag:
                  data: data
                  type: 9
                quiver:
                  data: data
                  type: 9
              inv_armor:
                data: data
                type: 9
              backpack_icons:
                key:
                  data: data
                  type: 9
            leveling:
              category_expanded: true
              highest_pet_score: 8
              mining_fiesta_ores_mined: 7
              bop_bonus: bop_bonus
              completions:
                REAPER_PEPPERS: 3
                NUCLEUS_RUNS: 5
                REFINED_DARK_CACAO_TRUFFLE: 1
              completed_tasks:
              - ABIPHONE_alchemist
              - ABIPHONE_alchemist
              experience: 5
              emblem_unlocks:
              - ALCHEMY_BREW
              - ALCHEMY_BREW
              claimed_talisman: true
              last_viewed_tasks:
              - last_viewed_tasks
              - last_viewed_tasks
              migrated_completions_2: true
              selected_symbol: null
              fishing_festival_sharks_killed: 3
              migrated: true
              migrated_completions: true
            item_data:
              soulflow: 0
              teleporter_pill_consumed: true
              favorite_arrow: favorite_arrow
            jacobs_contest:
              contests:
                key:
                  collected: 7
                  claimed_position: 0
                  claimed_participants: 4
                  claimed_rewards: true
              talked: true
              personal_bests:
                key: 3
              migration: true
              perks:
                personal_bests: true
                farming_level_cap: 2
                double_drops: 4
              unique_brackets:
                key:
                - unique_brackets
                - unique_brackets
              medals_inv:
                gold: 6
                silver: 2
                bronze: 1
            mining_core:
              selected_pickaxe_ability: anomalous_desire
              greater_mines_last_access: 8
              experience: 9.505836306729838
              daily_ores_mined_day_mithril_ore: 7
              daily_ores_mined_day_gemstone: 9
              daily_ores_mined_day_glacite: 2
              powder_spent_gemstone: 0
              last_reset: 2
              powder_spent_glacite: 9
              hotm_migrator_tree_reset_send_message: true
              powder_glacite: 6
              tokens: 5
              retroactive_tier2_token: true
              current_daily_effect_last_changed: 4
              received_free_tier: true
              daily_ores_mined_gemstone: 7
              crystals:
                amethyst_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                jasper_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                peridot_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                topaz_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                amber_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                onyx_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                opal_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                ruby_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                sapphire_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                jade_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                citrine_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                aquamarine_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
              tokens_spent: 8
              biomes:
                dwarven: "{}"
                precursor:
                  claiming_with_precursor_apparatus: true
                  talked_to_professor: true
                  parts_delivered:
                  - CONTROL_SWITCH
                  - CONTROL_SWITCH
                goblin:
                  king_quests_completed: 2
                  king_quest_active: true
                jungle:
                  jungle_temple_open: true
                  jungle_temple_chest_uses: 8
              daily_ores_mined_day: 5
              daily_ores_mined_glacite: 6
              powder_mithril_total: 6
              daily_ores_mined_mithril_ore: 6
              current_daily_effect: current_daily_effect
              powder_glacite_total: 6
              powder_spent_mithril: 3
              nodes:
                mining_speed: 7
                mining_speed_boost: 1
                forge_time: 8
                subzero_mining: 7
                vanguard_seeker: 1
                hungry_for_more: 9
                random_event: 0
                crystalline: 3
                subterranean_fisher: 6
                mining_madness: 2
                professional: 4
                strong_arm: 9
                vein_seeker: 6
                efficient_miner: 8
                toggle_excavator: true
                anomalous_desire: 6
                rags_to_riches: 8
                keep_it_cool: 5
                toggle_great_explorer: true
                toggle_daily_powder: true
                fallen_star_bonus: 5
                toggle_mole: true
                mole: 4
                surveyor: 0
                miners_blessing: 8
                mineshaft_mayhem: 8
                frozen_solid: 1
                toggle_subzero_mining: true
                dust_collector: 2
                front_loaded: 0
                great_explorer: 5
                toggle_titanium_insanium: true
                mining_master: 1
                warm_hearted: 9
                titanium_insanium: 9
                toggle_daily_effect: true
                pickaxe_toss: 3
                toggle_keep_it_cool: true
                toggle_lonesome_miner: true
                daily_powder: 4
                mining_fortune_2: 1
                mining_experience: 6
                gifts_from_the_departed: 2
                mining_fortune: 7
                toggle_subterranean_fisher: true
                no_stone_unturned: 4
                toggle_efficient_miner: true
                experience_orbs: 6
                toggle_hungry_for_more: true
                excavator: 2
                sheer_force: 8
                toggle_metal_head: true
                special_0: 5
                steady_hand: 9
                metal_head: 4
                toggle_vanguard_seeker: true
                eager_adventurer: 2
                toggle_random_event: true
                maniac_miner: 8
                toggle_fortunate: true
                blockhead: 1
                toggle_blockhead: true
                toggle_professional: true
                toggle_precision_mining: true
                daily_grind: 1
                toggle_forge_time: true
                toggle_mining_fortune: true
                goblin_killer: 8
                gemstone_infusion: 8
                powder_buff: 3
                toggle_mining_speed: true
                fortunate: 5
                old_school: 1
                toggle_surveyor: true
                keen_eye: 2
                precision_mining: 1
                lonesome_miner: 5
                mining_speed_2: 7
                toggle_powder_buff: true
                daily_effect: 9
                toggle_frozen_solid: true
                toggle_front_loaded: true
              powder_mithril: 7
              powder_gemstone_total: 8
              stash_if_full_notification: true
              daily_ores_mined: 3
              powder_gemstone: 9
            nether_island_player_data:
              barbarians_reputation: 9.908114046741538
              last_minibosses_killed:
              - last_minibosses_killed
              - last_minibosses_killed
              quests:
                found_kuudra_boots: true
                pablo_quest:
                  pablo_item: pablo_item
                  pablo_last_give: 7
                  pablo_active: true
                suus_quest:
                  mob_id: mob_id
                  last_completion: 9
                  last_toy_drop: 4
                  talked_to_npc: true
                edelis_quest:
                  heard_story_home: true
                  heard_story_statue: true
                cavity_rarity: SPECIAL
                last_reset: 6
                aranya_quest: "{}"
                alchemist_quest:
                  alchemist_quest_start: true
                  alchemist_quest_progress: 2
                paid_bruuh: true
                weird_sailor: true
                found_kuudra_book: true
                sirih_quest:
                  last_give: 9
                  sulphur_given: 5
                  dialogue_index: 8
                pomtair_quest:
                  last_completion: 9
                  talked_to_npc: true
                rulenor:
                  talked_to: true
                  last_payment: 3
                duel_training_quest:
                  duel_training_phase_barbarians: 4
                  duel_training_last_complete_barbarians: 0
                  duel_training_last_complete_mages: 5
                  duel_training_phase_mages: 4
                unlocked_cavity_npcs:
                - arch
                - arch
                last_vampire_blood: 1
                found_kuudra_leggings: true
                last_kuudra_relic: 2
                kuudra_loremaster: true
                fished_wet_napkin: true
                miniboss_daily: "{}"
                chicken_quest:
                  chicken_quest_collected:
                  - Chickovsky
                  - Chickovsky
                  chicken_quest_progress: 6
                  chicken_quest_start: true
                found_kuudra_chestplate: true
                quest_rewards:
                  key: 9
                chicken_quest_handed_in: 3
                found_kuudra_helmet: true
                miniboss_data:
                  ASHFANG: true
                  BLADESOUL: true
                  BARBARIAN_DUKE_X: true
                  MAGMA_BOSS: true
                  MAGE_OUTLAW: true
                quest_data:
                  boss:
                    completed_at: 0
                    progress: 5
                    claimed_rewards: true
                    status: ACTIVE
                  fetch:
                    completed_at: 0
                    progress: 5
                    claimed_rewards: true
                    status: ACTIVE
                  fishing:
                    completed_at: 0
                    progress: 5
                    claimed_rewards: true
                    status: ACTIVE
                  rescue:
                    completed_at: 0
                    progress: 5
                    claimed_rewards: true
                    status: ACTIVE
                  wanted_mini_boss:
                    completed_at: 0
                    progress: 5
                    claimed_rewards: true
                    status: ACTIVE
                  dojo:
                    completed_at: 0
                    progress: 5
                    claimed_rewards: true
                    status: ACTIVE
                  quest_list:
                  - quest_list
                  - quest_list
                last_believer_blessing: 2
                mollim_quest:
                  completed_quest: true
                  talked_to_npc: true
                  splashed_grand_exp_bottle: true
                kuuda_boss_daily: "{}"
              selected_faction: barbarians
              npc_path:
                npc_id: npc_id
                path_id: path_id
                skin: skin
                path_index: 7
              abiphone:
                selected_sort: alphabetical
                selected_ringtone: DEFAULT
                has_used_sirius_personal_phone_number_item: true
                operator_chip:
                  repaired_index: 0
                active_contacts:
                - alchemist
                - alchemist
                games: "{}"
                last_dye_called_year: 0
                trio_contact_addons: 4
                contact_data:
                  pablo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  dusk:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  einary:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  brynmor:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  forge_foreman:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  queen_mismyla:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  gemstone:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  blacksmith:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  lumber_merchant:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  odger:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  fairy:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  tomioka:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  alchemist:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  community_shop:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  wool_weaver:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  captain_ahone:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  drill_fuel_mechanic:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  spooky:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  thaumaturgist:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  igrupan:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  rollim:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  suus:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  bingo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  dean:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  anita:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  queen:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  kaus:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  vincent:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  elle:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  gatekeeper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  oringo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  sirius:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  plumber:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  zog:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  hoppity:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  builder:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  st_jerry:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  aranya:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  jacob:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  trevor_the_trapper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  telekinesis_applier:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  arrow_forger:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  pet_collector:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  slayer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  walter:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  roddy:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  shady_bartender:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  pet_trainer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  alixer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  pet_sitter:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  duncan:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  kuudra_gatekeeper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  ophelia:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  sirih:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
                  trinity:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 8
                    incoming_calls_count: 7
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 9
              kuudra_party_finder:
                group_builder:
                  note: note
                  tier: BURNING
                  combat_level_required: 8
                search_settings:
                  search: search
                  tier: null
                  sort: HIGHEST_COMBAT_LEVEL
                  combat_level: combat_level
              matriarch:
                pearls_collected: 4
                recent_refreshes:
                - 7
                - 7
                last_attempt: 7
              kuudra_completed_tiers:
                burning: 0
                infernal: 9
                highest_wave_infernal: 3
                highest_wave_burning: 6
                highest_wave_none: 8
                highest_wave_hot: 2
                fiery: 4
                highest_wave_fiery: 4
                none: 9
                hot: 5
              dojo:
                dojo_points_lock_head: 8
                dojo_points_wall_jump: 5
                dojo_points_sword_swap: 6
                dojo_time_snake: 0
                dojo_time_wall_jump: 2
                dojo_time_lock_head: 4
                dojo_time_sword_swap: 7
                dojo_points_mob_kb: 7
                dojo_points_fireball: 7
                dojo_time_archer: 8
                dojo_points_snake: 1
                dojo_points_archer: 7
                dojo_time_fireball: 0
                dojo_time_mob_kb: 4
              mages_reputation: 4.39343993729625
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            glacite_player_data:
              corpses_looted:
                tungsten: 6
                umber: 4
                lapis: 7
                vanguard: 0
              mineshafts_entered: 9
              fossils_donated:
              - fossils_donated
              - fossils_donated
              fossil_dust: 0.4867146239815201
            pets_data:
              pets:
              - tier: COMMON
                extra:
                  key: 2.1305968583238744
                heldItem: ALL_SKILLS_SUPER_BOOST
                skin: skin
                active: true
                exp: 3.6300678941289712
                type: null
                uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                candyUsed: 8
                uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - tier: COMMON
                extra:
                  key: 2.1305968583238744
                heldItem: ALL_SKILLS_SUPER_BOOST
                skin: skin
                active: true
                exp: 3.6300678941289712
                type: null
                uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                candyUsed: 8
                uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              pet_care:
                pet_types_sacrificed:
                - BABY_YETI
                - BABY_YETI
                coins_spent: 4.786929569572925
              autopet:
                migrated_2: true
                rules_limit: 3
                rules:
                - data:
                    boss: boss
                    entity_type: entity_type
                    island: island
                    skill: skill
                    collection: collection
                    slot: slot
                    category: category
                    floor: floor
                    class: class
                    master: master
                  name: name
                  disabled: true
                  id: BOSS_SPAWN
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  exceptions:
                  - data:
                      island: island
                      event: event
                      pet: pet
                    id: DURING_EVENT
                  - data:
                      island: island
                      event: event
                      pet: pet
                    id: DURING_EVENT
                  pet: AMMONITE
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                - data:
                    boss: boss
                    entity_type: entity_type
                    island: island
                    skill: skill
                    collection: collection
                    slot: slot
                    category: category
                    floor: floor
                    class: class
                    master: master
                  name: name
                  disabled: true
                  id: BOSS_SPAWN
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  exceptions:
                  - data:
                      island: island
                      event: event
                      pet: pet
                    id: DURING_EVENT
                  - data:
                      island: island
                      event: event
                      pet: pet
                    id: DURING_EVENT
                  pet: AMMONITE
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                migrated: true
            experimentation:
              claims_resets: 5
              simon:
                bonus_clicks: 2
                attempts_0: 3
                claimed: true
                attempts_5: 7
                attempts_1: 9
                attempts_2: 7
                attempts_3: 7
                last_attempt: 8
                best_score_1: 1
                best_score_0: 9
                best_score_3: 3
                best_score_2: 4
                best_score_5: 8
                last_claimed: 2
                claims_5: 4
                claims_2: 8
                claims_3: 6
                claims_0: 9
                claims_1: 4
              claimed_retroactive_rng: true
              numbers:
                bonus_clicks: 0
                claimed: true
                attempts_1: 0
                attempts_2: 3
                attempts_3: 2
                last_attempt: 2
                best_score_1: 3
                best_score_3: 4
                best_score_2: 8
                last_claimed: 9
                claims_2: 7
                claims_3: 4
                claims_1: 0
              claims_resets_timestamp: 7
              charge_track_timestamp: 9
              serums_drank: 1
              pairings:
                bonus_clicks: 1
                claimed: true
                last_attempt: 5
                best_score_1: 2
                best_score_0: 0
                best_score_3: 4
                best_score_2: 6
                best_score_5: 9
                best_score_4: 6
                last_claimed: 3
                claims_4: 4
                claims_5: 5
                claims_2: 5
                claims_3: 1
                claims_0: 1
                claims_1: 3
            forge:
              forge_processes:
                key: null
            bestiary:
              kills:
                last_killed_mob: last_killed_mob
              miscellaneous:
                max_kills_visible: true
              milestone:
                last_claimed_milestone: 6
              migration: true
              migrated_stats: true
              deaths:
                key: 1
            objectives:
              talk_to_lumberjack:
                completed_at: 2
                progress: 0
                status: null
              unlock_crop_plot:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_anything_no_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_anything_no_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_braum:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_anything_no_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_anything_no_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              reach_pigmens_den:
                completed_at: 2
                progress: 0
                status: null
              talk_to_carpenter:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_no_pearls_with_return_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_no_pearls_with_return_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_moby_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_giant_mushroom_no_abilities_with_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_giant_mushroom_no_abilities_with_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_no_pearls_with_return_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_giant_mushroom_no_abilities_with_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_no_pearls_with_return_2:
                completed_at: 2
                progress: 0
                status: null
              complete_the_giant_mushroom_no_abilities_with_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              defeat_arachne_keeper:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_pearls_with_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_pearls_with_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_pearls_with_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_pearls_with_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              give_sulphur_to_pig:
                completed_at: 2
                progress: 0
                status: null
              rift_mountain_ubik_averages:
                completed_at: 2
                progress: 0
                status: null
              rift_unhinged_kloon:
                completed_at: 2
                progress: 0
                status: null
              rift_enigma_bark:
                completed_at: 2
                progress: 0
                status: null
              talk_to_redstone_miner:
                completed_at: 2
                progress: 0
                status: null
              rift_seraphine:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_no_abilities_no_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_no_abilities_no_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_shaggy_new_2:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_no_abilities_no_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_no_abilities_no_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_shaggy_new_0:
                completed_at: 2
                progress: 0
                status: null
              hub_get_outside_necklace_from_elise:
                completed_at: 2
                progress: 0
                status: null
              talk_to_shaggy_new_1:
                completed_at: 2
                progress: 0
                status: null
              rift_dreadfarm_flowerpot:
                completed_at: 2
                progress: 0
                status: null
              escort_elle_and_ugo_to_the_chief:
                completed_at: 2
                progress: 0
                status: null
              talk_to_lumberjack_2:
                completed_at: 2
                progress: 0
                status: null
              rift_enigma_original:
                completed_at: 2
                progress: 0
                status: null
              rift_tel_kar:
                completed_at: 2
                progress: 0
                status: null
              rift_castle_standing:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_no_pearls_no_return_1:
                completed_at: 2
                progress: 0
                status: null
              find_pickaxe:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_no_pearls_no_return_2:
                completed_at: 2
                progress: 0
                status: null
              rift_reed:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_no_pearls_no_return_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_no_pearls_no_return_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_lone_adventurer_1:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_nothing_with_return_1:
                completed_at: 2
                progress: 0
                status: null
              talk_to_lone_adventurer_2:
                completed_at: 2
                progress: 0
                status: null
              rift_cave_1_craft_pickaxe:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_nothing_with_return_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_lone_adventurer_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_nothing_with_return_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_lone_adventurer_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_lone_adventurer_5:
                completed_at: 2
                progress: 0
                status: null
              talk_to_lone_adventurer_6:
                completed_at: 2
                progress: 0
                status: null
              talk_to_enid:
                completed_at: 2
                progress: 0
                status: null
              rift_cave_2_juice_piece:
                completed_at: 2
                progress: 0
                status: null
              rift_cave_3_max_suit:
                completed_at: 2
                progress: 0
                status: null
              talk_to_artist_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_artist_1:
                completed_at: 2
                progress: 0
                status: null
              talk_to_charlie:
                completed_at: 2
                progress: 0
                status: null
              talk_to_odger:
                completed_at: 2
                progress: 0
                status: null
              catch_laseas_fish:
                completed_at: 1
                flyfish_fished: 2
                progress: 2
                skeleton_fish_fished: 8
                status: null
              increase_mining_skill:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_nothing_no_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_giant_mushroom_no_pearls_with_return_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_anything_with_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_nothing_no_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_giant_mushroom_no_pearls_with_return_2:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_nothing_no_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_giant_mushroom_no_pearls_with_return_3:
                completed_at: 2
                progress: 0
                status: null
              complete_the_precursor_ruins_nothing_no_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_giant_mushroom_no_pearls_with_return_4:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_anything_with_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_anything_with_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_anything_with_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_nothing_with_return_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_chief:
                completed_at: 2
                progress: 0
                status: null
              summon_arachne:
                completed_at: 2
                progress: 0
                status: null
              rift_hot_dog:
                completed_at: 2
                progress: 0
                status: null
              claim_fishing_rod:
                completed_at: 2
                progress: 0
                status: null
              rift_mountain_phantom:
                completed_at: 2
                progress: 0
                status: null
              talk_to_gris:
                completed_at: 2
                progress: 0
                status: null
              reach_diamond_reserve:
                completed_at: 2
                progress: 0
                status: null
              rift_mountain_close_breach:
                completed_at: 2
                progress: 0
                status: null
              talk_to_farmer_2:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_abilities_with_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_abilities_with_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_abilities_with_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              rift_enigma_flower_pot_1:
                completed_at: 2
                progress: 0
                status: null
              talk_to_gemma:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_abilities_with_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              defeat_magma_boss:
                completed_at: 2
                progress: 0
                status: null
              rift_mountain_balloons:
                completed_at: 2
                progress: 0
                status: null
              talk_to_pet_sitter:
                completed_at: 2
                progress: 0
                status: null
              set_up_stand:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_no_abilities_with_return_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_no_abilities_with_return_3:
                completed_at: 2
                progress: 0
                status: null
              rift_lagoon_parkour:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_no_abilities_with_return_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_no_abilities_with_return_1:
                completed_at: 2
                progress: 0
                status: null
              find_the_deans_research:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_anything_with_return_1:
                completed_at: 2
                progress: 0
                status: null
              follow_elle_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_anything_with_return_2:
                completed_at: 2
                progress: 0
                status: null
              follow_elle_3:
                completed_at: 2
                progress: 0
                status: null
              follow_elle_4:
                completed_at: 2
                progress: 0
                status: null
              reach_slimehill:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_anything_with_return_3:
                completed_at: 2
                progress: 0
                status: null
              rift_mountain_walk_of_fame_wall:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_precursor_ruins_anything_with_return_4:
                completed_at: 2
                progress: 0
                status: null
              kill_weak_enderman:
                completed_at: 2
                progress: 0
                status: null
              collect_clay:
                completed_at: 2
                progress: 0
                status: null
              rift_rabbit_under_hat:
                completed_at: 2
                progress: 0
                status: null
              rift_back2basics:
                completed_at: 2
                progress: 0
                status: null
              defeat_the_monster_2:
                completed_at: 6
                completions: 6
                progress: 5
                status: null
              select_barbarian_faction:
                completed_at: 2
                progress: 0
                status: null
              maddox_batphone:
                completed_at: 2
                progress: 0
                status: null
              increase_redstone_coll_2:
                completed_at: 2
                progress: 0
                status: null
              meet_ugo:
                completed_at: 2
                progress: 0
                status: null
              buy_chum_bucket_from_moby:
                completed_at: 2
                progress: 0
                status: null
              talk_to_roddy:
                completed_at: 2
                progress: 0
                status: null
              defeat_the_monster:
                completed_at: 6
                completions: 6
                progress: 5
                status: null
              reach_fishing_5:
                completed_at: 2
                progress: 0
                status: null
              rift_beanstalk:
                completed_at: 2
                progress: 0
                status: null
              talk_to_igrupan:
                completed_at: 2
                progress: 0
                status: null
              find_the_goblin_queen:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_abilities_no_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              rift_kat_soul:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_abilities_no_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              collect_log:
                completed_at: 2
                progress: 0
                status: null
              talk_to_dulin_1:
                completed_at: 2
                progress: 0
                status: null
              talk_to_ugo_6:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_nothing_no_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_ugo_5:
                completed_at: 2
                progress: 0
                status: null
              talk_to_ugo_4:
                completed_at: 2
                progress: 0
                status: null
              talk_to_ugo_3:
                completed_at: 2
                progress: 0
                status: null
              tutorial:
              - tutorial
              - tutorial
              complete_the_crystal_core_nothing_no_return_race_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_abilities_no_return_race_4:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_nothing_no_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_ugo_8:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_no_abilities_no_return_race_3:
                completed_at: 2
                progress: 0
                status: null
              complete_the_crystal_core_nothing_no_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_ugo_7:
                completed_at: 2
                progress: 0
                status: null
              explore_hub:
                completed_at: 2
                progress: 0
                status: null
              apply_engine:
                completed_at: 2
                progress: 0
                status: null
              talk_to_blacksmith:
                completed_at: 2
                progress: 0
                status: null
              defeat_mage_outlaw:
                completed_at: 2
                progress: 0
                status: null
              go_to_mage_council:
                completed_at: 2
                progress: 0
                status: null
              find_relics:
                completed_at: 2
                progress: 0
                status: null
              talk_to_event_master:
                completed_at: 2
                progress: 0
                status: null
              talk_to_rhys:
                completed_at: 2
                progress: 0
                status: null
              faction_villagers:
                completed_at: 0
                progress: 3
                status: null
              give_lumino_fiber_to_dean:
                completed_at: 2
                progress: 0
                status: null
              talk_to_elle_1:
                completed_at: 2
                progress: 0
                status: null
              talk_to_elle_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_elle_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_elle_5:
                completed_at: 2
                progress: 0
                status: null
              talk_to_elle_4:
                completed_at: 2
                progress: 0
                status: null
              rift_boat_5:
                completed_at: 2
                progress: 0
                status: null
              talk_to_elle_7:
                completed_at: 2
                progress: 0
                status: null
              rift_deadgehog_helmet:
                completed_at: 2
                progress: 0
                status: null
              talk_to_elle_6:
                completed_at: 2
                progress: 0
                status: null
              talk_to_elle_9:
                completed_at: 2
                progress: 0
                status: null
              collect_birch_logs:
                completed_at: 2
                progress: 0
                status: null
              collect_redstone:
                completed_at: 3
                REDSTONE: true
                progress: 6
                status: null
              talk_to_elle_8:
                completed_at: 2
                progress: 0
                status: null
              rift_cave_5_unlock_collection:
                completed_at: 2
                progress: 0
                status: null
              talk_to_fisherman_1:
                completed_at: 2
                progress: 0
                status: null
              talk_to_fisherman_2:
                completed_at: 2
                progress: 0
                status: null
              catch_fish:
                completed_at: 2
                progress: 0
                status: null
              rift_boat_1:
                completed_at: 2
                progress: 0
                status: null
              enchant_item:
                completed_at: 2
                progress: 0
                status: null
              rift_boat_2:
                completed_at: 2
                progress: 0
                status: null
              rift_enigma_wither_cage:
                completed_at: 2
                progress: 0
                status: null
              rift_boat_3:
                completed_at: 2
                progress: 0
                status: null
              rift_boat_4:
                completed_at: 2
                progress: 0
                status: null
              rift_defeat_bacte:
                completed_at: 2
                progress: 0
                status: null
              give_leather_cloth_to_dean:
                completed_at: 2
                progress: 0
                status: null
              kill_danger_mobs:
                completed_at: 2
                progress: 0
                status: null
              collect_farm_animal_resources_2:
                completed_at: 4
                progress: 2
                RABBIT: true
                MUTTON: true
                status: null
              talk_to_marigold:
                completed_at: 2
                progress: 0
                status: null
              collect_diamond:
                completed_at: 2
                DIAMOND: true
                progress: 7
                status: null
              talk_to_frosty:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_nothing_no_return_4:
                completed_at: 2
                progress: 0
                status: null
              select_mage_faction:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_nothing_no_return_2:
                completed_at: 2
                progress: 0
                status: null
              talk_to_the_queen:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_nothing_no_return_3:
                completed_at: 2
                progress: 0
                status: null
              talk_to_guildford_crystal_core_nothing_no_return_1:
                completed_at: 2
                progress: 0
                status: null
              complete_the_giant_mushroom_anything_with_return_race_2:
                completed_at: 2
                progress: 0
                status: null
              enter_the_arena_2:
                completed_at: 2
                progress: 0
                status: null
              collect_wool_carpenter:
[...]
