openapi: 3.0.3
info:
  contact:
    name: Hypixel Support
    url: https://developer.hypixel.net
  termsOfService: https://hypixel.net/tos
  title: Hypixel Public API
  version: v2
  x-logo:
    altText: Hypixel Logo
    href: '#'
    url: https://api.hypixel.net/assets/images/logo.png
servers:
- url: https://api.hypixel.net
paths:
  /v2/skyblock/profile:
    get:
      description: "SkyBlock profile data, such as stats, objectives etc. The data\
        \ returned can differ depending on the players in-game API settings."
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profile by UUID
      tags:
      - SkyBlock
  /v2/skyblock/profiles:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profiles_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profiles by player
      tags:
      - SkyBlock
components:
  responses:
    DataMissing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
      description: "Some data is missing, this is usually a field."
    InvalidKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_403_response'
      description: "Access is forbidden, usually due to an invalid API key being used."
    InvalidPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: The page provided is invalid.
    MalformedData:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
      description: Some data provided is invalid.
    MissingPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      description: The page provided does not exist.
    NoResult:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      description: The request responded with no result.
    NotPopulated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      description: The data is not yet populated and should be available shortly
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_429_response'
      description: "A request limit has been reached, usually this is due to the limit\
        \ on the key being reached but can also be triggered by a global throttle."
  schemas:
    SkyBlockProfile:
      example:
        profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        members:
          key:
            fairy_soul:
              fairy_exchanges: 6
              total_collected: 0
              unspent_souls: 2
            dungeons:
              selected_dungeon_class: selected_dungeon_class
              dungeon_types:
                key:
                  best_score:
                    key: 3.353193347011243
                  tier_completions:
                    key: 4.078845849666752
                  fastest_time_s_plus:
                    key: 7.058770351582356
                  most_damage_tank:
                    key: 7.04836565559697
                  watcher_kills:
                    key: 6.628464275087742
                  times_played:
                    key: 0.2025324113236393
                  experience: 3.0937452626664474
                  milestone_completions:
                    key: 0.10263654006109402
                  most_damage_berserk:
                    key: 7.740351818741173
                  most_damage_healer:
                    key: 3.0205796992916243
                  most_mobs_killed:
                    key: 3.2588565619047607
                  fastest_time:
                    key: 7.143538047012306
                  most_damage_mage:
                    key: 3.0576100241049344
                  most_damage_archer:
                    key: 8.969578798196912
                  fastest_time_s:
                    key: 0.8851374739011653
                  most_healing:
                    key: 5.533258397034986
                  best_runs:
                    key:
                    - damage_dealt: 8.762042012749001
                      damage_mitigated: 9.018348186070783
                      ally_healing: 6.683562403749608
                      score_skill: 6
                      score_exploration: 2
                      dungeon_class: dungeon_class
                      score_bonus: 1
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 6
                      elapsed_time: 3
                      mobs_killed: 6
                      secrets_found: 5
                      deaths: 6
                      timestamp: 6
                    - damage_dealt: 8.762042012749001
                      damage_mitigated: 9.018348186070783
                      ally_healing: 6.683562403749608
                      score_skill: 6
                      score_exploration: 2
                      dungeon_class: dungeon_class
                      score_bonus: 1
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 6
                      elapsed_time: 3
                      mobs_killed: 6
                      secrets_found: 5
                      deaths: 6
                      timestamp: 6
                  mobs_killed:
                    key: 4.652396432933246
                  highest_tier_completed: 6
              player_classes:
                key:
                  experience: 4.258773108174356
              dungeon_journal:
                unlocked_journals:
                - unlocked_journals
                - unlocked_journals
              dungeon_hub_race_settings:
                selected_race: selected_race
                runback: true
                selected_setting: selected_setting
              last_dungeon_run: last_dungeon_run
              daily_runs:
                completed_runs_count: 9
                current_day_stamp: 9
              treasures:
                chests:
                - run_id: run_id
                  paid: true
                  chest_id: chest_id
                  rerolls: 7
                  treasure_type: treasure_type
                  shiny_eligible: true
                  rewards:
                    rewards:
                    - rewards
                    - rewards
                    rolled_rng_meter_randomly: true
                  quality: 4
                - run_id: run_id
                  paid: true
                  chest_id: chest_id
                  rerolls: 7
                  treasure_type: treasure_type
                  shiny_eligible: true
                  rewards:
                    rewards:
                    - rewards
                    - rewards
                    rolled_rng_meter_randomly: true
                  quality: 4
                runs:
                - run_id: run_id
                  dungeon_tier: 0
                  completion_ts: 9
                  dungeon_type: dungeon_type
                  participants:
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                - run_id: run_id
                  dungeon_tier: 0
                  completion_ts: 9
                  dungeon_type: dungeon_type
                  participants:
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
              dungeons_blah_blah:
              - dungeons_blah_blah
              - dungeons_blah_blah
              secrets: 1
            accessory_bag_storage:
              tuning:
                slot_4:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_3:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_2:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_1:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                highest_unlocked_slot: 2
                slot_0:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
              bag_upgrades_purchased: 5
              unlocked_powers:
              - unlocked_powers
              - unlocked_powers
              selected_power: selected_power
              highest_magical_power: 5
            collection:
              key: 7
            inventory:
              ender_chest_contents:
                data: data
                type: 9
              equipment_contents:
                data: data
                type: 9
              wardrobe_contents:
                data: data
                type: 9
              sacks_counts:
                key: 7
              personal_vault_contents:
                data: data
                type: 9
              inv_contents:
                data: data
                type: 9
              backpack_contents:
                key:
                  data: data
                  type: 9
              wardrobe_equipped_slot: 6
              bag_contents:
                fishing_bag:
                  data: data
                  type: 9
                potion_bag:
                  data: data
                  type: 9
                sacks_bag:
                  data: data
                  type: 9
                talisman_bag:
                  data: data
                  type: 9
                quiver:
                  data: data
                  type: 9
              inv_armor:
                data: data
                type: 9
              backpack_icons:
                key:
                  data: data
                  type: 9
            leveling:
              category_expanded: true
              highest_pet_score: 8
              mining_fiesta_ores_mined: 7
              bop_bonus: bop_bonus
              completions:
                REAPER_PEPPERS: 3
                NUCLEUS_RUNS: 5
                REFINED_DARK_CACAO_TRUFFLE: 1
              completed_tasks:
              - ABIPHONE_alchemist
              - ABIPHONE_alchemist
              experience: 5
              emblem_unlocks:
              - ALCHEMY_BREW
              - ALCHEMY_BREW
              claimed_talisman: true
              last_viewed_tasks:
              - last_viewed_tasks
              - last_viewed_tasks
              migrated_completions_2: true
              selected_symbol: null
              fishing_festival_sharks_killed: 3
              migrated: true
              migrated_completions: true
            item_data:
              soulflow: 0
              teleporter_pill_consumed: true
              favorite_arrow: favorite_arrow
            jacobs_contest:
              contests:
                key:
                  collected: 7
                  claimed_position: 0
                  claimed_participants: 4
                  claimed_rewards: true
              talked: true
              personal_bests:
                key: 3
              migration: true
              perks:
                personal_bests: true
                farming_level_cap: 2
                double_drops: 4
              unique_brackets:
                key:
                - unique_brackets
                - unique_brackets
              medals_inv:
                gold: 6
                silver: 2
                bronze: 1
            mining_core:
              selected_pickaxe_ability: anomalous_desire
              greater_mines_last_access: 8
              experience: 9.505836306729838
              daily_ores_mined_day_mithril_ore: 7
              daily_ores_mined_day_gemstone: 9
              daily_ores_mined_day_glacite: 2
              powder_spent_gemstone: 1
              last_reset: 2
              powder_spent_glacite: 6
              powder_glacite: 6
              retroactive_tier2_token: true
              current_daily_effect_last_changed: 4
              received_free_tier: true
              daily_ores_mined_gemstone: 7
              crystals:
                amethyst_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                jasper_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                peridot_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                topaz_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                amber_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                onyx_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                opal_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                ruby_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                sapphire_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                jade_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                citrine_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                aquamarine_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
              tokens_spent: 9
              biomes:
                dwarven: "{}"
                precursor:
                  claiming_with_precursor_apparatus: true
                  talked_to_professor: true
                  parts_delivered:
                  - CONTROL_SWITCH
                  - CONTROL_SWITCH
                goblin:
                  king_quests_completed: 2
                  king_quest_active: true
                jungle:
                  jungle_temple_open: true
                  jungle_temple_chest_uses: 8
              daily_ores_mined_day: 5
              daily_ores_mined_glacite: 6
              powder_mithril_total: 9
              daily_ores_mined_mithril_ore: 6
              current_daily_effect: current_daily_effect
              powder_glacite_total: 7
              powder_spent_mithril: 9
              nodes:
                mining_speed: 8
                mining_speed_boost: 6
                pickaxe_toss: 1
                daily_powder: 4
                forge_time: 2
                mining_fortune_2: 5
                vanguard_seeker: 8
                random_event: 4
                crystalline: 3
                mining_experience: 2
                gifts_from_the_departed: 5
                mining_fortune: 5
                subterranean_fisher: 4
                no_stone_unturned: 1
                mining_madness: 8
                professional: 1
                strong_arm: 1
                efficient_miner: 8
                sheer_force: 1
                special_0: 3
                steady_hand: 3
                metal_head: 8
                anomalous_desire: 6
                rags_to_riches: 4
                eager_adventurer: 2
                keep_it_cool: 1
                maniac_miner: 2
                blockhead: 1
                daily_grind: 1
                mole: 7
                dead_mans_chest: 2
                surveyor: 8
                gemstone_infusion: 8
                miners_blessing: 5
                powder_buff: 7
                fortunate: 6
                mineshaft_mayhem: 9
                old_school: 2
                precision_mining: 7
                lonesome_miner: 8
                mining_speed_2: 8
                front_loaded: 5
                great_explorer: 0
                daily_effect: 9
                mining_master: 4
                warm_hearted: 5
                titanium_insanium: 0
              powder_mithril: 0
              powder_gemstone_total: 9
              daily_ores_mined: 3
              powder_gemstone: 9
            nether_island_player_data:
              barbarians_reputation: 9.290244967928562
              last_minibosses_killed:
              - ASHFANG
              - ASHFANG
              quests:
                found_kuudra_boots: true
                pablo_quest:
                  pablo_item: pablo_item
                  pablo_last_give: 2
                  pablo_active: true
                suus_quest:
                  last_completion: 3
                  last_toy_drop: 8
                  talked_to_npc: true
                edelis_quest:
                  heard_story_statue: true
                cavity_rarity: SPECIAL
                last_reset: 7
                aranya_quest: "{}"
                alchemist_quest:
                  alchemist_quest_start: true
                  alchemist_quest_progress: 3
                paid_bruuh: true
                weird_sailor: true
                found_kuudra_book: true
                sirih_quest:
                  last_give: 5
                  sulphur_given: 9
                  dialogue_index: 0
                pomtair_quest:
                  last_completion: 6
                  talked_to_npc: true
                rulenor:
                  talked_to: true
                  last_payment: 9
                duel_training_quest:
                  duel_training_phase_barbarians: 8
                  duel_training_last_complete_barbarians: 9
                  duel_training_last_complete_mages: 9
                  duel_training_phase_mages: 4
                unlocked_cavity_npcs:
                - arch
                - arch
                last_vampire_blood: 7
                found_kuudra_leggings: true
                last_kuudra_relic: 4
                kuudra_loremaster: true
                fished_wet_napkin: true
                miniboss_daily: "{}"
                chicken_quest:
                  chicken_quest_collected:
                  - Chickovsky
                  - Chickovsky
                  chicken_quest_progress: 8
                  chicken_quest_start: true
                found_kuudra_chestplate: true
                quest_rewards:
                  KADA_LEAD: 6
                  crimson_isle_kill_ashfang_c: crimson_isle_kill_ashfang_c
                  crimson_isle_steaming_hot_flounder_c: crimson_isle_steaming_hot_flounder_c
                  HALLOWED_SKULL: 2
                  crimson_isle_skeletonfish_b: crimson_isle_skeletonfish_b
                  CUP_OF_BLOOD: 4
                  DIGESTED_MUSHROOMS: 4
                  SPELL_POWDER: 1
                  GAZING_PEARL: 2
                  crimson_isle_dojo_test_of_mob_kb_arating_s: crimson_isle_dojo_test_of_mob_kb_arating_s
                  crimson_isle_fetch_sulphur_c: crimson_isle_fetch_sulphur_c
                  crimson_isle_rescue_a: crimson_isle_rescue_a
                  TENTACLE_MEAT: 7
                  crimson_isle_dojo_test_of_lock_head_drating_c: crimson_isle_dojo_test_of_lock_head_drating_c
                  BEZOS: 5
                  crimson_isle_kill_mage_outlaw_b: crimson_isle_kill_mage_outlaw_b
                  crimson_isle_fetch_digested_mushrooms_b: crimson_isle_fetch_digested_mushrooms_b
                chicken_quest_handed_in: 5
                found_kuudra_helmet: true
                miniboss_data:
                  ASHFANG: true
                  BLADESOUL: true
                  BARBARIAN_DUKE_X: true
                  MAGMA_BOSS: true
                  MAGE_OUTLAW: true
                quest_data:
                  fetch:
                    completed_at: 3
                    progress: 0
                    claimed_rewards: true
                    status: ACTIVE
                  fishing:
                    completed_at: 3
                    progress: 0
                    claimed_rewards: true
                    status: ACTIVE
                  rescue:
                    completed_at: 3
                    progress: 0
                    claimed_rewards: true
                    status: ACTIVE
                  wanted_mini_boss:
                    completed_at: 3
                    progress: 0
                    claimed_rewards: true
                    status: ACTIVE
                  dojo:
                    completed_at: 3
                    progress: 0
                    claimed_rewards: true
                    status: ACTIVE
                  quest_list:
                  - crimson_isle_dojo_test_of_lock_head_drating_c
                  - crimson_isle_dojo_test_of_lock_head_drating_c
                last_believer_blessing: 7
                mollim_quest:
                  completed_quest: true
                  talked_to_npc: true
                kuuda_boss_daily: "{}"
              selected_faction: barbarians
              abiphone:
                selected_sort: most_called
                selected_ringtone: TARREGA
                has_used_sirius_personal_phone_number_item: true
                operator_chip:
                  repaired_index: 6
                active_contacts:
                - alchemist
                - alchemist
                games: "{}"
                last_dye_called_year: 7
                trio_contact_addons: 0
                contact_data:
                  pablo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  dusk:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  einary:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  brynmor:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  forge_foreman:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  queen_mismyla:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  gemstone:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  blacksmith:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  lumber_merchant:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  odger:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  fairy:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  tomioka:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  alchemist:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  community_shop:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  wool_weaver:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  captain_ahone:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  drill_fuel_mechanic:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  spooky:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  thaumaturgist:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  igrupan:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  rollim:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  suus:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  bingo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  dean:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  anita:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  queen:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  kaus:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  vincent:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  elle:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  gatekeeper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  oringo:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  sirius:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  plumber:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  zog:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  hoppity:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  builder:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  st_jerry:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  aranya:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  jacob:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  trevor_the_trapper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  telekinesis_applier:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  arrow_forger:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  pet_collector:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  slayer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  walter:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  roddy:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  shady_bartender:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  pet_trainer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  alixer:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  pet_sitter:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  duncan:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  kuudra_gatekeeper:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  ophelia:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  sirih:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
                  trinity:
                    completed_quest: true
                    dnd_enabled: true
                    talked_to: true
                    last_call_incoming: 6
                    incoming_calls_count: 8
                    specific:
                      key: SkyBlockProfileMemberNetherIslandPlayerDataAbiphoneContactDataContact_specific_value
                    last_call: 6
              kuudra_party_finder:
                group_builder:
                  note: note
                  tier: BURNING
                  combat_level_required: 0
                search_settings:
                  tier: null
              matriarch:
                pearls_collected: 4
                recent_refreshes:
                - 2
                - 2
                last_attempt: 6
              kuudra_completed_tiers:
                burning: 1
                infernal: 7
                highest_wave_infernal: 4
                highest_wave_burning: 5
                highest_wave_none: 4
                highest_wave_hot: 0
                fiery: 6
                highest_wave_fiery: 8
                none: 2
                hot: 0
              dojo:
                dojo_points_lock_head: 8
                dojo_points_wall_jump: 0
                dojo_points_sword_swap: 8
                dojo_time_snake: 7
                dojo_time_wall_jump: 7
                dojo_time_lock_head: 9
                dojo_time_sword_swap: 8
                dojo_points_mob_kb: 7
                dojo_points_fireball: 5
                dojo_time_archer: 0
                dojo_points_snake: 9
                dojo_points_archer: 3
                dojo_time_fireball: 4
                dojo_time_mob_kb: 7
              mages_reputation: 4.403697036782718
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            glacite_player_data:
              corpses_looted:
                tungsten: 6
                umber: 4
                lapis: 7
                vanguard: 0
              mineshafts_entered: 9
              fossils_donated:
              - fossils_donated
              - fossils_donated
              fossil_dust: 0.4867146239815201
            pets_data:
              pets:
              - tier: COMMON
                extra:
                  key: 1
                heldItem: ALL_SKILLS_SUPER_BOOST
                skin: skin
                active: true
                exp: 2.7105647837031563
                type: AMMONITE
                uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                candyUsed: 5
                uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - tier: COMMON
                extra:
                  key: 1
                heldItem: ALL_SKILLS_SUPER_BOOST
                skin: skin
                active: true
                exp: 2.7105647837031563
                type: AMMONITE
                uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                candyUsed: 5
                uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              pet_care:
                pet_types_sacrificed:
                - BABY_YETI
                - BABY_YETI
                coins_spent: 2.4062866311545816
              autopet:
                migrated_2: true
                rules_limit: 5
                rules:
                - data:
                    boss: boss
                    entity_type: entity_type
                    category: category
                  name: name
                  disabled: true
                  id: BOSS_SPAWN
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  exceptions:
                  - data:
                      island: island
                      pet: pet
                    id: HAS_EQUIPPED_PET
                  - data:
                      island: island
                      pet: pet
                    id: HAS_EQUIPPED_PET
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                - data:
                    boss: boss
                    entity_type: entity_type
                    category: category
                  name: name
                  disabled: true
                  id: BOSS_SPAWN
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  exceptions:
                  - data:
                      island: island
                      pet: pet
                    id: HAS_EQUIPPED_PET
                  - data:
                      island: island
                      pet: pet
                    id: HAS_EQUIPPED_PET
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                migrated: true
            experimentation:
              claims_resets: 5
              simon:
                bonus_clicks: 2
                attempts_0: 3
                claimed: true
                attempts_5: 7
                attempts_1: 9
                attempts_2: 7
                attempts_3: 7
                last_attempt: 8
                best_score_1: 1
                best_score_0: 9
                best_score_3: 3
                best_score_2: 4
                best_score_5: 8
                last_claimed: 2
                claims_5: 4
                claims_2: 8
                claims_3: 6
                claims_0: 9
                claims_1: 4
              claimed_retroactive_rng: true
              numbers:
                bonus_clicks: 0
                claimed: true
                attempts_1: 0
                attempts_2: 3
                attempts_3: 2
                last_attempt: 2
                best_score_1: 3
                best_score_3: 4
                best_score_2: 8
                last_claimed: 9
                claims_2: 7
                claims_3: 4
                claims_1: 0
              claims_resets_timestamp: 7
              charge_track_timestamp: 9
              serums_drank: 1
              pairings:
                bonus_clicks: 1
                claimed: true
                last_attempt: 5
                best_score_1: 2
                best_score_0: 0
                best_score_3: 4
                best_score_2: 6
                best_score_5: 9
                best_score_4: 6
                last_claimed: 3
                claims_4: 4
                claims_5: 5
                claims_2: 5
                claims_3: 1
                claims_0: 1
                claims_1: 3
            forge:
              forge_processes:
                key: null
            bestiary:
              kills:
                last_killed_mob: last_killed_mob
              miscellaneous:
                max_kills_visible: true
              milestone:
                last_claimed_milestone: 6
              migration: true
              migrated_stats: true
              deaths:
                key: 1
            objectives:
              talk_to_lumberjack:
                completed_at: 9
                progress: 5
                status: ACTIVE
              unlock_crop_plot:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_anything_no_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_anything_no_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_braum:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_anything_no_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_anything_no_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              reach_pigmens_den:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_carpenter:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_no_pearls_with_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_no_pearls_with_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_moby_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_abilities_with_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_abilities_with_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_no_pearls_with_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_abilities_with_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_no_pearls_with_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_abilities_with_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              defeat_arachne_keeper:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_pearls_with_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_pearls_with_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_pearls_with_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_pearls_with_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              give_sulphur_to_pig:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_mountain_ubik_averages:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_unhinged_kloon:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_enigma_bark:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_redstone_miner:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_seraphine:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_no_abilities_no_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_no_abilities_no_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_shaggy_new_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_no_abilities_no_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_no_abilities_no_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_shaggy_new_0:
                completed_at: 9
                progress: 5
                status: ACTIVE
              hub_get_outside_necklace_from_elise:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_shaggy_new_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_dreadfarm_flowerpot:
                completed_at: 9
                progress: 5
                status: ACTIVE
              escort_elle_and_ugo_to_the_chief:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lumberjack_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_enigma_original:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_tel_kar:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_castle_standing:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_pearls_no_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              find_pickaxe:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_pearls_no_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_reed:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_pearls_no_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_pearls_no_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lone_adventurer_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_nothing_with_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lone_adventurer_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_cave_1_craft_pickaxe:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_nothing_with_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lone_adventurer_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_nothing_with_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lone_adventurer_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lone_adventurer_5:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lone_adventurer_6:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_enid:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_cave_2_juice_piece:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_cave_3_max_suit:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_artist_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_artist_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_charlie:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_odger:
                completed_at: 9
                progress: 5
                status: ACTIVE
              catch_laseas_fish:
                completed_at: 9
                flyfish_fished: 4
                progress: 2
                skeleton_fish_fished: 0
                status: null
              increase_mining_skill:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_nothing_no_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_pearls_with_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_anything_with_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_nothing_no_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_pearls_with_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_nothing_no_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_pearls_with_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_nothing_no_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_pearls_with_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_anything_with_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_anything_with_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_anything_with_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_nothing_with_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_chief:
                completed_at: 9
                progress: 5
                status: ACTIVE
              summon_arachne:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_hot_dog:
                completed_at: 9
                progress: 5
                status: ACTIVE
              claim_fishing_rod:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_mountain_phantom:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_gris:
                completed_at: 9
                progress: 5
                status: ACTIVE
              reach_diamond_reserve:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_mountain_close_breach:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_farmer_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_abilities_with_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_abilities_with_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_abilities_with_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_enigma_flower_pot_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_gemma:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_abilities_with_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              defeat_magma_boss:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_mountain_balloons:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_pet_sitter:
                completed_at: 9
                progress: 5
                status: ACTIVE
              set_up_stand:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_no_abilities_with_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_no_abilities_with_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_lagoon_parkour:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_no_abilities_with_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_no_abilities_with_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              find_the_deans_research:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_anything_with_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              follow_elle_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_anything_with_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              follow_elle_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              follow_elle_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              reach_slimehill:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_anything_with_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_mountain_walk_of_fame_wall:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_anything_with_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              kill_weak_enderman:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_clay:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_rabbit_under_hat:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_back2basics:
                completed_at: 9
                progress: 5
                status: ACTIVE
              defeat_the_monster_2:
                completed_at: 3
                completions: 6
                progress: 6
                status: null
              select_barbarian_faction:
                completed_at: 9
                progress: 5
                status: ACTIVE
              maddox_batphone:
                completed_at: 9
                progress: 5
                status: ACTIVE
              increase_redstone_coll_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              meet_ugo:
                completed_at: 9
                progress: 5
                status: ACTIVE
              buy_chum_bucket_from_moby:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_roddy:
                completed_at: 9
                progress: 5
                status: ACTIVE
              defeat_the_monster:
                completed_at: 3
                completions: 6
                progress: 6
                status: null
              reach_fishing_5:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_beanstalk:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_igrupan:
                completed_at: 9
                progress: 5
                status: ACTIVE
              find_the_goblin_queen:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_abilities_no_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_kat_soul:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_abilities_no_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_log:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_dulin_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_ugo_6:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_nothing_no_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_ugo_5:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_ugo_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_ugo_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              tutorial:
              - tutorial
              - tutorial
              complete_the_crystal_core_nothing_no_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_abilities_no_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_nothing_no_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_ugo_8:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_abilities_no_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_nothing_no_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_ugo_7:
                completed_at: 9
                progress: 5
                status: ACTIVE
              explore_hub:
                completed_at: 9
                progress: 5
                status: ACTIVE
              apply_engine:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_blacksmith:
                completed_at: 9
                progress: 5
                status: ACTIVE
              defeat_mage_outlaw:
                completed_at: 9
                progress: 5
                status: ACTIVE
              go_to_mage_council:
                completed_at: 9
                progress: 5
                status: ACTIVE
              find_relics:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_event_master:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_rhys:
                completed_at: 9
                progress: 5
                status: ACTIVE
              faction_villagers:
                Offea: 5
                Ulyn: 6
                forast: 8
                suus_child: 3
                barbarian_emissary: 4
                mollim: 2
                chihai_child_0: 5
                crafter1: 5
                completed_at: 3
                Kheharad: 6
                chihai: 3
                rollim: 5
                suus: 8
                crafter0: 3
                barbarians_talked_to: 0
                progress: 9
                lamp_shop: 1
                mages_talked_to: 6
                status: null
              give_lumino_fiber_to_dean:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_elle_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_elle_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_elle_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_elle_5:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_elle_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_boat_5:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_elle_7:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_deadgehog_helmet:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_elle_6:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_elle_9:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_birch_logs:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_redstone:
                completed_at: 0
                REDSTONE: true
                progress: 4
                status: null
              talk_to_elle_8:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_cave_5_unlock_collection:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_fisherman_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_fisherman_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              catch_fish:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_boat_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              enchant_item:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_boat_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_enigma_wither_cage:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_boat_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_boat_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_defeat_bacte:
                completed_at: 9
                progress: 5
                status: ACTIVE
              give_leather_cloth_to_dean:
                completed_at: 9
                progress: 5
                status: ACTIVE
              kill_danger_mobs:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_farm_animal_resources_2:
                completed_at: 6
                progress: 1
                RABBIT: true
                MUTTON: true
                status: null
              talk_to_marigold:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_diamond:
                completed_at: 1
                DIAMOND: true
                progress: 2
                status: null
              talk_to_frosty:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_nothing_no_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              select_mage_faction:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_nothing_no_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_the_queen:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_nothing_no_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_crystal_core_nothing_no_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_anything_with_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              enter_the_arena_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_wool_carpenter:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_anything_with_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_anything_with_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              enter_the_arena_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guber_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guber_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              give_heavy_pearl_to_gris:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guber_5:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guber_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guber_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              obtain_railroad_pass:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_scammer:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_fairy:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_pet_collector:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_nether_items:
                completed_at: 9
                progress: 5
                status: ACTIVE
              bring_mushrooms_to_moby:
                completed_at: 9
                progress: 5
                status: ACTIVE
              infiltrate_the_bastion:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_farmer:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_gemma_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_silk_castle:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_no_abilities_with_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              kill_automatons:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_no_abilities_with_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_no_abilities_with_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_precursor_ruins_no_abilities_with_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              mine_jade:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_west_parkour:
                completed_at: 9
                progress: 5
                status: ACTIVE
              hub_talk_to_wizard:
                completed_at: 9
                progress: 5
                status: ACTIVE
              warp_crimson_isle:
                completed_at: 9
                progress: 5
                status: ACTIVE
              choose_faction:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_abilities_no_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_abilities_no_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              fight_dragon:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_abilities_no_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_abilities_no_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              chop_tree:
                completed_at: 9
                progress: 5
                status: ACTIVE
              mine_amber:
                completed_at: 9
                progress: 5
                status: ACTIVE
              bring_full_bucket_to_moby:
                completed_at: 9
                progress: 5
                status: ACTIVE
              defeat_corrupted_spider:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_dean:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_sam_composter:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_trials_of_jungle_temple:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_pearls_with_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_pearls_no_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_pearls_no_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_pearls_with_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_no_pearls_no_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              deposit_coins:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_pearls_with_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_librarian:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_lapis:
                INK_SACK:4: true
                completed_at: 3
                progress: 0
                status: null
              complete_the_crystal_core_no_pearls_no_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_pearls_with_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_shaggy_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_bughunter:
                completed_at: 9
                progress: 5
                status: ACTIVE
              paint_canvas:
                completed_at: 9
                progress: 5
                status: ACTIVE
              give_fairy_souls:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_village_phantom:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_pearls_no_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_pearls_no_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_pearls_no_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              increase_mining_12:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_pearls_no_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_two_player_soul:
                completed_at: 9
                progress: 5
                status: ACTIVE
              give_sam_wheat:
                completed_at: 9
                progress: 5
                status: ACTIVE
              give_ticket_master_railroad_pass:
                completed_at: 9
                progress: 5
                status: ACTIVE
              kill_golden_goblin:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_dark_oak_logs:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_end_dealer:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_defeat_leech_supreme:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_long_shrooms:
                completed_at: 9
                progress: 5
                status: ACTIVE
              warp_the_end:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_pearls_with_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_melody:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_pearls_with_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_mole:
                completed_at: 9
                progress: 5
                status: ACTIVE
              bring_the_letter_to_the_queen:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_no_pearls_with_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              explore_village:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_farm_animal_resources:
                completed_at: 6
                RAW_CHICKEN: true
                progress: 9
                LEATHER: true
                PORK: true
                status: null
              complete_the_giant_mushroom_no_pearls_with_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              reforge_item:
                completed_at: 9
                progress: 5
                status: ACTIVE
              wait_for_help:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_enigma_pressure_water:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_chief_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_chief_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_cake_house_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_chief_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_cake_house_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              give_pickaxe_lapis_miner:
                completed_at: 9
                progress: 5
                status: ACTIVE
              interested_in_magic:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_detective:
                completed_at: 9
                progress: 5
                status: ACTIVE
              warp_bayou:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_anything_with_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_seymour:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_nothing_with_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_nothing_with_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_nothing_with_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_crystal_core_nothing_with_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_anything_no_return_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_anything_no_return_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_anything_no_return_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_abilities_with_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_giant_mushroom_anything_no_return_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_abilities_with_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_abilities_with_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_precursor_ruins_no_abilities_with_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              warp_deep_caverns:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_dolphin_soul:
                completed_at: 9
                progress: 5
                status: ACTIVE
              warp_foraging_islands:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_woods_race_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_woods_race_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_silk_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_rick:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_woods_race_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              complete_the_woods_race_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lapis_miner:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_plaza_balloons:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_junker:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_lift_operator:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_obtain_healing_melon:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_odexar:
                completed_at: 9
                progress: 5
                status: ACTIVE
              collect_wheat:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_abilities_with_return_4:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_abilities_with_return_2:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_abilities_with_return_3:
                completed_at: 9
                progress: 5
                status: ACTIVE
              warp_spiders_den:
                completed_at: 9
                progress: 5
                status: ACTIVE
              talk_to_guildford_giant_mushroom_no_abilities_with_return_1:
                completed_at: 9
                progress: 5
                status: ACTIVE
              rift_mountain_unlock_timite:
                completed_at: 9
[...]
