openapi: 3.0.3
info:
  contact:
    name: Hypixel Support
    url: https://developer.hypixel.net
  description: "# Introduction\nThis is the official Hypixel API documentation. [Hypixel\
    \ Website](https://hypixel.net/) - [GitHub Repo](https://github.com/HypixelDev/PublicAPI)\
    \ - [API Help Forum](https://hypixel.net/forums/api-help.111/)\n\nAll use of the\
    \ API must conform to the [API policies](https://developer.hypixel.net/policies),\
    \ violation of these policies may lead to applications being revoked or users\
    \ banned from the API.\n## Limits\nAPI keys are limited to a maximum amount of\
    \ requests per 5 minute intervals. These limits will depend on the type of application\
    \ that the key is assigned to.\n\nEndpoints which require the use of an API key\
    \ will also respond with headers to assist with managing the rate limit:\n- 'RateLimit-Limit'\
    \ - The limit of requests per minute for the provided API key.\n- 'RateLimit-Remaining'\
    \ - The remaining amount of requests allowed for the current minute.\n- 'RateLimit-Reset'\
    \ - The amount of seconds until the next minute and the reset of the API key usages.\n\
    \n## GameTypes\n| ID | Type Name      | Database Name | Clean Name           |\n\
    \ |----|----------------|---------------|----------------------|\n | 2  | QUAKECRAFT\
    \     | Quake         | Quake                |\n | 3  | WALLS          | Walls\
    \         | Walls                |\n | 4  | PAINTBALL      | Paintball     | Paintball\
    \            |\n | 5  | SURVIVAL_GAMES | HungerGames   | Blitz Survival Games\
    \ |\n | 6  | TNTGAMES       | TNTGames      | TNT Games            |\n | 7  |\
    \ VAMPIREZ       | VampireZ      | VampireZ             |\n | 13 | WALLS3    \
    \     | Walls3        | Mega Walls           |\n | 14 | ARCADE         | Arcade\
    \        | Arcade               |\n | 17 | ARENA          | Arena         | Arena\
    \                |\n | 20 | UHC            | UHC           | UHC Champions   \
    \     |\n | 21 | MCGO           | MCGO          | Cops and Crims       |\n | 23\
    \ | BATTLEGROUND   | Battleground  | Warlords             |\n | 24 | SUPER_SMASH\
    \    | SuperSmash    | Smash Heroes         |\n | 25 | GINGERBREAD    | GingerBread\
    \   | Turbo Kart Racers    |\n | 26 | HOUSING        | Housing       | Housing\
    \              |\n | 51 | SKYWARS        | SkyWars       | SkyWars           \
    \   |\n | 52 | TRUE_COMBAT    | TrueCombat    | Crazy Walls          |\n | 54\
    \ | SPEED_UHC      | SpeedUHC      | Speed UHC            |\n | 55 | SKYCLASH\
    \       | SkyClash      | SkyClash             |\n | 56 | LEGACY         | Legacy\
    \        | Classic Games        |\n | 57 | PROTOTYPE      | Prototype     | Prototype\
    \            |\n | 58 | BEDWARS        | Bedwars       | Bed Wars            \
    \ |\n | 59 | MURDER_MYSTERY | MurderMystery | Murder Mystery       |\n | 60 |\
    \ BUILD_BATTLE   | BuildBattle   | Build Battle         |\n | 61 | DUELS     \
    \     | Duels         | Duels                |\n | 63 | SKYBLOCK       | SkyBlock\
    \      | SkyBlock             |\n | 64 | PIT            | Pit           | Pit\
    \                  |\n | 65 | REPLAY         | Replay        | Replay        \
    \       |\n | 67 | SMP            | SMP           | SMP                  |\n |\
    \ 68 | WOOL_GAMES     | WoolGames     | Wool Wars            |\n\n### Storage\n\
    Games store their respective stats and data in a Player's `stats` collection.\
    \ The game's specific data is held within a JSON object named after it's `Database\
    \ Name` (seen above.)\n### GameType Notes\n* Clean names are what is displayed\
    \ to the user when referencing the name.\n* Database names or IDs are used when\
    \ the API references a specific GameType.\n## Notes\n\n### Date and Time\nGenerally\
    \ dates are stored as a Unix Epoch times in milliseconds.\n### Response Format\n\
    Responses are served in JSON format.\n### UUID Parameters\nAll uuid parameters\
    \ support both dashed and undashed versions.\n### SkyBlock items and inventories\n\
    Items and inventory data are stored as a base64 encoded string containing gzipped\
    \ nbt data.\nIf a method is missing important information about an item or inventory,\
    \ you should try checking this!\n>Note: the base64 string may contain a unicode\
    \ escape for non-alphabetical symbols, and some programming languages may have\
    \ silent defects when interpreting the string. \n\n# Authentication\n\n<!-- ReDoc-Inject:\
    \ <security-definitions> -->"
  termsOfService: https://hypixel.net/tos
  title: Hypixel Public API
  version: v2
  x-logo:
    altText: Hypixel Logo
    href: '#'
    url: https://api.hypixel.net/assets/images/logo.png
servers:
- url: https://api.hypixel.net
paths:
  /v2/resources/skyblock/bingo:
    get:
      description: Information regarding the current bingo event and its goals.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_bingo_get_200_response'
          description: A successful response
      summary: Current Bingo Event
      tags:
      - SkyBlock
  /v2/resources/skyblock/collections:
    get:
      description: Information regarding Collections in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_collections_get_200_response'
          description: A successful response
      summary: Collections
      tags:
      - SkyBlock
  /v2/resources/skyblock/election:
    get:
      description: Information regarding the current mayor and ongoing election in
        SkyBlock.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_election_get_200_response'
          description: A successful response
      summary: Election and Mayor
      tags:
      - SkyBlock
  /v2/resources/skyblock/items:
    get:
      description: Information regarding items in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_items_get_200_response'
          description: A successful response
      summary: Items
      tags:
      - SkyBlock
  /v2/resources/skyblock/skills:
    get:
      description: Information regarding skills in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_skills_get_200_response'
          description: A successful response
      summary: Skills
      tags:
      - SkyBlock
  /v2/skyblock/bingo:
    get:
      description: Bingo data for participated events of the provided player.
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_404_response'
          description: No data could be found for the provided player uuid.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Bingo data by player
      tags:
      - SkyBlock
  /v2/skyblock/firesales:
    get:
      description: Retrieve the currently active or upcoming Fire Sales for SkyBlock.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_firesales_get_200_response'
          description: A successful response
      summary: Active/Upcoming Fire Sales
      tags:
      - SkyBlock
  /v2/skyblock/garden:
    get:
      description: SkyBlock garden data for the provided profile.
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
          description: The request responded with no result.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Garden data by profile ID
      tags:
      - SkyBlock
  /v2/skyblock/museum:
    get:
      description: SkyBlock museum data for all members of the provided profile. The
        data returned can differ depending on the players in-game API settings.
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_museum_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Museum data by profile ID
      tags:
      - SkyBlock
  /v2/skyblock/news:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: News
      tags:
      - SkyBlock
  /v2/skyblock/profile:
    get:
      description: "SkyBlock profile data, such as stats, objectives etc. The data\
        \ returned can differ depending on the players in-game API settings."
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profile by UUID
      tags:
      - SkyBlock
  /v2/skyblock/profiles:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profiles_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profiles by player
      tags:
      - SkyBlock
components:
  responses:
    DataMissing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_400_response'
      description: "Some data is missing, this is usually a field."
    InvalidKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
      description: "Access is forbidden, usually due to an invalid API key being used."
    InvalidPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: The page provided is invalid.
    MalformedData:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
      description: Some data provided is invalid.
    MissingPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      description: The page provided does not exist.
    NoResult:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
      description: The request responded with no result.
    NotPopulated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      description: The data is not yet populated and should be available shortly
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
      description: "A request limit has been reached, usually this is due to the limit\
        \ on the key being reached but can also be triggered by a global throttle."
  schemas:
    ActiveBooster:
      allOf:
      - $ref: '#/components/schemas/Booster'
      - properties:
          stacked:
            items:
              description: UUID of the player in a dashed format
              example: ad8fefaa-8351-454b-b739-a4eaa872173f
              format: uuid
              type: string
            type: array
        type: object
    Booster:
      properties:
        _id:
          format: objectid
          type: string
        amount:
          type: integer
        dateActivated:
          type: integer
        gameType:
          type: integer
        length:
          type: integer
        originalLength:
          type: integer
        purchaserUuid:
          format: uuid
          type: string
    QueuedBooster:
      allOf:
      - $ref: '#/components/schemas/Booster'
      - properties:
          stacked:
            type: boolean
        type: object
    SkyBlockFireSale:
      example:
        amount: 0
        item_id: item_id
        price: 1
        start: 5
        end: 6
      properties:
        amount:
          description: The amount of items available for this sale
          type: integer
        end:
          description: The end time in unix milliseconds for the sale
          type: integer
        item_id:
          description: The SkyBlock item ID for this sale
          type: string
        price:
          description: The price in Gems for this sale
          type: integer
        start:
          description: The start time in unix milliseconds for the sale
          type: integer
    SkyBlockGarden:
      description: "Information about a player's SkyBlock garden, the only guaranteed\
        \ field is the `uuid` field."
      example:
        garden_experience: 1.4658129805029452
        selected_barn_skin: selected_barn_skin
        unlocked_barn_skins:
        - unlocked_barn_skins
        - unlocked_barn_skins
        commission_data:
          visits:
            andrew: 3
            jacob: 2
            jerry: 1
          total_completed: 0
          completed:
            andrew: 2
            jacob: 1
            jerry: 1
          unique_npcs_served: 6
        resources_collected:
          INK_SACK:3: 100
          POTATO_ITEM: 100
          WHEAT: 100
        composter_data:
          compost_items: 2
          compost_units: 0
          conversion_ticks: 300
          fuel_units: 17000
          last_save: 1721039418436
          organic_matter: 1772.8
          upgrades:
            cost_reduction: 25
            fuel_cap: 22
            multi_drop: 25
            organic_matter_cap: 25
            speed: 25
        crop_upgrade_levels:
          INK_SACK:3: 3
          POTATO_ITEM: 2
          WHEAT: 1
        active_commissions:
          fear_mongerer:
            extra_rewards:
            - candy: PURPLE_CANDY
            position: 5
            requirement:
            - amount: 1
              item: POLISHED_PUMPKIN
              original_amount: 27709
              original_item: PUMPKIN
            status: NOT_STARTED
          liam:
            position: 1
            requirement:
            - amount: 4
              item: MUTANT_NETHER_STALK
              original_amount: 93995
              original_item: NETHER_STALK
            status: NOT_STARTED
          lumberjack:
            position: 2
            requirement:
            - amount: 3
              item: ENCHANTED_BAKED_POTATO
              original_amount: 81380
              original_item: POTATO_ITEM
            status: NOT_STARTED
          oringo:
            position: 3
            requirement:
            - amount: 21
              item: ENCHANTED_HAY_BLOCK
              original_amount: 26798
              original_item: WHEAT
            status: NOT_STARTED
          rhys:
            position: 4
            requirement:
            - amount: 512
              item: JACK_O_LANTERN
              original_amount: 512
              original_item: JACK_O_LANTERN
            status: NOT_STARTED
        unlocked_plots_ids:
        - beginner_1
        - intermediate_3
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        active_commissions:
          example:
            fear_mongerer:
              extra_rewards:
              - candy: PURPLE_CANDY
              position: 5
              requirement:
              - amount: 1
                item: POLISHED_PUMPKIN
                original_amount: 27709
                original_item: PUMPKIN
              status: NOT_STARTED
            liam:
              position: 1
              requirement:
              - amount: 4
                item: MUTANT_NETHER_STALK
                original_amount: 93995
                original_item: NETHER_STALK
              status: NOT_STARTED
            lumberjack:
              position: 2
              requirement:
              - amount: 3
                item: ENCHANTED_BAKED_POTATO
                original_amount: 81380
                original_item: POTATO_ITEM
              status: NOT_STARTED
            oringo:
              position: 3
              requirement:
              - amount: 21
                item: ENCHANTED_HAY_BLOCK
                original_amount: 26798
                original_item: WHEAT
              status: NOT_STARTED
            rhys:
              position: 4
              requirement:
              - amount: 512
                item: JACK_O_LANTERN
                original_amount: 512
                original_item: JACK_O_LANTERN
              status: NOT_STARTED
          type: object
        commission_data:
          $ref: '#/components/schemas/SkyBlockGarden_commission_data'
        composter_data:
          example:
            compost_items: 2
            compost_units: 0
            conversion_ticks: 300
            fuel_units: 17000
            last_save: 1721039418436
            organic_matter: 1772.8
            upgrades:
              cost_reduction: 25
              fuel_cap: 22
              multi_drop: 25
              organic_matter_cap: 25
              speed: 25
          type: object
        crop_upgrade_levels:
          example:
            INK_SACK:3: 3
            POTATO_ITEM: 2
            WHEAT: 1
          type: object
        garden_experience:
          type: number
        resources_collected:
          description: A map of resource ID to amount collected
          example:
            INK_SACK:3: 100
            POTATO_ITEM: 100
            WHEAT: 100
          type: object
        selected_barn_skin:
          type: string
        unlocked_barn_skins:
          items:
            type: string
          type: array
        unlocked_plots_ids:
          example:
          - beginner_1
          - intermediate_3
          items:
            type: string
          type: array
        uuid:
          description: The UUID of the profile for this garden.
          format: uuid
          type: string
      required:
      - uuid
    SkyBlockItem:
      example:
        category: CHESTPLATE
        color: "255,215,0"
        id: FARM_ARMOR_CHESTPLATE
        material: LEATHER_CHESTPLATE
        name: Farm Armor Chestplate
        npc_sell_price: 5200
        stats:
          DEFENSE: 75
          HEALTH: 20
        tier: RARE
      properties:
        color:
          description: "The color metadata to be applied to an item, usually leather\
            \ armor pieces"
          pattern: "^(?:(?:^|,\\s*)([01]?\\d\\d?|2[0-4]\\d|25[0-5])){3}$"
          type: string
        id:
          description: The unique identifier for this item
          type: string
        material:
          description: The Bukkit material enum value for the item
          type: string
        name:
          description: The name of the item
          type: string
        skin:
          description: The skin value for a skull based item
          type: string
        tier:
          description: The rarity tier of the item
          enum:
          - COMMON
          - EPIC
          - LEGENDARY
          - MYTHIC
          - RARE
          - SPECIAL
          - SUPREME
          - UNCOMMON
          - VERY_SPECIAL
          type: string
    SkyBlockMuseum:
      example:
        special:
        - donated_time: 0
          items: "{}"
        - donated_time: 0
          items: "{}"
        appraisal: true
        items: "{}"
        value: 6
      properties:
        appraisal:
          type: boolean
        items:
          type: object
        special:
          items:
            $ref: '#/components/schemas/SkyBlockMuseum_special_inner'
          type: array
        value:
          type: integer
    SkyBlockProfile:
      example:
        profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        members:
          key:
            rift:
              wizard_tower:
                wizard_quest_step: 6
                crumbs_laid_out: 5
              enigma:
                found_souls:
                - BACK2BASICS
                - BACK2BASICS
                bought_cloak: true
                claimed_bonus_index: 9
              black_lagoon:
                received_science_paper: true
                delivered_science_paper: true
                completed_step: 4
                talked_to_edwin: true
              dead_cats:
                unlocked_pet: true
                montezuma:
                  tier: COMMON
                  heldItem:
                    category: CHESTPLATE
                    color: "255,215,0"
                    id: FARM_ARMOR_CHESTPLATE
                    material: LEATHER_CHESTPLATE
                    name: Farm Armor Chestplate
                    npc_sell_price: 5200
                    stats:
                      DEFENSE: 75
                      HEALTH: 20
                    tier: RARE
                  skin:
                    category: CHESTPLATE
                    color: "255,215,0"
                    id: FARM_ARMOR_CHESTPLATE
                    material: LEATHER_CHESTPLATE
                    name: Farm Armor Chestplate
                    npc_sell_price: 5200
                    stats:
                      DEFENSE: 75
                      HEALTH: 20
                    tier: RARE
                  active: true
                  exp: 9.965781217890562
                  type: FRACTURED_MONTEZUMA_SOUL
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  candyUsed: 5
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                found_cats:
                - eight
                - eight
                picked_up_detector: true
                talked_to_jacquelle: true
              village_plaza:
                murder:
                  step_index_pt3: 6
                  step_index: 1
                  step_index_pt2: 2
                  room_clues:
                  - blood
                  - blood
                cowboy:
                  stage: 3
                  hay_eaten: 6
                  rabbit_name: rabbit_name
                barter_bank: "{}"
                got_scammed: true
                seraphine:
                  step_index: 6
                lonely:
                  seconds_sitting: 6
                barry_center:
                  first_talk_to_barry: true
                  convinced:
                  - creed
                  - creed
                  received_reward: true
              wither_cage:
                killed_eyes:
                - castle
                - castle
              gallery:
                sent_trophy_dialogues:
                - sent_trophy_dialogues
                - sent_trophy_dialogues
                elise_step: 6
                secured_trophies:
                - visits: 9
                  type: chicken_n_egg
                  timestamp: 8
                - visits: 9
                  type: chicken_n_egg
                  timestamp: 8
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            bestiary:
              kills:
                key: 6
              miscellaneous:
                max_kills_visible: true
              milestone:
                last_claimed_milestone: 7
              migration: true
              migrated_stats: true
              deaths:
                key: 1
            accessory_bag_storage:
              tuning:
                slot_4:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_3:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_2:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_1:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                highest_unlocked_slot: 2
                slot_0:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
              bag_upgrades_purchased: 5
              unlocked_powers:
              - adept
              - adept
              selected_power: selected_power
              highest_magical_power: 5
            collection:
              key: 1
        game_mode: bingo
        community_upgrades: "{}"
        cute_name: cute_name
        selected: true
        banking:
          balance: 0.8008281904610115
          transactions:
          - amount: 6.027456183070403
            action: DEPOSIT
            initiator_name: initiator_name
            timestamp: 1
          - amount: 6.027456183070403
            action: DEPOSIT
            initiator_name: initiator_name
            timestamp: 1
      properties:
        banking:
          $ref: '#/components/schemas/SkyBlockProfile_banking'
        community_upgrades:
          type: object
        cute_name:
          description: "The cute name of the profile, only provided on the profiles\
            \ endpoint"
          type: string
        game_mode:
          description: "The SkyBlock game mode of the profile, not present if normal\
            \ mode"
          enum:
          - bingo
          - ironman
          - island
          type: string
        members:
          additionalProperties:
            $ref: '#/components/schemas/SkyBlockProfileMember'
          description: A map of profile member UUIDs to profile member objects
          type: object
        profile_id:
          format: uuid
          type: string
        selected:
          description: "Whether or not this is the currently selected profile, only\
            \ provided on the profiles endpoint"
          type: boolean
    SkyBlockProfileMember:
      example:
        rift:
          wizard_tower:
            wizard_quest_step: 6
            crumbs_laid_out: 5
          enigma:
            found_souls:
            - BACK2BASICS
            - BACK2BASICS
            bought_cloak: true
            claimed_bonus_index: 9
          black_lagoon:
            received_science_paper: true
            delivered_science_paper: true
            completed_step: 4
            talked_to_edwin: true
          dead_cats:
            unlocked_pet: true
            montezuma:
              tier: COMMON
              heldItem:
                category: CHESTPLATE
                color: "255,215,0"
                id: FARM_ARMOR_CHESTPLATE
                material: LEATHER_CHESTPLATE
                name: Farm Armor Chestplate
                npc_sell_price: 5200
                stats:
                  DEFENSE: 75
                  HEALTH: 20
                tier: RARE
              skin:
                category: CHESTPLATE
                color: "255,215,0"
                id: FARM_ARMOR_CHESTPLATE
                material: LEATHER_CHESTPLATE
                name: Farm Armor Chestplate
                npc_sell_price: 5200
                stats:
                  DEFENSE: 75
                  HEALTH: 20
                tier: RARE
              active: true
              exp: 9.965781217890562
              type: FRACTURED_MONTEZUMA_SOUL
              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              candyUsed: 5
              uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            found_cats:
            - eight
            - eight
            picked_up_detector: true
            talked_to_jacquelle: true
          village_plaza:
            murder:
              step_index_pt3: 6
              step_index: 1
              step_index_pt2: 2
              room_clues:
              - blood
              - blood
            cowboy:
              stage: 3
              hay_eaten: 6
              rabbit_name: rabbit_name
            barter_bank: "{}"
            got_scammed: true
            seraphine:
              step_index: 6
            lonely:
              seconds_sitting: 6
            barry_center:
              first_talk_to_barry: true
              convinced:
              - creed
              - creed
              received_reward: true
          wither_cage:
            killed_eyes:
            - castle
            - castle
          gallery:
            sent_trophy_dialogues:
            - sent_trophy_dialogues
            - sent_trophy_dialogues
            elise_step: 6
            secured_trophies:
            - visits: 9
              type: chicken_n_egg
              timestamp: 8
            - visits: 9
              type: chicken_n_egg
              timestamp: 8
        player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        bestiary:
          kills:
            key: 6
          miscellaneous:
            max_kills_visible: true
          milestone:
            last_claimed_milestone: 7
          migration: true
          migrated_stats: true
          deaths:
            key: 1
        accessory_bag_storage:
          tuning:
            slot_4:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
            slot_3:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
            slot_2:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
            slot_1:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
            highest_unlocked_slot: 2
            slot_0:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
          bag_upgrades_purchased: 5
          unlocked_powers:
          - adept
          - adept
          selected_power: selected_power
          highest_magical_power: 5
        collection:
          key: 1
      properties:
        accessory_bag_storage:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorage'
        bestiary:
          $ref: '#/components/schemas/SkyBlockProfileMemberBestiary'
        collection:
          additionalProperties:
            type: integer
          type: object
        player_id:
          format: uuid
          type: string
        rift:
          $ref: '#/components/schemas/SkyBlockProfileMemberRift'
      type: object
    SkyBlockProfileMemberAccessoryBagStorage:
      example:
        tuning:
          slot_4:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
          slot_3:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
          slot_2:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
          slot_1:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
          highest_unlocked_slot: 2
          slot_0:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
        bag_upgrades_purchased: 5
        unlocked_powers:
        - adept
        - adept
        selected_power: selected_power
        highest_magical_power: 5
      properties:
        bag_upgrades_purchased:
          type: integer
        highest_magical_power:
          type: integer
        selected_power:
          type: string
        tuning:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuning'
        unlocked_powers:
          items:
            enum:
            - adept
            - bizarre
            - bloody
            - bubba
            - crumbly
            - demonic
            - forceful
            - frozen
            - healthy
            - hurtful
            - itchy
            - mythical
            - pleasant
            - sanguisuge
            - scorching
            - shaded
            - sighted
            - silky
            - slender
            - strong
            - sweet
            type: string
          type: array
      type: object
    SkyBlockProfileMemberAccessoryBagStorageTuning:
      example:
        slot_4:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
        slot_3:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
        slot_2:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
        slot_1:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
        highest_unlocked_slot: 2
        slot_0:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
      properties:
        highest_unlocked_slot:
          type: integer
        slot_0:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
        slot_1:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
        slot_2:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
        slot_3:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
        slot_4:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
      type: object
    SkyBlockProfileMemberAccessoryBagStorageTuningSlot:
      example:
        walk_speed: 1
        strength: 1
        critical_damage: 3
        defense: 2
        critical_chance: 9
        health: 4
        attack_speed: 7
        intelligence: 7
      properties:
        attack_speed:
          type: integer
        critical_chance:
          type: integer
        critical_damage:
          type: integer
        defense:
          type: integer
        health:
          type: integer
        intelligence:
          type: integer
        strength:
          type: integer
        walk_speed:
          type: integer
      type: object
    SkyBlockProfileMemberBestiary:
      example:
        kills:
          key: 6
        miscellaneous:
          max_kills_visible: true
        milestone:
          last_claimed_milestone: 7
        migration: true
        migrated_stats: true
        deaths:
          key: 1
      properties:
        deaths:
          additionalProperties:
            type: integer
          type: object
        kills:
          additionalProperties:
            type: integer
          type: object
        migrated_stats:
          type: boolean
        migration:
          type: boolean
        milestone:
          $ref: '#/components/schemas/SkyBlockProfileMemberBestiary_milestone'
        miscellaneous:
          $ref: '#/components/schemas/SkyBlockProfileMemberBestiary_miscellaneous'
      type: object
    SkyBlockProfileMemberCollection:
      additionalProperties:
        type: integer
      type: object
    SkyBlockProfileMemberRift:
      example:
        wizard_tower:
          wizard_quest_step: 6
          crumbs_laid_out: 5
        enigma:
          found_souls:
          - BACK2BASICS
          - BACK2BASICS
          bought_cloak: true
          claimed_bonus_index: 9
        black_lagoon:
          received_science_paper: true
          delivered_science_paper: true
          completed_step: 4
          talked_to_edwin: true
        dead_cats:
          unlocked_pet: true
          montezuma:
            tier: COMMON
            heldItem:
              category: CHESTPLATE
              color: "255,215,0"
              id: FARM_ARMOR_CHESTPLATE
              material: LEATHER_CHESTPLATE
              name: Farm Armor Chestplate
              npc_sell_price: 5200
              stats:
                DEFENSE: 75
                HEALTH: 20
              tier: RARE
            skin:
              category: CHESTPLATE
              color: "255,215,0"
              id: FARM_ARMOR_CHESTPLATE
              material: LEATHER_CHESTPLATE
              name: Farm Armor Chestplate
              npc_sell_price: 5200
              stats:
                DEFENSE: 75
                HEALTH: 20
              tier: RARE
            active: true
            exp: 9.965781217890562
            type: FRACTURED_MONTEZUMA_SOUL
            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            candyUsed: 5
            uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          found_cats:
          - eight
          - eight
          picked_up_detector: true
          talked_to_jacquelle: true
        village_plaza:
          murder:
            step_index_pt3: 6
            step_index: 1
            step_index_pt2: 2
            room_clues:
            - blood
            - blood
          cowboy:
            stage: 3
            hay_eaten: 6
            rabbit_name: rabbit_name
          barter_bank: "{}"
          got_scammed: true
          seraphine:
            step_index: 6
          lonely:
            seconds_sitting: 6
          barry_center:
            first_talk_to_barry: true
            convinced:
            - creed
            - creed
            received_reward: true
        wither_cage:
          killed_eyes:
          - castle
          - castle
        gallery:
          sent_trophy_dialogues:
          - sent_trophy_dialogues
          - sent_trophy_dialogues
          elise_step: 6
          secured_trophies:
          - visits: 9
            type: chicken_n_egg
            timestamp: 8
          - visits: 9
            type: chicken_n_egg
            timestamp: 8
      properties:
        black_lagoon:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftBlackLagoon'
        dead_cats:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftDeadCats'
        enigma:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftEnigma'
        gallery:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftGallery'
        village_plaza:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlaza'
        wither_cage:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftWitherCage'
        wizard_tower:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftWizardTower'
      type: object
    SkyBlockProfileMemberRiftBlackLagoon:
      example:
        received_science_paper: true
        delivered_science_paper: true
        completed_step: 4
        talked_to_edwin: true
      properties:
        completed_step:
          type: integer
        delivered_science_paper:
          type: boolean
        received_science_paper:
          type: boolean
        talked_to_edwin:
          type: boolean
      type: object
    SkyBlockProfileMemberRiftDeadCats:
      example:
        unlocked_pet: true
        montezuma:
          tier: COMMON
          heldItem:
            category: CHESTPLATE
            color: "255,215,0"
            id: FARM_ARMOR_CHESTPLATE
            material: LEATHER_CHESTPLATE
            name: Farm Armor Chestplate
            npc_sell_price: 5200
            stats:
              DEFENSE: 75
              HEALTH: 20
            tier: RARE
          skin:
            category: CHESTPLATE
            color: "255,215,0"
            id: FARM_ARMOR_CHESTPLATE
            material: LEATHER_CHESTPLATE
            name: Farm Armor Chestplate
            npc_sell_price: 5200
            stats:
              DEFENSE: 75
              HEALTH: 20
            tier: RARE
          active: true
          exp: 9.965781217890562
          type: FRACTURED_MONTEZUMA_SOUL
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          candyUsed: 5
          uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        found_cats:
        - eight
        - eight
        picked_up_detector: true
        talked_to_jacquelle: true
      properties:
        found_cats:
          items:
            enum:
            - eight
            - fifth
            - first
            - fourth
            - ninth
            - second
            - seventh
            - sixth
            - third
            type: string
          type: array
        montezuma:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftDeadCatsMontezuma'
        picked_up_detector:
          type: boolean
        talked_to_jacquelle:
          type: boolean
        unlocked_pet:
          type: boolean
      type: object
    SkyBlockProfileMemberRiftDeadCatsMontezuma:
      example:
        tier: COMMON
        heldItem:
          category: CHESTPLATE
          color: "255,215,0"
          id: FARM_ARMOR_CHESTPLATE
          material: LEATHER_CHESTPLATE
          name: Farm Armor Chestplate
          npc_sell_price: 5200
          stats:
            DEFENSE: 75
            HEALTH: 20
          tier: RARE
        skin:
          category: CHESTPLATE
          color: "255,215,0"
          id: FARM_ARMOR_CHESTPLATE
          material: LEATHER_CHESTPLATE
          name: Farm Armor Chestplate
          npc_sell_price: 5200
          stats:
            DEFENSE: 75
            HEALTH: 20
          tier: RARE
        active: true
        exp: 9.965781217890562
        type: FRACTURED_MONTEZUMA_SOUL
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        candyUsed: 5
        uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        active:
          type: boolean
        candyUsed:
          type: integer
        exp:
          type: number
        heldItem:
          $ref: '#/components/schemas/SkyBlockItem'
        skin:
          $ref: '#/components/schemas/SkyBlockItem'
        tier:
          enum:
          - COMMON
          - EPIC
          - LEGENDARY
          - MYTHIC
          - RARE
          - UNCOMMON
          type: string
        type:
          enum:
          - FRACTURED_MONTEZUMA_SOUL
          type: string
        uniqueId:
          format: uuid
          type: string
        uuid:
          format: uuid
          type: string
      type: object
    SkyBlockProfileMemberRiftEnigma:
      example:
        found_souls:
        - BACK2BASICS
        - BACK2BASICS
        bought_cloak: true
        claimed_bonus_index: 9
      properties:
        bought_cloak:
          type: boolean
        claimed_bonus_index:
          type: integer
        found_souls:
          items:
            enum:
            - BACK2BASICS
            - BARK_TREE
            - BEANSTALK
            - BETWEEN_BRANCHES
            - buttons_soul
            - CASTLE_BALLOONS
            - CASTLE_FLOWERS
            - CASTLE_MIDAIR
            - CASTLE_PHANTOM
            - COLOSSEUM_PILLARS
            - DOLPHIN_PARKOUR
            - FAIRY_TOWER_SOUL
            - FARM_BALLOONS
            - FROG_JUMP_PAD
            - HORSING_AROUND
            - HOT_DOG_SOUL
            - LAGOON_PARKOUR
            - LAGOON_SHOP_SOUL
            - LEAP_OF_FAITH
            - LIVING_CAVE_WALL
            - LONELY_SOUL
            - LONG_SHROOM
            - MOUNTAIN_IKRUS
            - MOUNTAIN_UBIK_BOXES
            - MOUNTAIN_UBIK_TATS
            - PIECE_TREE
            - PLAZA_BALLOONS
            - PLAZA_MIDAIR
            - PLAZA_PHANTOM
            - RABBIT_HAT_SOUL
            - RIFT_1
            - RIFT_CAKE
            - RIFT_CAKE_2
            - ROCKS_GAME_SOUL
            - SAY_HI
            - SCAMMER_SOUL
            - SOUL_IN_A_BOX
            - STANDING_THERE
            - TELKAR
            - TREE_LAUNCH
            - TWO_PLAYERS_SOUL
            - WEST_VILLAGE_KAT
            - WEST_VILLAGE_MIDAIR
            - WOODS_FLOWER_POT
            - WOODS_PHANTOM
            - WOODS_WATER_SOUL
            type: string
          type: array
      type: object
    SkyBlockProfileMemberRiftGallery:
      example:
        sent_trophy_dialogues:
        - sent_trophy_dialogues
        - sent_trophy_dialogues
        elise_step: 6
        secured_trophies:
        - visits: 9
          type: chicken_n_egg
          timestamp: 8
        - visits: 9
          type: chicken_n_egg
          timestamp: 8
      properties:
        elise_step:
          type: integer
        secured_trophies:
          items:
            $ref: '#/components/schemas/SkyBlockProfileMemberRiftGallery_secured_trophies_inner'
          type: array
        sent_trophy_dialogues:
          items:
            type: string
          type: array
      type: object
    SkyBlockProfileMemberRiftVillagePlaza:
      example:
        murder:
          step_index_pt3: 6
          step_index: 1
          step_index_pt2: 2
          room_clues:
          - blood
          - blood
        cowboy:
          stage: 3
          hay_eaten: 6
          rabbit_name: rabbit_name
        barter_bank: "{}"
        got_scammed: true
        seraphine:
          step_index: 6
        lonely:
          seconds_sitting: 6
        barry_center:
          first_talk_to_barry: true
          convinced:
          - creed
          - creed
          received_reward: true
      properties:
        barry_center:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaBarryCenter'
        barter_bank:
          properties: {}
          type: object
        cowboy:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaCowboy'
        got_scammed:
          type: boolean
        lonely:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaLonely'
        murder:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaMurder'
        seraphine:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaSeraphine'
      type: object
    SkyBlockProfileMemberRiftVillagePlazaBarryCenter:
      example:
        first_talk_to_barry: true
        convinced:
        - creed
        - creed
        received_reward: true
      properties:
        convinced:
          items:
            enum:
            - creed
            - dust
            - frankie
            - harriette
            - soma
            - stain
            - violetta
            type: string
          type: array
        first_talk_to_barry:
          type: boolean
        received_reward:
          type: boolean
      type: object
    SkyBlockProfileMemberRiftVillagePlazaBarterBank:
      properties: {}
      type: object
    SkyBlockProfileMemberRiftVillagePlazaCowboy:
      example:
        stage: 3
        hay_eaten: 6
        rabbit_name: rabbit_name
      properties:
        hay_eaten:
          type: integer
        rabbit_name:
          type: string
        stage:
          type: integer
      type: object
    SkyBlockProfileMemberRiftVillagePlazaLonely:
      example:
        seconds_sitting: 6
      properties:
        seconds_sitting:
          type: integer
      type: object
    SkyBlockProfileMemberRiftVillagePlazaMurder:
      example:
        step_index_pt3: 6
        step_index: 1
        step_index_pt2: 2
        room_clues:
        - blood
        - blood
      properties:
        room_clues:
          items:
            enum:
            - blood
            - flowers
            - fridge
            - letter
            - painting_1
            - painting_2
            - ring
            - window
            type: string
          type: array
        step_index:
          type: integer
        step_index_pt2:
          type: integer
        step_index_pt3:
          type: integer
      type: object
    SkyBlockProfileMemberRiftVillagePlazaSeraphine:
      example:
        step_index: 6
      properties:
        step_index:
          type: integer
      type: object
    SkyBlockProfileMemberRiftWitherCage:
      example:
        killed_eyes:
        - castle
        - castle
      properties:
        killed_eyes:
          items:
            enum:
            - castle
            - colosseum
            - dreadfarm
            - fisherman_hut
            - mountaintop
            - plaza
            - wizard_tower
            type: string
          type: array
      type: object
    SkyBlockProfileMemberRiftWizardTower:
      example:
        wizard_quest_step: 6
        crumbs_laid_out: 5
      properties:
        crumbs_laid_out:
          type: integer
        wizard_quest_step:
          type: integer
      type: object
    _v2_resources_skyblock_bingo_get_200_response_goals_inner:
      example:
        tiers:
        - 1
        - 1
        lore: lore
        requiredAmount: 6
        fullLore:
        - fullLore
        - fullLore
        name: name
        progress: 0
        id: id
      properties:
        fullLore:
          description: The full description of this goal
          items:
            type: string
          type: array
        id:
          description: The backend ID for this goal
          type: string
        lore:
          description: Description of this goal
          type: string
        name:
          description: The user friendly display name for this goal
          type: string
        progress:
          description: The global progress of this goal
          type: integer
        requiredAmount:
          description: The required amount for this specific goal
          type: integer
        tiers:
          description: "The tiers of this goal, if a global goal"
          items:
            type: integer
          type: array
      required:
      - id
      - name
      type: object
    _v2_resources_skyblock_bingo_get_200_response:
      example:
        lastUpdated: 5
        success: true
        modifier: NORMAL
        name: March 2024
        start: 1709269200000
        end: 1709874000000
        id: 27
        goals:
        - tiers:
          - 1
          - 1
          lore: lore
          requiredAmount: 6
          fullLore:
          - fullLore
          - fullLore
          name: name
          progress: 0
          id: id
        - tiers:
          - 1
          - 1
          lore: lore
          requiredAmount: 6
          fullLore:
          - fullLore
          - fullLore
          name: name
          progress: 0
          id: id
      properties:
        end:
          description: The end time of the current bingo event in unix milliseconds
          example: 1709874000000
          type: integer
        goals:
          description: "The goals for the current bingo event, as well as their progress"
          items:
            $ref: '#/components/schemas/_v2_resources_skyblock_bingo_get_200_response_goals_inner'
          type: array
        id:
          description: "The current bingo event ID, increments by 1 for each bingo\
            \ hosted"
          example: 27
          type: integer
        lastUpdated:
          description: The unix milliseconds timestamp of the last time this data
            was updated
          type: integer
        modifier:
          description: The modifier for the current bingo event
          enum:
          - EXTREME
          - NORMAL
          - SECRET
          example: NORMAL
          type: string
        name:
          description: The display name for the current bingo event
          example: March 2024
          type: string
        start:
          description: The start time of the current bingo event in unix milliseconds
          example: 1709269200000
          type: integer
        success:
          type: boolean
      required:
      - end
      - goals
      - id
      - lastUpdated
      - modifier
      - name
      - start
      - success
      type: object
    _v2_resources_skyblock_collections_get_200_response:
      example:
        lastUpdated: 0
        collections: "{}"
        success: true
        version: 0.11.22
      properties:
        collections:
          type: object
        lastUpdated:
          type: integer
        success:
          type: boolean
        version:
          example: 0.11.22
          type: string
      type: object
    _v2_resources_skyblock_election_get_200_response:
      example:
        lastUpdated: 0
        current: "{}"
        mayor: "{}"
        success: true
      properties:
        current:
          description: "Data regarding the current election, will not be provided\
            \ if there is no open election ongoing"
          type: object
        lastUpdated:
          type: integer
        mayor:
          description: Data regarding the current mayor
          type: object
        success:
          type: boolean
      type: object
    _v2_resources_skyblock_items_get_200_response:
      example:
        lastUpdated: 0
        success: true
        items:
        - category: CHESTPLATE
          color: "255,215,0"
          id: FARM_ARMOR_CHESTPLATE
          material: LEATHER_CHESTPLATE
          name: Farm Armor Chestplate
          npc_sell_price: 5200
          stats:
            DEFENSE: 75
            HEALTH: 20
          tier: RARE
        - category: CHESTPLATE
          color: "255,215,0"
          id: FARM_ARMOR_CHESTPLATE
          material: LEATHER_CHESTPLATE
          name: Farm Armor Chestplate
          npc_sell_price: 5200
          stats:
            DEFENSE: 75
            HEALTH: 20
          tier: RARE
      properties:
        items:
          items:
            $ref: '#/components/schemas/SkyBlockItem'
          type: array
        lastUpdated:
          type: integer
        success:
          type: boolean
      type: object
    _v2_resources_skyblock_skills_get_200_response:
      example:
        skills: "{}"
        lastUpdated: 0
        success: true
        version: 0.11.22
      properties:
        lastUpdated:
          type: integer
        skills:
          type: object
        success:
          type: boolean
        version:
          example: 0.11.22
          type: string
      type: object
    _v2_skyblock_bingo_get_200_response_events_inner:
      example:
        completed_goals:
        - "[\"KILL_TRAPPER_MOB\",\"stat_walk_speed\"]"
        - "[\"KILL_TRAPPER_MOB\",\"stat_walk_speed\"]"
        key: 2
        points: 117
      properties:
        completed_goals:
          description: The completed goal IDs
          items:
            example: "[\"KILL_TRAPPER_MOB\",\"stat_walk_speed\"]"
            type: string
          type: array
        key:
          description: The id for this event
          example: 2
          type: integer
        points:
          description: The amount of points earned
          example: 117
          type: integer
      required:
      - completed_goals
      - key
      - points
      type: object
    _v2_skyblock_bingo_get_200_response:
      example:
        success: true
        events:
        - completed_goals:
          - "[\"KILL_TRAPPER_MOB\",\"stat_walk_speed\"]"
          - "[\"KILL_TRAPPER_MOB\",\"stat_walk_speed\"]"
          key: 2
          points: 117
        - completed_goals:
          - "[\"KILL_TRAPPER_MOB\",\"stat_walk_speed\"]"
          - "[\"KILL_TRAPPER_MOB\",\"stat_walk_speed\"]"
          key: 2
          points: 117
      properties:
        events:
          items:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_200_response_events_inner'
          type: array
        success:
          type: boolean
      type: object
    _v2_skyblock_bingo_get_400_response:
      example:
        success: false
        cause: "Missing one or more fields [...]"
      properties:
        cause:
          example: "Missing one or more fields [...]"
          type: string
        success:
          example: false
          type: boolean
      type: object
    _v2_skyblock_bingo_get_403_response:
      example:
        success: false
        cause: Invalid API key
      properties:
        cause:
          example: Invalid API key
          type: string
        success:
          example: false
          type: boolean
      type: object
    _v2_skyblock_bingo_get_404_response:
      example:
        success: false
        cause: No bingo data could be found
      properties:
        cause:
          example: No bingo data could be found
          type: string
        success:
          example: false
          type: boolean
      type: object
    _v2_skyblock_bingo_get_422_response:
      example:
        success: false
        cause: Malformed UUID
      properties:
        cause:
          example: Malformed UUID
          type: string
        success:
          example: false
          type: boolean
      type: object
    _v2_skyblock_bingo_get_429_response:
      example:
        throttle: true
        success: false
        cause: Key throttle
        global: true
      properties:
        cause:
          example: Key throttle
          type: string
        global:
          description: "When this boolean exists and is true, the throttle occurring\
            \ is a global throttle applied to all users"
          example: true
          type: boolean
        success:
          example: false
          type: boolean
        throttle:
          example: true
          type: boolean
      type: object
    _v2_skyblock_firesales_get_200_response:
      example:
        success: true
        sales:
        - amount: 0
          item_id: item_id
          price: 1
          start: 5
          end: 6
        - amount: 0
          item_id: item_id
          price: 1
          start: 5
          end: 6
      properties:
        sales:
          items:
            $ref: '#/components/schemas/SkyBlockFireSale'
          type: array
        success:
          type: boolean
      type: object
    _v2_skyblock_garden_get_200_response:
      example:
        success: true
        garden:
          garden_experience: 1.4658129805029452
          selected_barn_skin: selected_barn_skin
          unlocked_barn_skins:
          - unlocked_barn_skins
          - unlocked_barn_skins
          commission_data:
            visits:
              andrew: 3
              jacob: 2
              jerry: 1
            total_completed: 0
            completed:
              andrew: 2
              jacob: 1
              jerry: 1
            unique_npcs_served: 6
          resources_collected:
            INK_SACK:3: 100
            POTATO_ITEM: 100
            WHEAT: 100
          composter_data:
            compost_items: 2
            compost_units: 0
            conversion_ticks: 300
            fuel_units: 17000
            last_save: 1721039418436
            organic_matter: 1772.8
            upgrades:
              cost_reduction: 25
              fuel_cap: 22
              multi_drop: 25
              organic_matter_cap: 25
              speed: 25
          crop_upgrade_levels:
            INK_SACK:3: 3
            POTATO_ITEM: 2
            WHEAT: 1
          active_commissions:
            fear_mongerer:
              extra_rewards:
              - candy: PURPLE_CANDY
              position: 5
              requirement:
              - amount: 1
                item: POLISHED_PUMPKIN
                original_amount: 27709
                original_item: PUMPKIN
              status: NOT_STARTED
            liam:
              position: 1
              requirement:
              - amount: 4
                item: MUTANT_NETHER_STALK
                original_amount: 93995
                original_item: NETHER_STALK
              status: NOT_STARTED
            lumberjack:
              position: 2
              requirement:
              - amount: 3
                item: ENCHANTED_BAKED_POTATO
                original_amount: 81380
                original_item: POTATO_ITEM
              status: NOT_STARTED
            oringo:
              position: 3
              requirement:
              - amount: 21
                item: ENCHANTED_HAY_BLOCK
                original_amount: 26798
                original_item: WHEAT
              status: NOT_STARTED
            rhys:
              position: 4
              requirement:
              - amount: 512
                item: JACK_O_LANTERN
                original_amount: 512
                original_item: JACK_O_LANTERN
              status: NOT_STARTED
          unlocked_plots_ids:
          - beginner_1
          - intermediate_3
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        garden:
          $ref: '#/components/schemas/SkyBlockGarden'
        success:
          type: boolean
      type: object
    _v2_skyblock_garden_get_404_response:
      example:
        success: false
        cause: No result was found
      properties:
        cause:
          example: No result was found
          type: string
        success:
          example: false
          type: boolean
      type: object
    _v2_skyblock_museum_get_200_response:
      example:
        success: true
        profile:
          special:
          - donated_time: 0
            items: "{}"
          - donated_time: 0
            items: "{}"
          appraisal: true
          items: "{}"
          value: 6
      properties:
        profile:
          $ref: '#/components/schemas/SkyBlockMuseum'
        success:
          type: boolean
      type: object
    _v2_skyblock_news_get_200_response:
      example:
        success: true
        items:
        - item:
            material: DIAMOND
          link: https://hypixel.net
          text: 15th January 2021
          title: SkyBlock v0.11
        - item:
            material: DIAMOND
          link: https://hypixel.net
          text: 15th January 2021
          title: SkyBlock v0.11
      properties:
        items:
          items:
            example:
              item:
                material: DIAMOND
              link: https://hypixel.net
              text: 15th January 2021
              title: SkyBlock v0.11
          type: array
        success:
          type: boolean
      type: object
    _v2_skyblock_profile_get_200_response:
      example:
        success: true
        profile:
          profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            key:
              rift:
                wizard_tower:
                  wizard_quest_step: 6
                  crumbs_laid_out: 5
                enigma:
                  found_souls:
                  - BACK2BASICS
                  - BACK2BASICS
                  bought_cloak: true
                  claimed_bonus_index: 9
                black_lagoon:
                  received_science_paper: true
                  delivered_science_paper: true
                  completed_step: 4
                  talked_to_edwin: true
                dead_cats:
                  unlocked_pet: true
                  montezuma:
                    tier: COMMON
                    heldItem:
                      category: CHESTPLATE
                      color: "255,215,0"
                      id: FARM_ARMOR_CHESTPLATE
                      material: LEATHER_CHESTPLATE
                      name: Farm Armor Chestplate
                      npc_sell_price: 5200
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      tier: RARE
                    skin:
                      category: CHESTPLATE
                      color: "255,215,0"
                      id: FARM_ARMOR_CHESTPLATE
                      material: LEATHER_CHESTPLATE
                      name: Farm Armor Chestplate
                      npc_sell_price: 5200
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      tier: RARE
                    active: true
                    exp: 9.965781217890562
                    type: FRACTURED_MONTEZUMA_SOUL
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    candyUsed: 5
                    uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  found_cats:
                  - eight
                  - eight
                  picked_up_detector: true
                  talked_to_jacquelle: true
                village_plaza:
                  murder:
                    step_index_pt3: 6
                    step_index: 1
                    step_index_pt2: 2
                    room_clues:
                    - blood
                    - blood
                  cowboy:
                    stage: 3
                    hay_eaten: 6
                    rabbit_name: rabbit_name
                  barter_bank: "{}"
                  got_scammed: true
                  seraphine:
                    step_index: 6
                  lonely:
                    seconds_sitting: 6
                  barry_center:
                    first_talk_to_barry: true
                    convinced:
                    - creed
                    - creed
                    received_reward: true
                wither_cage:
                  killed_eyes:
                  - castle
                  - castle
                gallery:
                  sent_trophy_dialogues:
                  - sent_trophy_dialogues
                  - sent_trophy_dialogues
                  elise_step: 6
                  secured_trophies:
                  - visits: 9
                    type: chicken_n_egg
                    timestamp: 8
                  - visits: 9
                    type: chicken_n_egg
                    timestamp: 8
              player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              bestiary:
                kills:
                  key: 6
                miscellaneous:
                  max_kills_visible: true
                milestone:
                  last_claimed_milestone: 7
                migration: true
                migrated_stats: true
                deaths:
                  key: 1
              accessory_bag_storage:
                tuning:
                  slot_4:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_3:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_2:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_1:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  highest_unlocked_slot: 2
                  slot_0:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                bag_upgrades_purchased: 5
                unlocked_powers:
                - adept
                - adept
                selected_power: selected_power
                highest_magical_power: 5
              collection:
                key: 1
          game_mode: bingo
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 0.8008281904610115
            transactions:
            - amount: 6.027456183070403
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
            - amount: 6.027456183070403
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
      properties:
        profile:
          $ref: '#/components/schemas/SkyBlockProfile'
        success:
          type: boolean
      type: object
    _v2_skyblock_profiles_get_200_response:
      example:
        success: true
        profiles:
        - profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            key:
              rift:
                wizard_tower:
                  wizard_quest_step: 6
                  crumbs_laid_out: 5
                enigma:
                  found_souls:
                  - BACK2BASICS
                  - BACK2BASICS
                  bought_cloak: true
                  claimed_bonus_index: 9
                black_lagoon:
                  received_science_paper: true
                  delivered_science_paper: true
                  completed_step: 4
                  talked_to_edwin: true
                dead_cats:
                  unlocked_pet: true
                  montezuma:
                    tier: COMMON
                    heldItem:
                      category: CHESTPLATE
                      color: "255,215,0"
                      id: FARM_ARMOR_CHESTPLATE
                      material: LEATHER_CHESTPLATE
                      name: Farm Armor Chestplate
                      npc_sell_price: 5200
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      tier: RARE
                    skin:
                      category: CHESTPLATE
                      color: "255,215,0"
                      id: FARM_ARMOR_CHESTPLATE
                      material: LEATHER_CHESTPLATE
                      name: Farm Armor Chestplate
                      npc_sell_price: 5200
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      tier: RARE
                    active: true
                    exp: 9.965781217890562
                    type: FRACTURED_MONTEZUMA_SOUL
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    candyUsed: 5
                    uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  found_cats:
                  - eight
                  - eight
                  picked_up_detector: true
                  talked_to_jacquelle: true
                village_plaza:
                  murder:
                    step_index_pt3: 6
                    step_index: 1
                    step_index_pt2: 2
                    room_clues:
                    - blood
                    - blood
                  cowboy:
                    stage: 3
                    hay_eaten: 6
                    rabbit_name: rabbit_name
                  barter_bank: "{}"
                  got_scammed: true
                  seraphine:
                    step_index: 6
                  lonely:
                    seconds_sitting: 6
                  barry_center:
                    first_talk_to_barry: true
                    convinced:
                    - creed
                    - creed
                    received_reward: true
                wither_cage:
                  killed_eyes:
                  - castle
                  - castle
                gallery:
                  sent_trophy_dialogues:
                  - sent_trophy_dialogues
                  - sent_trophy_dialogues
                  elise_step: 6
                  secured_trophies:
                  - visits: 9
                    type: chicken_n_egg
                    timestamp: 8
                  - visits: 9
                    type: chicken_n_egg
                    timestamp: 8
              player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              bestiary:
                kills:
                  key: 6
                miscellaneous:
                  max_kills_visible: true
                milestone:
                  last_claimed_milestone: 7
                migration: true
                migrated_stats: true
                deaths:
                  key: 1
              accessory_bag_storage:
                tuning:
                  slot_4:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_3:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_2:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_1:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  highest_unlocked_slot: 2
                  slot_0:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                bag_upgrades_purchased: 5
                unlocked_powers:
                - adept
                - adept
                selected_power: selected_power
                highest_magical_power: 5
              collection:
                key: 1
          game_mode: bingo
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 0.8008281904610115
            transactions:
            - amount: 6.027456183070403
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
            - amount: 6.027456183070403
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
        - profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            key:
              rift:
                wizard_tower:
                  wizard_quest_step: 6
                  crumbs_laid_out: 5
                enigma:
                  found_souls:
                  - BACK2BASICS
                  - BACK2BASICS
                  bought_cloak: true
                  claimed_bonus_index: 9
                black_lagoon:
                  received_science_paper: true
                  delivered_science_paper: true
                  completed_step: 4
                  talked_to_edwin: true
                dead_cats:
                  unlocked_pet: true
                  montezuma:
                    tier: COMMON
                    heldItem:
                      category: CHESTPLATE
                      color: "255,215,0"
                      id: FARM_ARMOR_CHESTPLATE
                      material: LEATHER_CHESTPLATE
                      name: Farm Armor Chestplate
                      npc_sell_price: 5200
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      tier: RARE
                    skin:
                      category: CHESTPLATE
                      color: "255,215,0"
                      id: FARM_ARMOR_CHESTPLATE
                      material: LEATHER_CHESTPLATE
                      name: Farm Armor Chestplate
                      npc_sell_price: 5200
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      tier: RARE
                    active: true
                    exp: 9.965781217890562
                    type: FRACTURED_MONTEZUMA_SOUL
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    candyUsed: 5
                    uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  found_cats:
                  - eight
                  - eight
                  picked_up_detector: true
                  talked_to_jacquelle: true
                village_plaza:
                  murder:
                    step_index_pt3: 6
                    step_index: 1
                    step_index_pt2: 2
                    room_clues:
                    - blood
                    - blood
                  cowboy:
                    stage: 3
                    hay_eaten: 6
                    rabbit_name: rabbit_name
                  barter_bank: "{}"
                  got_scammed: true
                  seraphine:
                    step_index: 6
                  lonely:
                    seconds_sitting: 6
                  barry_center:
                    first_talk_to_barry: true
                    convinced:
                    - creed
                    - creed
                    received_reward: true
                wither_cage:
                  killed_eyes:
                  - castle
                  - castle
                gallery:
                  sent_trophy_dialogues:
                  - sent_trophy_dialogues
                  - sent_trophy_dialogues
                  elise_step: 6
                  secured_trophies:
                  - visits: 9
                    type: chicken_n_egg
                    timestamp: 8
                  - visits: 9
                    type: chicken_n_egg
                    timestamp: 8
              player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              bestiary:
                kills:
                  key: 6
                miscellaneous:
                  max_kills_visible: true
                milestone:
                  last_claimed_milestone: 7
                migration: true
                migrated_stats: true
                deaths:
                  key: 1
              accessory_bag_storage:
                tuning:
                  slot_4:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_3:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_2:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  slot_1:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                  highest_unlocked_slot: 2
                  slot_0:
                    walk_speed: 1
                    strength: 1
                    critical_damage: 3
                    defense: 2
                    critical_chance: 9
                    health: 4
                    attack_speed: 7
                    intelligence: 7
                bag_upgrades_purchased: 5
                unlocked_powers:
                - adept
                - adept
                selected_power: selected_power
                highest_magical_power: 5
              collection:
                key: 1
          game_mode: bingo
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 0.8008281904610115
            transactions:
            - amount: 6.027456183070403
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
            - amount: 6.027456183070403
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
      properties:
        profiles:
          items:
            $ref: '#/components/schemas/SkyBlockProfile'
          type: array
        success:
          type: boolean
      type: object
    SkyBlockGarden_commission_data:
      example:
        visits:
          andrew: 3
          jacob: 2
          jerry: 1
        total_completed: 0
        completed:
          andrew: 2
          jacob: 1
          jerry: 1
        unique_npcs_served: 6
      properties:
        completed:
          description: A map of visitor identifier to completed count
          example:
            andrew: 2
            jacob: 1
            jerry: 1
          type: object
        total_completed:
          type: integer
        unique_npcs_served:
          type: integer
        visits:
          description: A map of visitor identifier to visit count
          example:
            andrew: 3
            jacob: 2
            jerry: 1
          type: object
      type: object
    SkyBlockMuseum_special_inner:
      example:
        donated_time: 0
        items: "{}"
      properties:
        donated_time:
          type: integer
        items:
          type: object
      type: object
    SkyBlockProfile_banking_transactions_inner:
      example:
        amount: 6.027456183070403
        action: DEPOSIT
        initiator_name: initiator_name
        timestamp: 1
      properties:
        action:
          enum:
          - DEPOSIT
          - WITHDRAW
          type: string
        amount:
          type: number
        initiator_name:
          type: string
        timestamp:
          type: integer
      type: object
    SkyBlockProfile_banking:
      description: "Information about the bank account for this profile, only present\
        \ if the API banking setting is enabled"
      example:
        balance: 0.8008281904610115
        transactions:
        - amount: 6.027456183070403
          action: DEPOSIT
          initiator_name: initiator_name
          timestamp: 1
        - amount: 6.027456183070403
          action: DEPOSIT
          initiator_name: initiator_name
          timestamp: 1
      properties:
        balance:
          type: number
        transactions:
          items:
            $ref: '#/components/schemas/SkyBlockProfile_banking_transactions_inner'
          type: array
      type: object
    SkyBlockProfileMemberBestiary_milestone:
      example:
        last_claimed_milestone: 7
      properties:
        last_claimed_milestone:
          type: integer
      type: object
    SkyBlockProfileMemberBestiary_miscellaneous:
      example:
        max_kills_visible: true
      properties:
        max_kills_visible:
          type: boolean
      type: object
    SkyBlockProfileMemberRiftGallery_secured_trophies_inner:
      example:
        visits: 9
        type: chicken_n_egg
        timestamp: 8
      properties:
        timestamp:
          type: integer
        type:
          enum:
          - chicken_n_egg
          - citizen
          - lazy_living
          - mirrored
          - mountain
          - slime
          - vampiric
          - wyldly_supreme
          type: string
        visits:
          type: integer
      type: object
    inline_object:
      properties:
        cause:
          example: Invalid page
          type: string
        success:
          example: false
          type: boolean
      type: object
    inline_object_1:
      properties:
        cause:
          example: Page not found
          type: string
        success:
          example: false
          type: boolean
      type: object
    inline_object_2:
      properties:
        cause:
          example: Leaderboard data has not yet been populated
          type: string
        success:
          example: false
          type: boolean
      type: object
  securitySchemes:
    ApiKey:
      description: "Obtained via the [Hypixel Developer Dashboard](https://developer.hypixel.net)\
        \ when creating an application. You can also request higher limits for production\
        \ applications in this dashboard."
      in: header
      name: API-Key
      type: apiKey
