openapi: 3.0.3
info:
  contact:
    name: Hypixel Support
    url: https://developer.hypixel.net
  termsOfService: https://hypixel.net/tos
  title: Hypixel Public API
  version: v2
  x-logo:
    altText: Hypixel Logo
    href: '#'
    url: https://api.hypixel.net/assets/images/logo.png
servers:
- url: https://api.hypixel.net
paths:
  /v2/resources/skyblock/bingo:
    get:
      description: Information regarding the current bingo event and its goals.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_bingo_get_200_response'
          description: A successful response
      summary: Current Bingo Event
      tags:
      - SkyBlock
  /v2/resources/skyblock/collections:
    get:
      description: Information regarding Collections in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_collections_get_200_response'
          description: A successful response
      summary: Collections
      tags:
      - SkyBlock
  /v2/resources/skyblock/election:
    get:
      description: Information regarding the current mayor and ongoing election in
        SkyBlock.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_election_get_200_response'
          description: A successful response
      summary: Election and Mayor
      tags:
      - SkyBlock
  /v2/resources/skyblock/items:
    get:
      description: Information regarding items in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_items_get_200_response'
          description: A successful response
      summary: Items
      tags:
      - SkyBlock
  /v2/resources/skyblock/skills:
    get:
      description: Information regarding skills in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_skills_get_200_response'
          description: A successful response
      summary: Skills
      tags:
      - SkyBlock
  /v2/skyblock/bingo:
    get:
      description: Bingo data for participated events of the provided player.
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_404_response'
          description: No data could be found for the provided player uuid.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Bingo data by player
      tags:
      - SkyBlock
  /v2/skyblock/firesales:
    get:
      description: Retrieve the currently active or upcoming Fire Sales for SkyBlock.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_firesales_get_200_response'
          description: A successful response
      summary: Active/Upcoming Fire Sales
      tags:
      - SkyBlock
  /v2/skyblock/garden:
    get:
      description: SkyBlock garden data for the provided profile.
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
          description: The request responded with no result.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Garden data by profile ID
      tags:
      - SkyBlock
  /v2/skyblock/museum:
    get:
      description: SkyBlock museum data for all members of the provided profile. The
        data returned can differ depending on the players in-game API settings.
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_museum_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Museum data by profile ID
      tags:
      - SkyBlock
  /v2/skyblock/news:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: News
      tags:
      - SkyBlock
  /v2/skyblock/profile:
    get:
      description: "SkyBlock profile data, such as stats, objectives etc. The data\
        \ returned can differ depending on the players in-game API settings."
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profile by UUID
      tags:
      - SkyBlock
  /v2/skyblock/profiles:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profiles_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profiles by player
      tags:
      - SkyBlock
components:
  responses:
    DataMissing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_400_response'
      description: "Some data is missing, this is usually a field."
    InvalidKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_403_response'
      description: "Access is forbidden, usually due to an invalid API key being used."
    InvalidPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: The page provided is invalid.
    MalformedData:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_422_response'
      description: Some data provided is invalid.
    MissingPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      description: The page provided does not exist.
    NoResult:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
      description: The request responded with no result.
    NotPopulated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      description: The data is not yet populated and should be available shortly
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_429_response'
      description: "A request limit has been reached, usually this is due to the limit\
        \ on the key being reached but can also be triggered by a global throttle."
  schemas:
    ActiveBooster:
      allOf:
      - $ref: '#/components/schemas/Booster'
      - properties:
          stacked:
            items:
              description: UUID of the player in a dashed format
              example: ad8fefaa-8351-454b-b739-a4eaa872173f
              format: uuid
              type: string
            type: array
        type: object
    Booster:
      properties:
        _id:
          format: objectid
          type: string
        amount:
          type: integer
        dateActivated:
          type: integer
        gameType:
          type: integer
        length:
          type: integer
        originalLength:
          type: integer
        purchaserUuid:
          format: uuid
          type: string
    QueuedBooster:
      allOf:
      - $ref: '#/components/schemas/Booster'
      - properties:
          stacked:
            type: boolean
        type: object
    SkyBlockEmblem:
      enum:
      - ALCHEMY_BREW
      - ARCHER_MASTER
      - ARCHER_SPADE
      - ARC_REACTOR
      - BADGE
      - BERSERKER_EXPLOSION
      - BERSERKER_MASTER
      - BIOHAZARD
      - BOXES
      - BROODMOTHER_STRING
      - CARPENTRY_HOUSE
      - CATACOMBS_SWORDS
      - CENTURY_CELEBRANT
      - CENTURY_PARTYGOER
      - CENTURY_RAFFLE_BLUE
      - CENTURY_RAFFLE_GREEN
      - CENTURY_RAFFLE_PINK
      - CENTURY_RAFFLE_RED
      - CENTURY_RAFFLE_YELLOW
      - CHOCOLATE_BAR
      - CLASS_MASTER
      - COLLECTING_TOP_HAT
      - COMBAT_EXPLOSION
      - COMBAT_MASTER
      - DIAMOND
      - DIAMOND_CLASS_GRANDMASTER
      - DIAMOND_JACOBS_CONTEST_COMPLETIONIST
      - DIAMOND_MINING_HELIX
      - DIAMOND_TROPHY_KING
      - DUNGEON_MASTER
      - DUNGEON_RUNNER
      - ENCHANTING_MASTER
      - ENCHANTING_PENCIL
      - EXTREME_BANKER
      - FARMING_FLOWER
      - FARMING_MASTER
      - FISHING_FISH
      - FLORETTE
      - FORAGING_LEAF
      - GARDENER
      - GIFT_OF_GIVING
      - GLOBE
      - GOLDEN_BROODMOTHER_STRING
      - GOLDEN_CATACOMBS_SWORDS
      - GOLDEN_CHILI_PEPPER
      - GOLDEN_CHOCOLATE_BAR
      - GOLDEN_CLASS_MASTER
      - GOLDEN_COLLECTING_TOP_HAT
      - GOLDEN_FLEUR_DE_LIS
      - GOLDEN_GARDENER
      - GOLDEN_INFERNO_RODS
      - GOLDEN_JACOBS_CONTEST_COMPLETIONIST
      - GOLDEN_MAGICAL_SIGMA
      - GOLDEN_MINING_HELIX
      - GOLDEN_REVENANT_HORROR_BRAIN
      - GOLDEN_RIFTSTALKER_STRANGE_TIME
      - GOLDEN_SVEN_SHIELD
      - GOLDEN_TROPHY_KING
      - GOLDEN_VOIDGLOOM_RUNE
      - GREAT_SPOOK
      - HARP_MASTER
      - HARP_NOTE
      - HEALER_MASTER
      - HEALER_STAFF
      - HEART
      - HELMET
      - HYPIXEL
      - INFERNO_RODS
      - JACOBS_CONTEST_COMPLETIONIST
      - JERRY
      - KUUDRA_MASTER_SLAYER
      - KUUDRA_SLAYER
      - MAGE_LIGHTNING
      - MAGE_MASTER
      - MAGICAL_SIGMA
      - MARKER
      - MINING_HELIX
      - MINING_MASTER
      - MINING_PICKAXE
      - MUSTACHE
      - PRISTINE
      - REVENANT_HORROR_BRAIN
      - RIFTSTALKER_STRANGE_TIME
      - RIFT_TIME
      - SIDEWAYS_SMILEY
      - SNOWMAN
      - SOCIAL_MASTER
      - SOCIAL_STATEMENT
      - SOULFLOW
      - SPACESHIP
      - SPADE
      - STAR
      - SVEN_SHIELD
      - TAMING_CLOVER
      - TAMING_MASTER
      - TANK_ANCHOR
      - TANK_MASTER
      - TOXIC
      - TROPHY_KING
      - ULTRA_BANKER
      - VOIDGLOOM_RUNE
      - WARNING
      type: string
    SkyBlockFireSale:
      example:
        amount: 0
        item_id: item_id
        price: 1
        start: 5
        end: 6
      properties:
        amount:
          description: The amount of items available for this sale
          type: integer
        end:
          description: The end time in unix milliseconds for the sale
          type: integer
        item_id:
          description: The SkyBlock item ID for this sale
          type: string
        price:
          description: The price in Gems for this sale
          type: integer
        start:
          description: The start time in unix milliseconds for the sale
          type: integer
    SkyBlockGarden:
      description: "Information about a player's SkyBlock garden, the only guaranteed\
        \ field is the `uuid` field."
      example:
        garden_experience: 1.4658129805029452
        selected_barn_skin: selected_barn_skin
        unlocked_barn_skins:
        - unlocked_barn_skins
        - unlocked_barn_skins
        commission_data:
          visits:
            andrew: 3
            jacob: 2
            jerry: 1
          total_completed: 0
          completed:
            andrew: 2
            jacob: 1
            jerry: 1
          unique_npcs_served: 6
        resources_collected:
          INK_SACK:3: 100
          POTATO_ITEM: 100
          WHEAT: 100
        composter_data:
          compost_items: 2
          compost_units: 0
          conversion_ticks: 300
          fuel_units: 17000
          last_save: 1721039418436
          organic_matter: 1772.8
          upgrades:
            cost_reduction: 25
            fuel_cap: 22
            multi_drop: 25
            organic_matter_cap: 25
            speed: 25
        crop_upgrade_levels:
          INK_SACK:3: 3
          POTATO_ITEM: 2
          WHEAT: 1
        active_commissions:
          fear_mongerer:
            extra_rewards:
            - candy: PURPLE_CANDY
            position: 5
            requirement:
            - amount: 1
              item: POLISHED_PUMPKIN
              original_amount: 27709
              original_item: PUMPKIN
            status: NOT_STARTED
          liam:
            position: 1
            requirement:
            - amount: 4
              item: MUTANT_NETHER_STALK
              original_amount: 93995
              original_item: NETHER_STALK
            status: NOT_STARTED
          lumberjack:
            position: 2
            requirement:
            - amount: 3
              item: ENCHANTED_BAKED_POTATO
              original_amount: 81380
              original_item: POTATO_ITEM
            status: NOT_STARTED
          oringo:
            position: 3
            requirement:
            - amount: 21
              item: ENCHANTED_HAY_BLOCK
              original_amount: 26798
              original_item: WHEAT
            status: NOT_STARTED
          rhys:
            position: 4
            requirement:
            - amount: 512
              item: JACK_O_LANTERN
              original_amount: 512
              original_item: JACK_O_LANTERN
            status: NOT_STARTED
        unlocked_plots_ids:
        - beginner_1
        - intermediate_3
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        active_commissions:
          example:
            fear_mongerer:
              extra_rewards:
              - candy: PURPLE_CANDY
              position: 5
              requirement:
              - amount: 1
                item: POLISHED_PUMPKIN
                original_amount: 27709
                original_item: PUMPKIN
              status: NOT_STARTED
            liam:
              position: 1
              requirement:
              - amount: 4
                item: MUTANT_NETHER_STALK
                original_amount: 93995
                original_item: NETHER_STALK
              status: NOT_STARTED
            lumberjack:
              position: 2
              requirement:
              - amount: 3
                item: ENCHANTED_BAKED_POTATO
                original_amount: 81380
                original_item: POTATO_ITEM
              status: NOT_STARTED
            oringo:
              position: 3
              requirement:
              - amount: 21
                item: ENCHANTED_HAY_BLOCK
                original_amount: 26798
                original_item: WHEAT
              status: NOT_STARTED
            rhys:
              position: 4
              requirement:
              - amount: 512
                item: JACK_O_LANTERN
                original_amount: 512
                original_item: JACK_O_LANTERN
              status: NOT_STARTED
          type: object
        commission_data:
          $ref: '#/components/schemas/SkyBlockGarden_commission_data'
        composter_data:
          example:
            compost_items: 2
            compost_units: 0
            conversion_ticks: 300
            fuel_units: 17000
            last_save: 1721039418436
            organic_matter: 1772.8
            upgrades:
              cost_reduction: 25
              fuel_cap: 22
              multi_drop: 25
              organic_matter_cap: 25
              speed: 25
          type: object
        crop_upgrade_levels:
          example:
            INK_SACK:3: 3
            POTATO_ITEM: 2
            WHEAT: 1
          type: object
        garden_experience:
          type: number
        resources_collected:
          description: A map of resource ID to amount collected
          example:
            INK_SACK:3: 100
            POTATO_ITEM: 100
            WHEAT: 100
          type: object
        selected_barn_skin:
          type: string
        unlocked_barn_skins:
          items:
            type: string
          type: array
        unlocked_plots_ids:
          example:
          - beginner_1
          - intermediate_3
          items:
            type: string
          type: array
        uuid:
          description: The UUID of the profile for this garden.
          format: uuid
          type: string
      required:
      - uuid
    SkyBlockItem:
      example:
        category: CHESTPLATE
        color: "255,215,0"
        id: FARM_ARMOR_CHESTPLATE
        material: LEATHER_CHESTPLATE
        name: Farm Armor Chestplate
        npc_sell_price: 5200
        stats:
          DEFENSE: 75
          HEALTH: 20
        tier: RARE
      properties:
        color:
          description: "The color metadata to be applied to an item, usually leather\
            \ armor pieces"
          pattern: "^(?:(?:^|,\\s*)([01]?\\d\\d?|2[0-4]\\d|25[0-5])){3}$"
          type: string
        id:
          description: The unique identifier for this item
          type: string
        material:
          description: The Bukkit material enum value for the item
          type: string
        name:
          description: The name of the item
          type: string
        skin:
          description: The skin value for a skull based item
          type: string
        tier:
          $ref: '#/components/schemas/SkyBlockItem_tier'
    SkyBlockMuseum:
      example:
        special:
        - donated_time: 0
          items: "{}"
        - donated_time: 0
          items: "{}"
        appraisal: true
        items: "{}"
        value: 6
      properties:
        appraisal:
          type: boolean
        items:
          type: object
        special:
          items:
            $ref: '#/components/schemas/SkyBlockMuseum_special_inner'
          type: array
        value:
          type: integer
    SkyBlockProfile:
      example:
        profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        members:
          key:
            fairy_soul:
              fairy_exchanges: 6
              total_collected: 0
              unspent_souls: 2
            dungeons:
              selected_dungeon_class: selected_dungeon_class
              dungeon_types:
                key:
                  best_score:
                    key: 3.353193347011243
                  tier_completions:
                    key: 4.078845849666752
                  fastest_time_s_plus:
                    key: 7.058770351582356
                  most_damage_tank:
                    key: 7.04836565559697
                  watcher_kills:
                    key: 6.628464275087742
                  times_played:
                    key: 0.2025324113236393
                  experience: 3.0937452626664474
                  milestone_completions:
                    key: 0.10263654006109402
                  most_damage_berserk:
                    key: 7.740351818741173
                  most_damage_healer:
                    key: 3.0205796992916243
                  most_mobs_killed:
                    key: 3.2588565619047607
                  fastest_time:
                    key: 7.143538047012306
                  most_damage_mage:
                    key: 3.0576100241049344
                  most_damage_archer:
                    key: 8.969578798196912
                  fastest_time_s:
                    key: 0.8851374739011653
                  most_healing:
                    key: 5.533258397034986
                  best_runs:
                    key:
                    - damage_dealt: 8.762042012749001
                      damage_mitigated: 9.018348186070783
                      ally_healing: 6.683562403749608
                      score_skill: 6
                      score_exploration: 2
                      dungeon_class: dungeon_class
                      score_bonus: 1
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 6
                      elapsed_time: 3
                      mobs_killed: 6
                      secrets_found: 5
                      deaths: 6
                      timestamp: 6
                    - damage_dealt: 8.762042012749001
                      damage_mitigated: 9.018348186070783
                      ally_healing: 6.683562403749608
                      score_skill: 6
                      score_exploration: 2
                      dungeon_class: dungeon_class
                      score_bonus: 1
                      teammates:
                      - teammates
                      - teammates
                      score_speed: 6
                      elapsed_time: 3
                      mobs_killed: 6
                      secrets_found: 5
                      deaths: 6
                      timestamp: 6
                  mobs_killed:
                    key: 4.652396432933246
                  highest_tier_completed: 6
              player_classes:
                key:
                  experience: 4.258773108174356
              dungeon_journal:
                unlocked_journals:
                - unlocked_journals
                - unlocked_journals
              dungeon_hub_race_settings:
                selected_race: selected_race
                runback: true
                selected_setting: selected_setting
              last_dungeon_run: last_dungeon_run
              daily_runs:
                completed_runs_count: 9
                current_day_stamp: 9
              treasures:
                chests:
                - run_id: run_id
                  paid: true
                  chest_id: chest_id
                  rerolls: 7
                  treasure_type: treasure_type
                  shiny_eligible: true
                  rewards:
                    rewards:
                    - rewards
                    - rewards
                    rolled_rng_meter_randomly: true
                  quality: 4
                - run_id: run_id
                  paid: true
                  chest_id: chest_id
                  rerolls: 7
                  treasure_type: treasure_type
                  shiny_eligible: true
                  rewards:
                    rewards:
                    - rewards
                    - rewards
                    rolled_rng_meter_randomly: true
                  quality: 4
                runs:
                - run_id: run_id
                  dungeon_tier: 0
                  completion_ts: 9
                  dungeon_type: dungeon_type
                  participants:
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                - run_id: run_id
                  dungeon_tier: 0
                  completion_ts: 9
                  dungeon_type: dungeon_type
                  participants:
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
                  - class_milestone: 9
                    display_name: display_name
                    player_uuid: player_uuid
              dungeons_blah_blah:
              - dungeons_blah_blah
              - dungeons_blah_blah
              secrets: 1
            accessory_bag_storage:
              tuning:
                slot_4:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_3:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_2:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                slot_1:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
                highest_unlocked_slot: 2
                slot_0:
                  walk_speed: 1
                  strength: 1
                  critical_damage: 3
                  defense: 2
                  critical_chance: 9
                  health: 4
                  attack_speed: 7
                  intelligence: 7
              bag_upgrades_purchased: 5
              unlocked_powers:
              - unlocked_powers
              - unlocked_powers
              selected_power: selected_power
              highest_magical_power: 5
            collection:
              key: 7
            inventory:
              ender_chest_contents:
                data: data
                type: 9
              equipment_contents:
                data: data
                type: 9
              wardrobe_contents:
                data: data
                type: 9
              sacks_counts:
                key: 7
              personal_vault_contents:
                data: data
                type: 9
              inv_contents:
                data: data
                type: 9
              backpack_contents:
                key:
                  data: data
                  type: 9
              wardrobe_equipped_slot: 6
              bag_contents:
                fishing_bag:
                  data: data
                  type: 9
                potion_bag:
                  data: data
                  type: 9
                sacks_bag:
                  data: data
                  type: 9
                talisman_bag:
                  data: data
                  type: 9
                quiver:
                  data: data
                  type: 9
              inv_armor:
                data: data
                type: 9
              backpack_icons:
                key:
                  data: data
                  type: 9
            leveling:
              category_expanded: true
              highest_pet_score: 8
              mining_fiesta_ores_mined: 7
              bop_bonus: bop_bonus
              completions:
                REAPER_PEPPERS: 3
                NUCLEUS_RUNS: 5
                REFINED_DARK_CACAO_TRUFFLE: 1
              completed_tasks:
              - ABIPHONE_alchemist
              - ABIPHONE_alchemist
              experience: 5
              emblem_unlocks:
              - ALCHEMY_BREW
              - ALCHEMY_BREW
              claimed_talisman: true
              last_viewed_tasks:
              - last_viewed_tasks
              - last_viewed_tasks
              migrated_completions_2: true
              selected_symbol: null
              fishing_festival_sharks_killed: 3
              migrated: true
              migrated_completions: true
            item_data:
              soulflow: 0
              teleporter_pill_consumed: true
              favorite_arrow: favorite_arrow
            jacobs_contest:
              contests:
                key:
                  collected: 7
                  claimed_position: 0
                  claimed_participants: 4
                  claimed_rewards: true
              talked: true
              personal_bests:
                key: 3
              migration: true
              perks:
                personal_bests: true
                farming_level_cap: 2
                double_drops: 4
              unique_brackets:
                key:
                - unique_brackets
                - unique_brackets
              medals_inv:
                gold: 6
                silver: 2
                bronze: 1
            rift:
              wizard_tower:
                wizard_quest_step: 0
                crumbs_laid_out: 8
              enigma:
                found_souls:
                - found_souls
                - found_souls
                bought_cloak: true
                claimed_bonus_index: 6
              black_lagoon:
                received_science_paper: true
                delivered_science_paper: true
                completed_step: 9
                talked_to_edwin: true
              dead_cats:
                unlocked_pet: true
                montezuma:
                  tier: tier
                  heldItem:
                    category: CHESTPLATE
                    color: "255,215,0"
                    id: FARM_ARMOR_CHESTPLATE
                    material: LEATHER_CHESTPLATE
                    name: Farm Armor Chestplate
                    npc_sell_price: 5200
                    stats:
                      DEFENSE: 75
                      HEALTH: 20
                    tier: RARE
                  skin:
                    category: CHESTPLATE
                    color: "255,215,0"
                    id: FARM_ARMOR_CHESTPLATE
                    material: LEATHER_CHESTPLATE
                    name: Farm Armor Chestplate
                    npc_sell_price: 5200
                    stats:
                      DEFENSE: 75
                      HEALTH: 20
                    tier: RARE
                  active: true
                  exp: 8.289598895249666
                  type: type
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  candyUsed: 9
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                found_cats:
                - found_cats
                - found_cats
                picked_up_detector: true
                talked_to_jacquelle: true
              village_plaza:
                murder:
                  step_index_pt3: 7
                  step_index: 5
                  step_index_pt2: 8
                  room_clues:
                  - room_clues
                  - room_clues
                cowboy:
                  stage: 9
                  hay_eaten: 0
                  rabbit_name: rabbit_name
                barter_bank: "{}"
                got_scammed: true
                seraphine:
                  step_index: 9
                lonely:
                  seconds_sitting: 3
                barry_center:
                  first_talk_to_barry: true
                  convinced:
                  - convinced
                  - convinced
                  received_reward: true
              wither_cage:
                killed_eyes:
                - killed_eyes
                - killed_eyes
              gallery:
                sent_trophy_dialogues:
                - sent_trophy_dialogues
                - sent_trophy_dialogues
                elise_step: 6
                secured_trophies:
                - visits: 6
                  type: type
                  timestamp: 7
                - visits: 6
                  type: type
                  timestamp: 7
            mining_core:
              greater_mines_last_access: 9
              experience: 6
              daily_ores_mined_day_mithril_ore: 2
              daily_ores_mined_day_gemstone: 5
              daily_ores_mined_day_glacite: 9
              powder_spent_gemstone: 0
              last_reset: 8
              powder_spent_glacite: 9
              powder_glacite: 9
              retroactive_tier2_token: true
              received_free_tier: true
              daily_ores_mined_gemstone: 7
              crystals:
                amethyst_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                jasper_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                peridot_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                topaz_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                amber_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                onyx_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                opal_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                ruby_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                sapphire_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                jade_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                citrine_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
                aquamarine_crystal:
                  total_placed: 2
                  state: FOUND
                  total_found: 0
              tokens_spent: 6
              biomes:
                dwarven: "{}"
                precursor:
                  claiming_with_precursor_apparatus: true
                  talked_to_professor: true
                  parts_delivered:
                  - CONTROL_SWITCH
                  - CONTROL_SWITCH
                goblin:
                  king_quests_completed: 2
                  king_quest_active: true
                jungle:
                  jungle_temple_open: true
                  jungle_temple_chest_uses: 8
              daily_ores_mined_day: 3
              daily_ores_mined_glacite: 7
              powder_mithril_total: 7
              daily_ores_mined_mithril_ore: 6
              powder_glacite_total: 9
              powder_spent_mithril: 1
              nodes:
                mining_speed: 5
                mining_speed_boost: 8
                daily_powder: 1
                vanguard_seeker: 8
                quick_forge: 1
                crystalline: 3
                gifts_from_the_departed: 8
                mining_fortune: 2
                subterranean_fisher: 3
                no_stone_unturned: 8
                professional: 2
                strong_arm: 3
                efficient_miner: 2
                seasoned_mineman: 7
                sheer_force: 1
                steady_hand: 1
                metal_head: 8
                anomalous_desire: 2
                rags_to_riches: 7
                eager_adventurer: 2
                keep_it_cool: 0
                luck_of_the_cave: 8
                fortunate_mineman: 8
                maniac_miner: 2
                blockhead: 6
                daily_grind: 9
                mole: 4
                dead_mans_chest: 4
                surveyor: 1
                gemstone_infusion: 5
                miners_blessing: 5
                powder_buff: 7
                mineshaft_mayhem: 9
                pickobulus: 6
                old_school: 8
                precision_mining: 1
                lonesome_miner: 1
                speedy_mineman: 4
                front_loaded: 2
                great_explorer: 5
                sky_mall: 4
                gem_lover: 6
                mining_master: 5
                core_of_the_mountain: 1
                warm_hearted: 0
                titanium_insanium: 4
              powder_mithril: 6
              powder_gemstone_total: 5
              daily_ores_mined: 4
              powder_gemstone: 8
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            glacite_player_data:
              corpses_looted:
                tungsten: 6
                umber: 4
                lapis: 7
                vanguard: 0
              mineshafts_entered: 9
              fossils_donated:
              - fossils_donated
              - fossils_donated
              fossil_dust: 0.4867146239815201
            experimentation:
              claims_resets: 5
              simon:
                bonus_clicks: 2
                attempts_0: 3
                claimed: true
                attempts_5: 7
                attempts_1: 9
                attempts_2: 7
                attempts_3: 7
                last_attempt: 8
                best_score_1: 1
                best_score_0: 9
                best_score_3: 3
                best_score_2: 4
                best_score_5: 8
                last_claimed: 2
                claims_5: 4
                claims_2: 8
                claims_3: 6
                claims_0: 9
                claims_1: 4
              claimed_retroactive_rng: true
              numbers:
                bonus_clicks: 0
                claimed: true
                attempts_1: 0
                attempts_2: 3
                attempts_3: 2
                last_attempt: 2
                best_score_1: 3
                best_score_3: 4
                best_score_2: 8
                last_claimed: 9
                claims_2: 7
                claims_3: 4
                claims_1: 0
              claims_resets_timestamp: 7
              charge_track_timestamp: 9
              serums_drank: 1
              pairings:
                bonus_clicks: 1
                claimed: true
                last_attempt: 5
                best_score_1: 2
                best_score_0: 0
                best_score_3: 4
                best_score_2: 6
                best_score_5: 9
                best_score_4: 6
                last_claimed: 3
                claims_4: 4
                claims_5: 5
                claims_2: 5
                claims_3: 1
                claims_0: 1
                claims_1: 3
            forge:
              forge_processes:
                key: null
            bestiary:
              kills:
                last_killed_mob: last_killed_mob
              miscellaneous:
                max_kills_visible: true
              milestone:
                last_claimed_milestone: 6
              migration: true
              migrated_stats: true
              deaths:
                key: 1
            events:
              easter:
                rabbit_sort: rabbit_sort
                last_viewed_chocolate_factory: 2
                shop:
                  year: 0
                  chocolate_spent: 9
                  rabbits:
                  - rabbits
                  - rabbits
                  cocoa_fortune_upgrades: 8
                  rabbits_purchased:
                  - rabbits_purchased
                  - rabbits_purchased
                chocolate_level: 7
                rabbit_barn_capacity_level: 1
                click_upgrades: 6
                total_chocolate: 3
                el_dorado_progress: 8
                rabbits:
                  collected_locations:
                    key:
                    - collected_locations
                    - collected_locations
                  collected_eggs:
                    key: 1
                golden_click_year: 0
                chocolate_multiplier_upgrades: 5
                rabbit_rarity_upgrades: 9
                refined_dark_cacao_truffles: 3
                chocolate_since_prestige: 4
                supreme_chocolate_bars: 5
                time_tower:
                  charges: 8
                  level: 3
                  last_charge_time: 7
                  activation_time: 5
                golden_click_amount: 3
                rabbit_filter: rabbit_filter
                rabbit_hitmen:
                  missed_uncollected_eggs: 4
                  rabbit_hitmen_slots: 8
                  egg_slot_cooldown_sum: 6
                  egg_slot_cooldown_mark: 8
                employees:
                  key: 4
                rabbit_hotspot_filer: rabbit_hotspot_filer
                chocolate: 0
            garden_player_data:
              larva_consumed: 0
              copper: 5
            currencies:
              essence:
                key:
                  current: 4
              coin_purse: 1.1730742509559433
              motes_purse: 5.025004791520295
        game_mode: bingo
        community_upgrades: "{}"
        cute_name: cute_name
        selected: true
        banking:
          balance: 0.8008281904610115
          transactions:
          - amount: 6.027456183070403
            action: DEPOSIT
            initiator_name: initiator_name
            timestamp: 1
          - amount: 6.027456183070403
            action: DEPOSIT
            initiator_name: initiator_name
            timestamp: 1
      properties:
        banking:
          $ref: '#/components/schemas/SkyBlockProfile_banking'
        community_upgrades:
          type: object
        cute_name:
          description: "The cute name of the profile, only provided on the profiles\
            \ endpoint"
          type: string
        game_mode:
          $ref: '#/components/schemas/SkyBlockProfile_game_mode'
        members:
          additionalProperties:
            $ref: '#/components/schemas/SkyBlockProfileMember'
          description: A map of profile member UUIDs to profile member objects
          type: object
        profile_id:
          format: uuid
          type: string
        selected:
          description: "Whether or not this is the currently selected profile, only\
            \ provided on the profiles endpoint"
          type: boolean
    SkyBlockProfileMember:
      example:
        fairy_soul:
          fairy_exchanges: 6
          total_collected: 0
          unspent_souls: 2
        dungeons:
          selected_dungeon_class: selected_dungeon_class
          dungeon_types:
            key:
              best_score:
                key: 3.353193347011243
              tier_completions:
                key: 4.078845849666752
              fastest_time_s_plus:
                key: 7.058770351582356
              most_damage_tank:
                key: 7.04836565559697
              watcher_kills:
                key: 6.628464275087742
              times_played:
                key: 0.2025324113236393
              experience: 3.0937452626664474
              milestone_completions:
                key: 0.10263654006109402
              most_damage_berserk:
                key: 7.740351818741173
              most_damage_healer:
                key: 3.0205796992916243
              most_mobs_killed:
                key: 3.2588565619047607
              fastest_time:
                key: 7.143538047012306
              most_damage_mage:
                key: 3.0576100241049344
              most_damage_archer:
                key: 8.969578798196912
              fastest_time_s:
                key: 0.8851374739011653
              most_healing:
                key: 5.533258397034986
              best_runs:
                key:
                - damage_dealt: 8.762042012749001
                  damage_mitigated: 9.018348186070783
                  ally_healing: 6.683562403749608
                  score_skill: 6
                  score_exploration: 2
                  dungeon_class: dungeon_class
                  score_bonus: 1
                  teammates:
                  - teammates
                  - teammates
                  score_speed: 6
                  elapsed_time: 3
                  mobs_killed: 6
                  secrets_found: 5
                  deaths: 6
                  timestamp: 6
                - damage_dealt: 8.762042012749001
                  damage_mitigated: 9.018348186070783
                  ally_healing: 6.683562403749608
                  score_skill: 6
                  score_exploration: 2
                  dungeon_class: dungeon_class
                  score_bonus: 1
                  teammates:
                  - teammates
                  - teammates
                  score_speed: 6
                  elapsed_time: 3
                  mobs_killed: 6
                  secrets_found: 5
                  deaths: 6
                  timestamp: 6
              mobs_killed:
                key: 4.652396432933246
              highest_tier_completed: 6
          player_classes:
            key:
              experience: 4.258773108174356
          dungeon_journal:
            unlocked_journals:
            - unlocked_journals
            - unlocked_journals
          dungeon_hub_race_settings:
            selected_race: selected_race
            runback: true
            selected_setting: selected_setting
          last_dungeon_run: last_dungeon_run
          daily_runs:
            completed_runs_count: 9
            current_day_stamp: 9
          treasures:
            chests:
            - run_id: run_id
              paid: true
              chest_id: chest_id
              rerolls: 7
              treasure_type: treasure_type
              shiny_eligible: true
              rewards:
                rewards:
                - rewards
                - rewards
                rolled_rng_meter_randomly: true
              quality: 4
            - run_id: run_id
              paid: true
              chest_id: chest_id
              rerolls: 7
              treasure_type: treasure_type
              shiny_eligible: true
              rewards:
                rewards:
                - rewards
                - rewards
                rolled_rng_meter_randomly: true
              quality: 4
            runs:
            - run_id: run_id
              dungeon_tier: 0
              completion_ts: 9
              dungeon_type: dungeon_type
              participants:
              - class_milestone: 9
                display_name: display_name
                player_uuid: player_uuid
              - class_milestone: 9
                display_name: display_name
                player_uuid: player_uuid
            - run_id: run_id
              dungeon_tier: 0
              completion_ts: 9
              dungeon_type: dungeon_type
              participants:
              - class_milestone: 9
                display_name: display_name
                player_uuid: player_uuid
              - class_milestone: 9
                display_name: display_name
                player_uuid: player_uuid
          dungeons_blah_blah:
          - dungeons_blah_blah
          - dungeons_blah_blah
          secrets: 1
        accessory_bag_storage:
          tuning:
            slot_4:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
            slot_3:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
            slot_2:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
            slot_1:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
            highest_unlocked_slot: 2
            slot_0:
              walk_speed: 1
              strength: 1
              critical_damage: 3
              defense: 2
              critical_chance: 9
              health: 4
              attack_speed: 7
              intelligence: 7
          bag_upgrades_purchased: 5
          unlocked_powers:
          - unlocked_powers
          - unlocked_powers
          selected_power: selected_power
          highest_magical_power: 5
        collection:
          key: 7
        inventory:
          ender_chest_contents:
            data: data
            type: 9
          equipment_contents:
            data: data
            type: 9
          wardrobe_contents:
            data: data
            type: 9
          sacks_counts:
            key: 7
          personal_vault_contents:
            data: data
            type: 9
          inv_contents:
            data: data
            type: 9
          backpack_contents:
            key:
              data: data
              type: 9
          wardrobe_equipped_slot: 6
          bag_contents:
            fishing_bag:
              data: data
              type: 9
            potion_bag:
              data: data
              type: 9
            sacks_bag:
              data: data
              type: 9
            talisman_bag:
              data: data
              type: 9
            quiver:
              data: data
              type: 9
          inv_armor:
            data: data
            type: 9
          backpack_icons:
            key:
              data: data
              type: 9
        leveling:
          category_expanded: true
          highest_pet_score: 8
          mining_fiesta_ores_mined: 7
          bop_bonus: bop_bonus
          completions:
            REAPER_PEPPERS: 3
            NUCLEUS_RUNS: 5
            REFINED_DARK_CACAO_TRUFFLE: 1
          completed_tasks:
          - ABIPHONE_alchemist
          - ABIPHONE_alchemist
          experience: 5
          emblem_unlocks:
          - ALCHEMY_BREW
          - ALCHEMY_BREW
          claimed_talisman: true
          last_viewed_tasks:
          - last_viewed_tasks
          - last_viewed_tasks
          migrated_completions_2: true
          selected_symbol: null
          fishing_festival_sharks_killed: 3
          migrated: true
          migrated_completions: true
        item_data:
          soulflow: 0
          teleporter_pill_consumed: true
          favorite_arrow: favorite_arrow
        jacobs_contest:
          contests:
            key:
              collected: 7
              claimed_position: 0
              claimed_participants: 4
              claimed_rewards: true
          talked: true
          personal_bests:
            key: 3
          migration: true
          perks:
            personal_bests: true
            farming_level_cap: 2
            double_drops: 4
          unique_brackets:
            key:
            - unique_brackets
            - unique_brackets
          medals_inv:
            gold: 6
            silver: 2
            bronze: 1
        rift:
          wizard_tower:
            wizard_quest_step: 0
            crumbs_laid_out: 8
          enigma:
            found_souls:
            - found_souls
            - found_souls
            bought_cloak: true
            claimed_bonus_index: 6
          black_lagoon:
            received_science_paper: true
            delivered_science_paper: true
            completed_step: 9
            talked_to_edwin: true
          dead_cats:
            unlocked_pet: true
            montezuma:
              tier: tier
              heldItem:
                category: CHESTPLATE
                color: "255,215,0"
                id: FARM_ARMOR_CHESTPLATE
                material: LEATHER_CHESTPLATE
                name: Farm Armor Chestplate
                npc_sell_price: 5200
                stats:
                  DEFENSE: 75
                  HEALTH: 20
                tier: RARE
              skin:
                category: CHESTPLATE
                color: "255,215,0"
                id: FARM_ARMOR_CHESTPLATE
                material: LEATHER_CHESTPLATE
                name: Farm Armor Chestplate
                npc_sell_price: 5200
                stats:
                  DEFENSE: 75
                  HEALTH: 20
                tier: RARE
              active: true
              exp: 8.289598895249666
              type: type
              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              candyUsed: 9
              uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            found_cats:
            - found_cats
            - found_cats
            picked_up_detector: true
            talked_to_jacquelle: true
          village_plaza:
            murder:
              step_index_pt3: 7
              step_index: 5
              step_index_pt2: 8
              room_clues:
              - room_clues
              - room_clues
            cowboy:
              stage: 9
              hay_eaten: 0
              rabbit_name: rabbit_name
            barter_bank: "{}"
            got_scammed: true
            seraphine:
              step_index: 9
            lonely:
              seconds_sitting: 3
            barry_center:
              first_talk_to_barry: true
              convinced:
              - convinced
              - convinced
              received_reward: true
          wither_cage:
            killed_eyes:
            - killed_eyes
            - killed_eyes
          gallery:
            sent_trophy_dialogues:
            - sent_trophy_dialogues
            - sent_trophy_dialogues
            elise_step: 6
            secured_trophies:
            - visits: 6
              type: type
              timestamp: 7
            - visits: 6
              type: type
              timestamp: 7
        mining_core:
          greater_mines_last_access: 9
          experience: 6
          daily_ores_mined_day_mithril_ore: 2
          daily_ores_mined_day_gemstone: 5
          daily_ores_mined_day_glacite: 9
          powder_spent_gemstone: 0
          last_reset: 8
          powder_spent_glacite: 9
          powder_glacite: 9
          retroactive_tier2_token: true
          received_free_tier: true
          daily_ores_mined_gemstone: 7
          crystals:
            amethyst_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            jasper_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            peridot_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            topaz_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            amber_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            onyx_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            opal_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            ruby_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            sapphire_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            jade_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            citrine_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
            aquamarine_crystal:
              total_placed: 2
              state: FOUND
              total_found: 0
          tokens_spent: 6
          biomes:
            dwarven: "{}"
            precursor:
              claiming_with_precursor_apparatus: true
              talked_to_professor: true
              parts_delivered:
              - CONTROL_SWITCH
              - CONTROL_SWITCH
            goblin:
              king_quests_completed: 2
              king_quest_active: true
            jungle:
              jungle_temple_open: true
              jungle_temple_chest_uses: 8
          daily_ores_mined_day: 3
          daily_ores_mined_glacite: 7
          powder_mithril_total: 7
          daily_ores_mined_mithril_ore: 6
          powder_glacite_total: 9
          powder_spent_mithril: 1
          nodes:
            mining_speed: 5
            mining_speed_boost: 8
            daily_powder: 1
            vanguard_seeker: 8
            quick_forge: 1
            crystalline: 3
            gifts_from_the_departed: 8
            mining_fortune: 2
            subterranean_fisher: 3
            no_stone_unturned: 8
            professional: 2
            strong_arm: 3
            efficient_miner: 2
            seasoned_mineman: 7
            sheer_force: 1
            steady_hand: 1
            metal_head: 8
            anomalous_desire: 2
            rags_to_riches: 7
            eager_adventurer: 2
            keep_it_cool: 0
            luck_of_the_cave: 8
            fortunate_mineman: 8
            maniac_miner: 2
            blockhead: 6
            daily_grind: 9
            mole: 4
            dead_mans_chest: 4
            surveyor: 1
            gemstone_infusion: 5
            miners_blessing: 5
            powder_buff: 7
            mineshaft_mayhem: 9
            pickobulus: 6
            old_school: 8
            precision_mining: 1
            lonesome_miner: 1
            speedy_mineman: 4
            front_loaded: 2
            great_explorer: 5
            sky_mall: 4
            gem_lover: 6
            mining_master: 5
            core_of_the_mountain: 1
            warm_hearted: 0
            titanium_insanium: 4
          powder_mithril: 6
          powder_gemstone_total: 5
          daily_ores_mined: 4
          powder_gemstone: 8
        player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        glacite_player_data:
          corpses_looted:
            tungsten: 6
            umber: 4
            lapis: 7
            vanguard: 0
          mineshafts_entered: 9
          fossils_donated:
          - fossils_donated
          - fossils_donated
          fossil_dust: 0.4867146239815201
        experimentation:
          claims_resets: 5
          simon:
            bonus_clicks: 2
            attempts_0: 3
            claimed: true
            attempts_5: 7
            attempts_1: 9
            attempts_2: 7
            attempts_3: 7
            last_attempt: 8
            best_score_1: 1
            best_score_0: 9
            best_score_3: 3
            best_score_2: 4
            best_score_5: 8
            last_claimed: 2
            claims_5: 4
            claims_2: 8
            claims_3: 6
            claims_0: 9
            claims_1: 4
          claimed_retroactive_rng: true
          numbers:
            bonus_clicks: 0
            claimed: true
            attempts_1: 0
            attempts_2: 3
            attempts_3: 2
            last_attempt: 2
            best_score_1: 3
            best_score_3: 4
            best_score_2: 8
            last_claimed: 9
            claims_2: 7
            claims_3: 4
            claims_1: 0
          claims_resets_timestamp: 7
          charge_track_timestamp: 9
          serums_drank: 1
          pairings:
            bonus_clicks: 1
            claimed: true
            last_attempt: 5
            best_score_1: 2
            best_score_0: 0
            best_score_3: 4
            best_score_2: 6
            best_score_5: 9
            best_score_4: 6
            last_claimed: 3
            claims_4: 4
            claims_5: 5
            claims_2: 5
            claims_3: 1
            claims_0: 1
            claims_1: 3
        forge:
          forge_processes:
            key: null
        bestiary:
          kills:
            last_killed_mob: last_killed_mob
          miscellaneous:
            max_kills_visible: true
          milestone:
            last_claimed_milestone: 6
          migration: true
          migrated_stats: true
          deaths:
            key: 1
        events:
          easter:
            rabbit_sort: rabbit_sort
            last_viewed_chocolate_factory: 2
            shop:
              year: 0
              chocolate_spent: 9
              rabbits:
              - rabbits
              - rabbits
              cocoa_fortune_upgrades: 8
              rabbits_purchased:
              - rabbits_purchased
              - rabbits_purchased
            chocolate_level: 7
            rabbit_barn_capacity_level: 1
            click_upgrades: 6
            total_chocolate: 3
            el_dorado_progress: 8
            rabbits:
              collected_locations:
                key:
                - collected_locations
                - collected_locations
              collected_eggs:
                key: 1
            golden_click_year: 0
            chocolate_multiplier_upgrades: 5
            rabbit_rarity_upgrades: 9
            refined_dark_cacao_truffles: 3
            chocolate_since_prestige: 4
            supreme_chocolate_bars: 5
            time_tower:
              charges: 8
              level: 3
              last_charge_time: 7
              activation_time: 5
            golden_click_amount: 3
            rabbit_filter: rabbit_filter
            rabbit_hitmen:
              missed_uncollected_eggs: 4
              rabbit_hitmen_slots: 8
              egg_slot_cooldown_sum: 6
              egg_slot_cooldown_mark: 8
            employees:
              key: 4
            rabbit_hotspot_filer: rabbit_hotspot_filer
            chocolate: 0
        garden_player_data:
          larva_consumed: 0
          copper: 5
        currencies:
          essence:
            key:
              current: 4
          coin_purse: 1.1730742509559433
          motes_purse: 5.025004791520295
      properties:
        accessory_bag_storage:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorage'
        bestiary:
          $ref: '#/components/schemas/SkyBlockProfileMemberBestiary'
        collection:
          additionalProperties:
            type: integer
          type: object
        currencies:
          $ref: '#/components/schemas/SkyBlockProfileMemberCurrencies'
        dungeons:
          $ref: '#/components/schemas/SkyBlockProfileMemberDungeons'
        events:
          $ref: '#/components/schemas/SkyBlockProfileMemberEvents'
        experimentation:
          $ref: '#/components/schemas/SkyBlockProfileMemberExperimentation'
        fairy_soul:
          $ref: '#/components/schemas/SkyBlockProfileMemberFairySoul'
        forge:
          $ref: '#/components/schemas/SkyBlockProfileMemberForge'
        garden_player_data:
          $ref: '#/components/schemas/SkyBlockProfileMemberGardenPlayerData'
        glacite_player_data:
          $ref: '#/components/schemas/SkyBlockProfileMemberGlacitePlayerData'
        inventory:
          $ref: '#/components/schemas/SkyBlockProfileMemberInventory'
        item_data:
          $ref: '#/components/schemas/SkyBlockProfileMemberItemData'
        jacobs_contest:
          $ref: '#/components/schemas/SkyBlockProfileMemberJacobsContest'
        leveling:
          $ref: '#/components/schemas/SkyBlockProfileMemberLeveling'
        mining_core:
          $ref: '#/components/schemas/SkyBlockProfileMemberMiningCore'
        player_id:
          format: uuid
          type: string
        rift:
          $ref: '#/components/schemas/SkyBlockProfileMemberRift'
      type: object
    SkyBlockProfileMemberAccessoryBagStorage:
      example:
        tuning:
          slot_4:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
          slot_3:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
          slot_2:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
          slot_1:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
          highest_unlocked_slot: 2
          slot_0:
            walk_speed: 1
            strength: 1
            critical_damage: 3
            defense: 2
            critical_chance: 9
            health: 4
            attack_speed: 7
            intelligence: 7
        bag_upgrades_purchased: 5
        unlocked_powers:
        - unlocked_powers
        - unlocked_powers
        selected_power: selected_power
        highest_magical_power: 5
      properties:
        bag_upgrades_purchased:
          type: integer
        highest_magical_power:
          type: integer
        selected_power:
          type: string
        tuning:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuning'
        unlocked_powers:
          items:
            type: string
          type: array
      type: object
    SkyBlockProfileMemberAccessoryBagStorageTuning:
      example:
        slot_4:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
        slot_3:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
        slot_2:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
        slot_1:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
        highest_unlocked_slot: 2
        slot_0:
          walk_speed: 1
          strength: 1
          critical_damage: 3
          defense: 2
          critical_chance: 9
          health: 4
          attack_speed: 7
          intelligence: 7
      properties:
        highest_unlocked_slot:
          type: integer
        slot_0:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
        slot_1:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
        slot_2:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
        slot_3:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
        slot_4:
          $ref: '#/components/schemas/SkyBlockProfileMemberAccessoryBagStorageTuningSlot'
      type: object
    SkyBlockProfileMemberAccessoryBagStorageTuningSlot:
      example:
        walk_speed: 1
        strength: 1
        critical_damage: 3
        defense: 2
        critical_chance: 9
        health: 4
        attack_speed: 7
        intelligence: 7
      properties:
        attack_speed:
          type: integer
        critical_chance:
          type: integer
        critical_damage:
          type: integer
        defense:
          type: integer
        health:
          type: integer
        intelligence:
          type: integer
        strength:
          type: integer
        walk_speed:
          type: integer
      type: object
    SkyBlockProfileMemberBestiary:
      example:
        kills:
          last_killed_mob: last_killed_mob
        miscellaneous:
          max_kills_visible: true
        milestone:
          last_claimed_milestone: 6
        migration: true
        migrated_stats: true
        deaths:
          key: 1
      properties:
        deaths:
          additionalProperties:
            type: integer
          type: object
        kills:
          $ref: '#/components/schemas/SkyBlockProfileMemberBestiaryKills'
        migrated_stats:
          type: boolean
        migration:
          type: boolean
        milestone:
          $ref: '#/components/schemas/SkyBlockProfileMemberBestiaryMilestone'
        miscellaneous:
          $ref: '#/components/schemas/SkyBlockProfileMemberBestiaryMiscellaneous'
      type: object
    SkyBlockProfileMemberBestiaryDeaths:
      additionalProperties:
        type: integer
      type: object
    SkyBlockProfileMemberBestiaryKills:
      additionalProperties:
        type: integer
      example:
        last_killed_mob: last_killed_mob
      properties:
        last_killed_mob:
          type: string
      type: object
    SkyBlockProfileMemberBestiaryMilestone:
      example:
        last_claimed_milestone: 6
      properties:
        last_claimed_milestone:
          type: integer
      type: object
    SkyBlockProfileMemberBestiaryMiscellaneous:
      example:
        max_kills_visible: true
      properties:
        max_kills_visible:
          type: boolean
      type: object
    SkyBlockProfileMemberCollection:
      additionalProperties:
        type: integer
      type: object
    SkyBlockProfileMemberCurrencies:
      example:
        essence:
          key:
            current: 4
        coin_purse: 1.1730742509559433
        motes_purse: 5.025004791520295
      properties:
        coin_purse:
          type: number
        essence:
          additionalProperties:
            $ref: '#/components/schemas/SkyBlockProfileMemberCurrenciesEssence_value'
          type: object
        motes_purse:
          type: number
      type: object
    SkyBlockProfileMemberCurrenciesEssence:
      additionalProperties:
        $ref: '#/components/schemas/SkyBlockProfileMemberCurrenciesEssence_value'
      type: object
    SkyBlockProfileMemberDungeons:
      example:
        selected_dungeon_class: selected_dungeon_class
        dungeon_types:
          key:
            best_score:
              key: 3.353193347011243
            tier_completions:
              key: 4.078845849666752
            fastest_time_s_plus:
              key: 7.058770351582356
            most_damage_tank:
              key: 7.04836565559697
            watcher_kills:
              key: 6.628464275087742
            times_played:
              key: 0.2025324113236393
            experience: 3.0937452626664474
            milestone_completions:
              key: 0.10263654006109402
            most_damage_berserk:
              key: 7.740351818741173
            most_damage_healer:
              key: 3.0205796992916243
            most_mobs_killed:
              key: 3.2588565619047607
            fastest_time:
              key: 7.143538047012306
            most_damage_mage:
              key: 3.0576100241049344
            most_damage_archer:
              key: 8.969578798196912
            fastest_time_s:
              key: 0.8851374739011653
            most_healing:
              key: 5.533258397034986
            best_runs:
              key:
              - damage_dealt: 8.762042012749001
                damage_mitigated: 9.018348186070783
                ally_healing: 6.683562403749608
                score_skill: 6
                score_exploration: 2
                dungeon_class: dungeon_class
                score_bonus: 1
                teammates:
                - teammates
                - teammates
                score_speed: 6
                elapsed_time: 3
                mobs_killed: 6
                secrets_found: 5
                deaths: 6
                timestamp: 6
              - damage_dealt: 8.762042012749001
                damage_mitigated: 9.018348186070783
                ally_healing: 6.683562403749608
                score_skill: 6
                score_exploration: 2
                dungeon_class: dungeon_class
                score_bonus: 1
                teammates:
                - teammates
                - teammates
                score_speed: 6
                elapsed_time: 3
                mobs_killed: 6
                secrets_found: 5
                deaths: 6
                timestamp: 6
            mobs_killed:
              key: 4.652396432933246
            highest_tier_completed: 6
        player_classes:
          key:
            experience: 4.258773108174356
        dungeon_journal:
          unlocked_journals:
          - unlocked_journals
          - unlocked_journals
        dungeon_hub_race_settings:
          selected_race: selected_race
          runback: true
          selected_setting: selected_setting
        last_dungeon_run: last_dungeon_run
        daily_runs:
          completed_runs_count: 9
          current_day_stamp: 9
        treasures:
          chests:
          - run_id: run_id
            paid: true
            chest_id: chest_id
            rerolls: 7
            treasure_type: treasure_type
            shiny_eligible: true
            rewards:
              rewards:
              - rewards
              - rewards
              rolled_rng_meter_randomly: true
            quality: 4
          - run_id: run_id
            paid: true
            chest_id: chest_id
            rerolls: 7
            treasure_type: treasure_type
            shiny_eligible: true
            rewards:
              rewards:
              - rewards
              - rewards
              rolled_rng_meter_randomly: true
            quality: 4
          runs:
          - run_id: run_id
            dungeon_tier: 0
            completion_ts: 9
            dungeon_type: dungeon_type
            participants:
            - class_milestone: 9
              display_name: display_name
              player_uuid: player_uuid
            - class_milestone: 9
              display_name: display_name
              player_uuid: player_uuid
          - run_id: run_id
            dungeon_tier: 0
            completion_ts: 9
            dungeon_type: dungeon_type
            participants:
            - class_milestone: 9
              display_name: display_name
              player_uuid: player_uuid
            - class_milestone: 9
              display_name: display_name
              player_uuid: player_uuid
        dungeons_blah_blah:
        - dungeons_blah_blah
        - dungeons_blah_blah
        secrets: 1
      properties:
        daily_runs:
          $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsDailyRuns'
        dungeon_hub_race_settings:
          $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsDungeonHubRaceSettings'
        dungeon_journal:
          $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsDungeonJournal'
        dungeon_types:
          additionalProperties:
            $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsDungeonTypesType'
          type: object
        dungeons_blah_blah:
          items:
            type: string
          type: array
        last_dungeon_run:
          type: string
        player_classes:
          additionalProperties:
            $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsPlayerClasses_value'
          type: object
        secrets:
          type: integer
        selected_dungeon_class:
          type: string
        treasures:
          $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsTreasures'
      type: object
    SkyBlockProfileMemberDungeonsDailyRuns:
      example:
        completed_runs_count: 9
        current_day_stamp: 9
      properties:
        completed_runs_count:
          type: integer
        current_day_stamp:
          type: integer
      type: object
    SkyBlockProfileMemberDungeonsDungeonHubRaceSettings:
      example:
        selected_race: selected_race
        runback: true
        selected_setting: selected_setting
      properties:
        runback:
          type: boolean
        selected_race:
          type: string
        selected_setting:
          type: string
      type: object
    SkyBlockProfileMemberDungeonsDungeonJournal:
      example:
        unlocked_journals:
        - unlocked_journals
        - unlocked_journals
      properties:
        unlocked_journals:
          items:
            type: string
          type: array
      type: object
    SkyBlockProfileMemberDungeonsDungeonTypes:
      additionalProperties:
        $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsDungeonTypesType'
      type: object
    SkyBlockProfileMemberDungeonsDungeonTypesBestRuns:
      example:
        damage_dealt: 8.762042012749001
        damage_mitigated: 9.018348186070783
        ally_healing: 6.683562403749608
        score_skill: 6
        score_exploration: 2
        dungeon_class: dungeon_class
        score_bonus: 1
        teammates:
        - teammates
        - teammates
        score_speed: 6
        elapsed_time: 3
        mobs_killed: 6
        secrets_found: 5
        deaths: 6
        timestamp: 6
      properties:
        ally_healing:
          type: number
        damage_dealt:
          type: number
        damage_mitigated:
          type: number
        deaths:
          type: integer
        dungeon_class:
          type: string
        elapsed_time:
          type: integer
        mobs_killed:
          type: integer
        score_bonus:
          type: integer
        score_exploration:
          type: integer
        score_skill:
          type: integer
        score_speed:
          type: integer
        secrets_found:
          type: integer
        teammates:
          items:
            type: string
          type: array
        timestamp:
          type: integer
      type: object
    SkyBlockProfileMemberDungeonsDungeonTypesType:
      example:
        best_score:
          key: 3.353193347011243
        tier_completions:
          key: 4.078845849666752
        fastest_time_s_plus:
          key: 7.058770351582356
        most_damage_tank:
          key: 7.04836565559697
        watcher_kills:
          key: 6.628464275087742
        times_played:
          key: 0.2025324113236393
        experience: 3.0937452626664474
        milestone_completions:
          key: 0.10263654006109402
        most_damage_berserk:
          key: 7.740351818741173
        most_damage_healer:
          key: 3.0205796992916243
        most_mobs_killed:
          key: 3.2588565619047607
        fastest_time:
          key: 7.143538047012306
        most_damage_mage:
          key: 3.0576100241049344
        most_damage_archer:
          key: 8.969578798196912
        fastest_time_s:
          key: 0.8851374739011653
        most_healing:
          key: 5.533258397034986
        best_runs:
          key:
          - damage_dealt: 8.762042012749001
            damage_mitigated: 9.018348186070783
            ally_healing: 6.683562403749608
            score_skill: 6
            score_exploration: 2
            dungeon_class: dungeon_class
            score_bonus: 1
            teammates:
            - teammates
            - teammates
            score_speed: 6
            elapsed_time: 3
            mobs_killed: 6
            secrets_found: 5
            deaths: 6
            timestamp: 6
          - damage_dealt: 8.762042012749001
            damage_mitigated: 9.018348186070783
            ally_healing: 6.683562403749608
            score_skill: 6
            score_exploration: 2
            dungeon_class: dungeon_class
            score_bonus: 1
            teammates:
            - teammates
            - teammates
            score_speed: 6
            elapsed_time: 3
            mobs_killed: 6
            secrets_found: 5
            deaths: 6
            timestamp: 6
        mobs_killed:
          key: 4.652396432933246
        highest_tier_completed: 6
      properties:
        best_runs:
          additionalProperties:
            items:
              $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsDungeonTypesBestRuns'
            type: array
          type: object
        best_score:
          additionalProperties:
            type: number
          type: object
        experience:
          type: number
        fastest_time:
          additionalProperties:
            type: number
          type: object
        fastest_time_s:
          additionalProperties:
            type: number
          type: object
        fastest_time_s_plus:
          additionalProperties:
            type: number
          type: object
        highest_tier_completed:
          type: integer
        milestone_completions:
          additionalProperties:
            type: number
          type: object
        mobs_killed:
          additionalProperties:
            type: number
          type: object
        most_damage_archer:
          additionalProperties:
            type: number
          type: object
        most_damage_berserk:
          additionalProperties:
            type: number
          type: object
        most_damage_healer:
          additionalProperties:
            type: number
          type: object
        most_damage_mage:
          additionalProperties:
            type: number
          type: object
        most_damage_tank:
          additionalProperties:
            type: number
          type: object
        most_healing:
          additionalProperties:
            type: number
          type: object
        most_mobs_killed:
          additionalProperties:
            type: number
          type: object
        tier_completions:
          additionalProperties:
            type: number
          type: object
        times_played:
          additionalProperties:
            type: number
          type: object
        watcher_kills:
          additionalProperties:
            type: number
          type: object
      type: object
    SkyBlockProfileMemberDungeonsPlayerClasses:
      additionalProperties:
        $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsPlayerClasses_value'
      type: object
    SkyBlockProfileMemberDungeonsTreasures:
      example:
        chests:
        - run_id: run_id
          paid: true
          chest_id: chest_id
          rerolls: 7
          treasure_type: treasure_type
          shiny_eligible: true
          rewards:
            rewards:
            - rewards
            - rewards
            rolled_rng_meter_randomly: true
          quality: 4
        - run_id: run_id
          paid: true
          chest_id: chest_id
          rerolls: 7
          treasure_type: treasure_type
          shiny_eligible: true
          rewards:
            rewards:
            - rewards
            - rewards
            rolled_rng_meter_randomly: true
          quality: 4
        runs:
        - run_id: run_id
          dungeon_tier: 0
          completion_ts: 9
          dungeon_type: dungeon_type
          participants:
          - class_milestone: 9
            display_name: display_name
            player_uuid: player_uuid
          - class_milestone: 9
            display_name: display_name
            player_uuid: player_uuid
        - run_id: run_id
          dungeon_tier: 0
          completion_ts: 9
          dungeon_type: dungeon_type
          participants:
          - class_milestone: 9
            display_name: display_name
            player_uuid: player_uuid
          - class_milestone: 9
            display_name: display_name
            player_uuid: player_uuid
      properties:
        chests:
          items:
            $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsTreasuresChest'
          type: array
        runs:
          items:
            $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsTreasuresRun'
          type: array
      type: object
    SkyBlockProfileMemberDungeonsTreasuresChest:
      example:
        run_id: run_id
        paid: true
        chest_id: chest_id
        rerolls: 7
        treasure_type: treasure_type
        shiny_eligible: true
        rewards:
          rewards:
          - rewards
          - rewards
          rolled_rng_meter_randomly: true
        quality: 4
      properties:
        chest_id:
          type: string
        paid:
          type: boolean
        quality:
          type: integer
        rerolls:
          type: integer
        rewards:
          $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsTreasuresChestRewards'
        run_id:
          type: string
        shiny_eligible:
          type: boolean
        treasure_type:
          type: string
      type: object
    SkyBlockProfileMemberDungeonsTreasuresChestRewards:
      example:
        rewards:
        - rewards
        - rewards
        rolled_rng_meter_randomly: true
      properties:
        rewards:
          items:
            type: string
          type: array
        rolled_rng_meter_randomly:
          type: boolean
      type: object
    SkyBlockProfileMemberDungeonsTreasuresRun:
      example:
        run_id: run_id
        dungeon_tier: 0
        completion_ts: 9
        dungeon_type: dungeon_type
        participants:
        - class_milestone: 9
          display_name: display_name
          player_uuid: player_uuid
        - class_milestone: 9
          display_name: display_name
          player_uuid: player_uuid
      properties:
        completion_ts:
          type: integer
        dungeon_tier:
          type: integer
        dungeon_type:
          type: string
        participants:
          items:
            $ref: '#/components/schemas/SkyBlockProfileMemberDungeonsTreasuresRunParticipant'
          type: array
        run_id:
          type: string
      type: object
    SkyBlockProfileMemberDungeonsTreasuresRunParticipant:
      example:
        class_milestone: 9
        display_name: display_name
        player_uuid: player_uuid
      properties:
        class_milestone:
          type: integer
        display_name:
          type: string
        player_uuid:
          type: string
      type: object
    SkyBlockProfileMemberEvents:
      example:
        easter:
          rabbit_sort: rabbit_sort
          last_viewed_chocolate_factory: 2
          shop:
            year: 0
            chocolate_spent: 9
            rabbits:
            - rabbits
            - rabbits
            cocoa_fortune_upgrades: 8
            rabbits_purchased:
            - rabbits_purchased
            - rabbits_purchased
          chocolate_level: 7
          rabbit_barn_capacity_level: 1
          click_upgrades: 6
          total_chocolate: 3
          el_dorado_progress: 8
          rabbits:
            collected_locations:
              key:
              - collected_locations
              - collected_locations
            collected_eggs:
              key: 1
          golden_click_year: 0
          chocolate_multiplier_upgrades: 5
          rabbit_rarity_upgrades: 9
          refined_dark_cacao_truffles: 3
          chocolate_since_prestige: 4
          supreme_chocolate_bars: 5
          time_tower:
            charges: 8
            level: 3
            last_charge_time: 7
            activation_time: 5
          golden_click_amount: 3
          rabbit_filter: rabbit_filter
          rabbit_hitmen:
            missed_uncollected_eggs: 4
            rabbit_hitmen_slots: 8
            egg_slot_cooldown_sum: 6
            egg_slot_cooldown_mark: 8
          employees:
            key: 4
          rabbit_hotspot_filer: rabbit_hotspot_filer
          chocolate: 0
      properties:
        easter:
          $ref: '#/components/schemas/SkyBlockProfileMemberEventsEaster'
      type: object
    SkyBlockProfileMemberEventsEaster:
      example:
        rabbit_sort: rabbit_sort
        last_viewed_chocolate_factory: 2
        shop:
          year: 0
          chocolate_spent: 9
          rabbits:
          - rabbits
          - rabbits
          cocoa_fortune_upgrades: 8
          rabbits_purchased:
          - rabbits_purchased
          - rabbits_purchased
        chocolate_level: 7
        rabbit_barn_capacity_level: 1
        click_upgrades: 6
        total_chocolate: 3
        el_dorado_progress: 8
        rabbits:
          collected_locations:
            key:
            - collected_locations
            - collected_locations
          collected_eggs:
            key: 1
        golden_click_year: 0
        chocolate_multiplier_upgrades: 5
        rabbit_rarity_upgrades: 9
        refined_dark_cacao_truffles: 3
        chocolate_since_prestige: 4
        supreme_chocolate_bars: 5
        time_tower:
          charges: 8
          level: 3
          last_charge_time: 7
          activation_time: 5
        golden_click_amount: 3
        rabbit_filter: rabbit_filter
        rabbit_hitmen:
          missed_uncollected_eggs: 4
          rabbit_hitmen_slots: 8
          egg_slot_cooldown_sum: 6
          egg_slot_cooldown_mark: 8
        employees:
          key: 4
        rabbit_hotspot_filer: rabbit_hotspot_filer
        chocolate: 0
      properties:
        chocolate:
          type: integer
        chocolate_level:
          type: integer
        chocolate_multiplier_upgrades:
          type: integer
        chocolate_since_prestige:
          type: integer
        click_upgrades:
          type: integer
        el_dorado_progress:
          type: integer
        employees:
          additionalProperties:
            type: integer
          type: object
        golden_click_amount:
          type: integer
        golden_click_year:
          type: integer
        last_viewed_chocolate_factory:
          type: integer
        rabbit_barn_capacity_level:
          type: integer
        rabbit_filter:
          type: string
        rabbit_hitmen:
          $ref: '#/components/schemas/SkyBlockProfileMemberEventsEasterRabbitHitmen'
        rabbit_hotspot_filer:
          type: string
        rabbit_rarity_upgrades:
          type: integer
        rabbit_sort:
          type: string
        rabbits:
          $ref: '#/components/schemas/SkyBlockProfileMemberEventsEasterRabbits'
        refined_dark_cacao_truffles:
          type: integer
        shop:
          $ref: '#/components/schemas/SkyBlockProfileMemberEventsEasterShop'
        supreme_chocolate_bars:
          type: integer
        time_tower:
          $ref: '#/components/schemas/SkyBlockProfileMemberEventsEasterTimeTower'
        total_chocolate:
          type: integer
      type: object
    SkyBlockProfileMemberEventsEasterEmployees:
      additionalProperties:
        type: integer
      type: object
    SkyBlockProfileMemberEventsEasterRabbitHitmen:
      example:
        missed_uncollected_eggs: 4
        rabbit_hitmen_slots: 8
        egg_slot_cooldown_sum: 6
        egg_slot_cooldown_mark: 8
      properties:
        egg_slot_cooldown_mark:
          type: integer
        egg_slot_cooldown_sum:
          type: integer
        missed_uncollected_eggs:
          type: integer
        rabbit_hitmen_slots:
          type: integer
      type: object
    SkyBlockProfileMemberEventsEasterRabbits:
      additionalProperties:
        type: integer
      example:
        collected_locations:
          key:
          - collected_locations
          - collected_locations
        collected_eggs:
          key: 1
      properties:
        collected_eggs:
          additionalProperties:
            type: integer
          type: object
        collected_locations:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
      type: object
    SkyBlockProfileMemberEventsEasterShop:
      example:
        year: 0
        chocolate_spent: 9
        rabbits:
        - rabbits
        - rabbits
        cocoa_fortune_upgrades: 8
        rabbits_purchased:
        - rabbits_purchased
        - rabbits_purchased
      properties:
        chocolate_spent:
          type: integer
        cocoa_fortune_upgrades:
          type: integer
        rabbits:
          items:
            type: string
          type: array
        rabbits_purchased:
          items:
            type: string
          type: array
        year:
          type: integer
    SkyBlockProfileMemberEventsEasterTimeTower:
      example:
        charges: 8
        level: 3
        last_charge_time: 7
        activation_time: 5
      properties:
        activation_time:
          type: integer
        charges:
          type: integer
        last_charge_time:
          type: integer
        level:
          type: integer
      type: object
    SkyBlockProfileMemberExperimentation:
      example:
        claims_resets: 5
        simon:
          bonus_clicks: 2
          attempts_0: 3
          claimed: true
          attempts_5: 7
          attempts_1: 9
          attempts_2: 7
          attempts_3: 7
[...]
