openapi: 3.0.3
info:
  contact:
    name: Hypixel Support
    url: https://developer.hypixel.net
  description: "# Introduction\nThis is the official Hypixel API documentation. [Hypixel\
    \ Website](https://hypixel.net/) - [GitHub Repo](https://github.com/HypixelDev/PublicAPI)\
    \ - [API Help Forum](https://hypixel.net/forums/api-help.111/)\n\nAll use of the\
    \ API must conform to the [API policies](https://developer.hypixel.net/policies),\
    \ violation of these policies may lead to applications being revoked or users\
    \ banned from the API.\n## Limits\nAPI keys are limited to a maximum amount of\
    \ requests per 5 minute intervals. These limits will depend on the type of application\
    \ that the key is assigned to.\n\nEndpoints which require the use of an API key\
    \ will also respond with headers to assist with managing the rate limit:\n- 'RateLimit-Limit'\
    \ - The limit of requests per minute for the provided API key.\n- 'RateLimit-Remaining'\
    \ - The remaining amount of requests allowed for the current minute.\n- 'RateLimit-Reset'\
    \ - The amount of seconds until the next minute and the reset of the API key usages.\n\
    \n## GameTypes\n| ID | Type Name      | Database Name | Clean Name           |\n\
    \ |----|----------------|---------------|----------------------|\n | 2  | QUAKECRAFT\
    \     | Quake         | Quake                |\n | 3  | WALLS          | Walls\
    \         | Walls                |\n | 4  | PAINTBALL      | Paintball     | Paintball\
    \            |\n | 5  | SURVIVAL_GAMES | HungerGames   | Blitz Survival Games\
    \ |\n | 6  | TNTGAMES       | TNTGames      | TNT Games            |\n | 7  |\
    \ VAMPIREZ       | VampireZ      | VampireZ             |\n | 13 | WALLS3    \
    \     | Walls3        | Mega Walls           |\n | 14 | ARCADE         | Arcade\
    \        | Arcade               |\n | 17 | ARENA          | Arena         | Arena\
    \                |\n | 20 | UHC            | UHC           | UHC Champions   \
    \     |\n | 21 | MCGO           | MCGO          | Cops and Crims       |\n | 23\
    \ | BATTLEGROUND   | Battleground  | Warlords             |\n | 24 | SUPER_SMASH\
    \    | SuperSmash    | Smash Heroes         |\n | 25 | GINGERBREAD    | GingerBread\
    \   | Turbo Kart Racers    |\n | 26 | HOUSING        | Housing       | Housing\
    \              |\n | 51 | SKYWARS        | SkyWars       | SkyWars           \
    \   |\n | 52 | TRUE_COMBAT    | TrueCombat    | Crazy Walls          |\n | 54\
    \ | SPEED_UHC      | SpeedUHC      | Speed UHC            |\n | 55 | SKYCLASH\
    \       | SkyClash      | SkyClash             |\n | 56 | LEGACY         | Legacy\
    \        | Classic Games        |\n | 57 | PROTOTYPE      | Prototype     | Prototype\
    \            |\n | 58 | BEDWARS        | Bedwars       | Bed Wars            \
    \ |\n | 59 | MURDER_MYSTERY | MurderMystery | Murder Mystery       |\n | 60 |\
    \ BUILD_BATTLE   | BuildBattle   | Build Battle         |\n | 61 | DUELS     \
    \     | Duels         | Duels                |\n | 63 | SKYBLOCK       | SkyBlock\
    \      | SkyBlock             |\n | 64 | PIT            | Pit           | Pit\
    \                  |\n | 65 | REPLAY         | Replay        | Replay        \
    \       |\n | 67 | SMP            | SMP           | SMP                  |\n |\
    \ 68 | WOOL_GAMES     | WoolGames     | Wool Wars            |\n\n### Storage\n\
    Games store their respective stats and data in a Player's `stats` collection.\
    \ The game's specific data is held within a JSON object named after it's `Database\
    \ Name` (seen above.)\n### GameType Notes\n* Clean names are what is displayed\
    \ to the user when referencing the name.\n* Database names or IDs are used when\
    \ the API references a specific GameType.\n## Notes\n\n### Date and Time\nGenerally\
    \ dates are stored as a Unix Epoch times in milliseconds.\n### Response Format\n\
    Responses are served in JSON format.\n### UUID Parameters\nAll uuid parameters\
    \ support both dashed and undashed versions.\n### SkyBlock items and inventories\n\
    Items and inventory data are stored as a base64 encoded string containing gzipped\
    \ nbt data.\nIf a method is missing important information about an item or inventory,\
    \ you should try checking this!\n>Note: the base64 string may contain a unicode\
    \ escape for non-alphabetical symbols, and some programming languages may have\
    \ silent defects when interpreting the string. \n\n# Authentication\n\n<!-- ReDoc-Inject:\
    \ <security-definitions> -->"
  termsOfService: https://hypixel.net/tos
  title: Hypixel Public API
  version: v2
  x-logo:
    url: https://api.hypixel.net/assets/images/logo.png
    altText: Hypixel Logo
    href: '#'
servers:
- url: https://api.hypixel.net
paths:
  /v2/player:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_200_response'
          description: Get player's data
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: "Data of a specific player, including game stats"
      tags:
      - Player Data
  /v2/recentgames:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_recentgames_get_200_response'
          description: Get player's recent game
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_recentgames_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: The recently played games of a specific player
      tags:
      - Player Data
  /v2/status:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_status_get_200_response'
          description: Get player status
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: The current online status of a specific player
      tags:
      - Player Data
  /v2/guild:
    get:
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          format: objectid
          type: string
        style: form
      - explode: true
        in: query
        name: player
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_guild_get_200_response'
          description: Get guild information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: "Retrieve a Guild by a player, id, or name"
      tags:
      - Player Data
  /v2/resources/games:
    get:
      description: Returns information about Hypixel Games. This endpoint is in early
        development and we are working to add more information when possible <a href="https://github.com/HypixelDev/PublicAPI/discussions/197#discussioncomment-1047648">HypixelDev/PublicAPI#197</a>
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_games_get_200_response'
          description: A successful response
      summary: Game Information
      tags:
      - Resources
  /v2/resources/achievements:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_achievements_get_200_response'
          description: A successful response
      summary: Achievements
      tags:
      - Resources
  /v2/resources/challenges:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_challenges_get_200_response'
          description: A successful response
      summary: Challenges
      tags:
      - Resources
  /v2/resources/quests:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_quests_get_200_response'
          description: A successful response
      summary: Quests
      tags:
      - Resources
  /v2/resources/guilds/achievements:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_guilds_achievements_get_200_response'
          description: A successful response
      summary: Guild Achievements
      tags:
      - Resources
  /v2/resources/vanity/pets:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_vanity_pets_get_200_response'
          description: A successful response
      summary: Vanity Pets
      tags:
      - Resources
  /v2/resources/vanity/companions:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_vanity_pets_get_200_response'
          description: A successful response
      summary: Vanity Companions
      tags:
      - Resources
  /v2/resources/skyblock/collections:
    get:
      description: Information regarding Collections in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_collections_get_200_response'
          description: A successful response
      summary: Collections
      tags:
      - SkyBlock
  /v2/resources/skyblock/skills:
    get:
      description: Information regarding skills in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_skills_get_200_response'
          description: A successful response
      summary: Skills
      tags:
      - SkyBlock
  /v2/resources/skyblock/items:
    get:
      description: Information regarding items in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_items_get_200_response'
          description: A successful response
      summary: Items
      tags:
      - SkyBlock
  /v2/resources/skyblock/election:
    get:
      description: Information regarding the current mayor and ongoing election in
        SkyBlock.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_election_get_200_response'
          description: A successful response
      summary: Election and Mayor
      tags:
      - SkyBlock
  /v2/resources/skyblock/bingo:
    get:
      description: Information regarding the current bingo event and its goals.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_bingo_get_200_response'
          description: A successful response
      summary: Current Bingo Event
      tags:
      - SkyBlock
  /v2/skyblock/news:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: News
      tags:
      - SkyBlock
  /v2/skyblock/profile:
    get:
      description: "SkyBlock profile data, such as stats, objectives etc. The data\
        \ returned can differ depending on the players in-game API settings."
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_recentgames_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profile by UUID
      tags:
      - SkyBlock
  /v2/skyblock/profiles:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profiles_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_recentgames_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profiles by player
      tags:
      - SkyBlock
  /v2/skyblock/museum:
    get:
      description: SkyBlock museum data for all members of the provided profile. The
        data returned can differ depending on the players in-game API settings.
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_museum_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_recentgames_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Museum data by profile ID
      tags:
      - SkyBlock
  /v2/skyblock/garden:
    get:
      description: SkyBlock garden data for the provided profile.
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
          description: The request responded with no result.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_recentgames_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Garden data by profile ID
      tags:
      - SkyBlock
  /v2/skyblock/bingo:
    get:
      description: Bingo data for participated events of the provided player.
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_404_response'
          description: No data could be found for the provided player uuid.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_recentgames_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Bingo data by player
      tags:
      - SkyBlock
  /v2/skyblock/firesales:
    get:
      description: Retrieve the currently active or upcoming Fire Sales for SkyBlock.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_firesales_get_200_response'
          description: A successful response
      summary: Active/Upcoming Fire Sales
      tags:
      - SkyBlock
  /v2/housing/active:
    get:
      description: This data may be cached for a short period of time.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HousingHouse'
                type: array
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: The currently active public houses.
      tags:
      - Housing
  /v2/housing/house:
    get:
      description: This data may be cached for a short period of time.
      parameters:
      - description: The UUID of the house to get information about.
        explode: true
        in: query
        name: house
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HousingHouse'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
          description: The request responded with no result.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Information about a specific house.
      tags:
      - Housing
  /v2/housing/houses:
    get:
      description: This data may be cached for a short period of time.
      parameters:
      - description: The UUID of the player to get houses for.
        explode: true
        in: query
        name: player
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HousingHouse'
                type: array
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: The public houses for a specific player.
      tags:
      - Housing
  /v2/boosters:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_boosters_get_200_response'
          description: Get boosters list
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Active Network Boosters
      tags:
      - Other
  /v2/counts:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_counts_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Current Player Counts
      tags:
      - Other
  /v2/leaderboards:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_leaderboards_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_leaderboards_get_503_response'
          description: The data is not yet populated and should be available shortly
      security:
      - ApiKey: []
      summary: Current Leaderboards
      tags:
      - Other
  /v2/punishmentstats:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_punishmentstats_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_player_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_leaderboards_get_503_response'
          description: The data is not yet populated and should be available shortly
      security:
      - ApiKey: []
      summary: Punishment Statistics
      tags:
      - Other
components:
  responses:
    DataMissing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_player_get_400_response'
      description: "Some data is missing, this is usually a field."
    InvalidKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_player_get_403_response'
      description: "Access is forbidden, usually due to an invalid API key being used."
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_player_get_429_response'
      description: "A request limit has been reached, usually this is due to the limit\
        \ on the key being reached but can also be triggered by a global throttle."
    InvalidPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: The page provided is invalid.
    MissingPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      description: The page provided does not exist.
    MalformedData:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_recentgames_get_422_response'
      description: Some data provided is invalid.
    NotPopulated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_leaderboards_get_503_response'
      description: The data is not yet populated and should be available shortly
    NoResult:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
      description: The request responded with no result.
  schemas:
    Booster:
      properties:
        _id:
          format: objectid
          type: string
        purchaserUuid:
          format: uuid
          type: string
        amount:
          type: number
        originalLength:
          type: integer
        length:
          type: integer
        gameType:
          type: integer
        dateActivated:
          format: int64
          type: integer
    ActiveBooster:
      allOf:
      - $ref: '#/components/schemas/Booster'
      - properties:
          stacked:
            items:
              description: UUID of the player in a dashed format
              example: ad8fefaa-8351-454b-b739-a4eaa872173f
              format: uuid
              type: string
            nullable: true
            type: array
        type: object
      example:
        gameType: 5
        amount: 0.8008281904610115
        stacked:
        - ad8fefaa-8351-454b-b739-a4eaa872173f
        - ad8fefaa-8351-454b-b739-a4eaa872173f
        originalLength: 6
        length: 1
        purchaserUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        dateActivated: 5
        _id: _id
    QueuedBooster:
      allOf:
      - $ref: '#/components/schemas/Booster'
      - properties:
          stacked:
            nullable: true
            type: boolean
        type: object
    SkyBlockProfile:
      example:
        profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        members:
          player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          profile:
            deletion_notice:
              timestamp: 0
        game_mode: ironman
        community_upgrades: "{}"
        cute_name: cute_name
        selected: true
        banking:
          balance: 6.027456183070403
          transactions:
          - amount: 5.962133916683182
            action: DEPOSIT
            initiator_name: initiator_name
            timestamp: 1
          - amount: 5.962133916683182
            action: DEPOSIT
            initiator_name: initiator_name
            timestamp: 1
      properties:
        profile_id:
          format: uuid
          type: string
        members:
          $ref: '#/components/schemas/SkyBlockProfile_members'
        cute_name:
          description: "The cute name of the profile, only provided on the profiles\
            \ endpoint"
          nullable: true
          type: string
        selected:
          description: "Whether or not this is the currently selected profile, only\
            \ provided on the profiles endpoint"
          nullable: true
          type: boolean
        community_upgrades:
          nullable: true
          type: object
        banking:
          $ref: '#/components/schemas/SkyBlockProfile_banking'
        game_mode:
          description: "The SkyBlock game mode of the profile, not present if normal\
            \ mode"
          enum:
          - ironman
          - island
          - bingo
          nullable: true
          type: string
    SkyBlockItem:
      example:
        material: LEATHER_CHESTPLATE
        color: "255,215,0"
        name: Farm Armor Chestplate
        category: CHESTPLATE
        tier: RARE
        stats:
          DEFENSE: 75
          HEALTH: 20
        npc_sell_price: 5200
        id: FARM_ARMOR_CHESTPLATE
      properties:
        id:
          description: The unique identifier for this item
          type: string
        material:
          description: The Bukkit material enum value for the item
          type: string
        name:
          description: The name of the item
          type: string
        tier:
          description: The rarity tier of the item
          enum:
          - COMMON
          - UNCOMMON
          - RARE
          - EPIC
          - LEGENDARY
          - MYTHIC
          - SUPREME
          - SPECIAL
          - VERY_SPECIAL
          type: string
        color:
          description: "The color metadata to be applied to an item, usually leather\
            \ armor pieces"
          pattern: "^(?:(?:^|,\\s*)([01]?\\d\\d?|2[0-4]\\d|25[0-5])){3}$"
          type: string
        skin:
          description: The skin value for a skull based item
          type: string
    SkyBlockMuseum:
      example:
        special:
        - donated_time: 6
          items: "{}"
        - donated_time: 6
          items: "{}"
        appraisal: true
        value: 0
        items: "{}"
      properties:
        value:
          format: int64
          type: integer
        appraisal:
          type: boolean
        items:
          type: object
        special:
          items:
            $ref: '#/components/schemas/SkyBlockMuseum_special_inner'
          type: array
    Game:
      description: "Information about a specific game. When a field is not present\
        \ you should fallback to the provided default if there is one, required fields\
        \ will always exist."
      example:
        id: 58
        name: Bed Wars
        databaseName: Bedwars
        modeNames:
          BEDWARS_TWO_FOUR: 4v4
          BEDWARS_EIGHT_ONE: Solo
      properties:
        id:
          description: The backend ID of the game.
          example: 1
          type: integer
        name:
          description: The display name of the game.
          example: Bed Wars
          type: string
        databaseName:
          description: "The key used for database storage, such as for stats."
          example: Bedwars
          type: string
        modeNames:
          description: A map of mode key to display name
          example:
            solo_normal: Solo
            team_normal: Doubles
          type: object
        retired:
          default: false
          description: True if the game is retired and no longer playable.
          type: boolean
        legacy:
          default: false
          description: True if the game is legacy and part of the Classic Lobby.
          type: boolean
      required:
      - databaseName
      - id
      - name
    SkyBlockFireSale:
      example:
        amount: 1
        item_id: item_id
        price: 5
        start: 0.8008281904610115
        end: 6.027456183070403
      properties:
        item_id:
          description: The SkyBlock item ID for this sale
          type: string
        start:
          description: The start time in unix milliseconds for the sale
          type: number
        end:
          description: The end time in unix milliseconds for the sale
          type: number
        amount:
          description: The amount of items available for this sale
          type: integer
        price:
          description: The price in Gems for this sale
          type: integer
    SkyBlockGarden:
      description: "Information about a player's SkyBlock garden, the only guaranteed\
        \ field is the `uuid` field."
      example:
        garden_experience: 1
        unlocked_barn_skins:
        - unlocked_barn_skins
        - unlocked_barn_skins
        selected_barn_skin: selected_barn_skin
        commission_data:
          visits:
            jerry: 1
            jacob: 2
            andrew: 3
          total_completed: 0
          completed:
            jerry: 1
            jacob: 1
            andrew: 2
          unique_npcs_served: 6
        resources_collected:
          WHEAT: 100
          POTATO_ITEM: 100
          INK_SACK:3: 100
        composter_data:
          organic_matter: 1772.8
          fuel_units: 17000
          compost_units: 0
          compost_items: 2
          conversion_ticks: 300
          last_save: 1721039418436
          upgrades:
            speed: 25
            multi_drop: 25
            fuel_cap: 22
            organic_matter_cap: 25
            cost_reduction: 25
        crop_upgrade_levels:
          WHEAT: 1
          POTATO_ITEM: 2
          INK_SACK:3: 3
        active_commissions:
          liam:
            requirement:
            - original_item: NETHER_STALK
              original_amount: 93995
              item: MUTANT_NETHER_STALK
              amount: 4
            status: NOT_STARTED
            position: 1
          lumberjack:
            requirement:
            - original_item: POTATO_ITEM
              original_amount: 81380
              item: ENCHANTED_BAKED_POTATO
              amount: 3
            status: NOT_STARTED
            position: 2
          oringo:
            requirement:
            - original_item: WHEAT
              original_amount: 26798
              item: ENCHANTED_HAY_BLOCK
              amount: 21
            status: NOT_STARTED
            position: 3
          rhys:
            requirement:
            - original_item: JACK_O_LANTERN
              original_amount: 512
              item: JACK_O_LANTERN
              amount: 512
            status: NOT_STARTED
            position: 4
          fear_mongerer:
            requirement:
            - original_item: PUMPKIN
              original_amount: 27709
              item: POLISHED_PUMPKIN
              amount: 1
            status: NOT_STARTED
            position: 5
            extra_rewards:
            - candy: PURPLE_CANDY
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        unlocked_plots_ids:
        - beginner_1
        - intermediate_3
      properties:
        uuid:
          description: The UUID of the profile for this garden.
          format: uuid
          type: string
        commission_data:
          $ref: '#/components/schemas/SkyBlockGarden_commission_data'
        composter_data:
          example:
            organic_matter: 1772.8
            fuel_units: 17000
            compost_units: 0
            compost_items: 2
            conversion_ticks: 300
            last_save: 1721039418436
            upgrades:
              speed: 25
              multi_drop: 25
              fuel_cap: 22
              organic_matter_cap: 25
              cost_reduction: 25
          type: object
        active_commissions:
          example:
            liam:
              requirement:
              - original_item: NETHER_STALK
                original_amount: 93995
                item: MUTANT_NETHER_STALK
                amount: 4
              status: NOT_STARTED
              position: 1
            lumberjack:
              requirement:
              - original_item: POTATO_ITEM
                original_amount: 81380
                item: ENCHANTED_BAKED_POTATO
                amount: 3
              status: NOT_STARTED
              position: 2
            oringo:
              requirement:
              - original_item: WHEAT
                original_amount: 26798
                item: ENCHANTED_HAY_BLOCK
                amount: 21
              status: NOT_STARTED
              position: 3
            rhys:
              requirement:
              - original_item: JACK_O_LANTERN
                original_amount: 512
                item: JACK_O_LANTERN
                amount: 512
              status: NOT_STARTED
              position: 4
            fear_mongerer:
              requirement:
              - original_item: PUMPKIN
                original_amount: 27709
                item: POLISHED_PUMPKIN
                amount: 1
              status: NOT_STARTED
              position: 5
              extra_rewards:
              - candy: PURPLE_CANDY
          type: object
        resources_collected:
          description: A map of resource ID to amount collected
          example:
            WHEAT: 100
            POTATO_ITEM: 100
            INK_SACK:3: 100
          type: object
        crop_upgrade_levels:
          example:
            WHEAT: 1
            POTATO_ITEM: 2
            INK_SACK:3: 3
          type: object
        unlocked_plots_ids:
          example:
          - beginner_1
          - intermediate_3
          items:
            type: string
          type: array
        garden_experience:
          format: double
          type: integer
        unlocked_barn_skins:
          items:
            type: string
          type: array
        selected_barn_skin:
          type: string
      required:
      - uuid
    HousingHouse:
      description: Information about a player's house.
      example:
        owner: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createdAt: 0.8008281904610115
        players: 6.027456183070403
        name: name
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        cookies:
          current: 1.4658129805029452
      properties:
        uuid:
          description: The UUID of this house.
          format: uuid
          type: string
        owner:
          description: The UUID of the owner of this house.
          format: uuid
          type: string
        name:
          description: "The name of this house, may contain Minecraft color symbols."
          nullable: true
          type: string
        createdAt:
          description: The time this house was created.
          format: int64
          type: number
        players:
          description: The number of players in this house.
          format: int32
          type: number
        cookies:
          $ref: '#/components/schemas/HousingHouse_cookies'
      required:
      - cookies
      - createdAt
      - name
      - owner
      - players
      - uuid
    _v2_player_get_200_response_player:
      example:
        lastLogout: 1.4658129805029452
        lastLogin: 6.027456183070403
        firstLogin: 0.8008281904610115
        stats: "{}"
        displayname: displayname
        rank: ADMIN
        newPackageRank: MVP_PLUS
        uuid: 3fa85f6457174562b3fc2c963f66afa6
        packageRank: MVP_PLUS
        monthlyPackageRank: SUPERSTAR
      properties:
        uuid:
          example: 3fa85f6457174562b3fc2c963f66afa6
          type: string
        displayname:
          nullable: true
          type: string
        rank:
          enum:
          - ADMIN
          - MODERATOR
          - HELPER
          - NORMAL
          nullable: true
          type: string
        packageRank:
          enum:
          - MVP_PLUS
          - MVP
          - VIP_PLUS
          - VIP
          - NONE
          nullable: true
          type: string
        newPackageRank:
          enum:
          - MVP_PLUS
          - MVP
          - VIP_PLUS
          - VIP
          - NONE
          nullable: true
          type: string
        monthlyPackageRank:
          enum:
          - SUPERSTAR
          - NONE
          nullable: true
          type: string
        firstLogin:
          nullable: true
          type: number
        lastLogin:
          nullable: true
          type: number
        lastLogout:
          nullable: true
          type: number
        stats:
          nullable: true
          type: object
      type: object
    _v2_player_get_200_response:
      example:
        success: true
        player:
          lastLogout: 1.4658129805029452
          lastLogin: 6.027456183070403
          firstLogin: 0.8008281904610115
          stats: "{}"
          displayname: displayname
          rank: ADMIN
          newPackageRank: MVP_PLUS
          uuid: 3fa85f6457174562b3fc2c963f66afa6
          packageRank: MVP_PLUS
          monthlyPackageRank: SUPERSTAR
      properties:
        success:
          example: true
          type: boolean
        player:
          $ref: '#/components/schemas/_v2_player_get_200_response_player'
      type: object
    _v2_player_get_400_response:
      example:
        success: false
        cause: "Missing one or more fields [...]"
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: "Missing one or more fields [...]"
          type: string
      type: object
    _v2_player_get_403_response:
      example:
        success: false
        cause: Invalid API key
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Invalid API key
          type: string
      type: object
    _v2_player_get_429_response:
      example:
        throttle: true
        success: false
        cause: Key throttle
        global: true
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Key throttle
          type: string
        throttle:
          example: true
          type: boolean
        global:
          description: "When this boolean exists and is true, the throttle occurring\
            \ is a global throttle applied to all users"
          example: true
          type: boolean
      type: object
    _v2_recentgames_get_200_response_games_inner:
      example:
        date: 0.8008281904610115
        mode: mode
        gameType: gameType
        ended: 6.027456183070403
        map: map
      properties:
        date:
          format: int64
          type: number
        gameType:
          type: string
        mode:
          type: string
        map:
          type: string
        ended:
          format: int64
          type: number
      type: object
    _v2_recentgames_get_200_response:
      example:
        success: true
        games:
        - date: 0.8008281904610115
          mode: mode
          gameType: gameType
          ended: 6.027456183070403
          map: map
        - date: 0.8008281904610115
          mode: mode
          gameType: gameType
          ended: 6.027456183070403
          map: map
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        success:
          type: boolean
        uuid:
          format: uuid
          type: string
        games:
          items:
            $ref: '#/components/schemas/_v2_recentgames_get_200_response_games_inner'
          type: array
      type: object
    _v2_recentgames_get_422_response:
      example:
        success: false
        cause: Malformed UUID
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Malformed UUID
          type: string
      type: object
    _v2_status_get_200_response_session:
      example:
        mode: mode
        gameType: gameType
        online: true
        map: map
      properties:
        online:
          type: boolean
        gameType:
          type: string
        mode:
          type: string
        map:
          type: string
      type: object
    _v2_status_get_200_response:
      example:
        success: true
        session:
          mode: mode
          gameType: gameType
          online: true
          map: map
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        success:
          type: boolean
        uuid:
          format: uuid
          type: string
        session:
          $ref: '#/components/schemas/_v2_status_get_200_response_session'
      type: object
    _v2_guild_get_200_response:
      example:
        guild: "{}"
        success: true
      properties:
        success:
          type: boolean
        guild:
          type: object
      type: object
    _v2_resources_games_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        success: true
        games:
          key:
            id: 58
            name: Bed Wars
            databaseName: Bedwars
            modeNames:
              BEDWARS_TWO_FOUR: 4v4
              BEDWARS_EIGHT_ONE: Solo
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        games:
          additionalProperties:
            $ref: '#/components/schemas/Game'
          description: A map where the key is the backend name of the game
          type: object
      type: object
    _v2_resources_achievements_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        achievements: "{}"
        success: true
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        achievements:
          type: object
      type: object
    _v2_resources_challenges_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        challenges: "{}"
        success: true
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        challenges:
          type: object
      type: object
    _v2_resources_quests_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        quests: "{}"
        success: true
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        quests:
          type: object
      type: object
    _v2_resources_guilds_achievements_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        success: true
        tiered: "{}"
        one_time: "{}"
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        one_time:
          type: object
        tiered:
          type: object
      type: object
    _v2_resources_vanity_pets_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        rarities: "{}"
        types: "{}"
        success: true
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        types:
          type: object
        rarities:
          type: object
      type: object
    _v2_resources_skyblock_collections_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        collections: "{}"
        success: true
        version: 0.11.22
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        version:
          example: 0.11.22
          type: string
        collections:
          type: object
      type: object
    _v2_resources_skyblock_skills_get_200_response:
      example:
        skills: "{}"
        lastUpdated: 0.8008281904610115
        success: true
        version: 0.11.22
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        version:
          example: 0.11.22
          type: string
        skills:
          type: object
      type: object
    _v2_resources_skyblock_items_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        success: true
        items:
        - material: LEATHER_CHESTPLATE
          color: "255,215,0"
          name: Farm Armor Chestplate
          category: CHESTPLATE
          tier: RARE
          stats:
            DEFENSE: 75
            HEALTH: 20
          npc_sell_price: 5200
          id: FARM_ARMOR_CHESTPLATE
        - material: LEATHER_CHESTPLATE
          color: "255,215,0"
          name: Farm Armor Chestplate
          category: CHESTPLATE
          tier: RARE
          stats:
            DEFENSE: 75
            HEALTH: 20
          npc_sell_price: 5200
          id: FARM_ARMOR_CHESTPLATE
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        items:
          items:
            $ref: '#/components/schemas/SkyBlockItem'
          type: array
      type: object
    _v2_resources_skyblock_election_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        current: "{}"
        mayor: "{}"
        success: true
      properties:
        success:
          type: boolean
        lastUpdated:
          type: number
        mayor:
          description: Data regarding the current mayor
          type: object
        current:
          description: "Data regarding the current election, will not be provided\
            \ if there is no open election ongoing"
          type: object
      type: object
    _v2_resources_skyblock_bingo_get_200_response_goals_inner:
      example:
        tiers:
        - 6.027456183070403
        - 6.027456183070403
        lore: lore
        requiredAmount: 5.962133916683182
        fullLore:
        - fullLore
        - fullLore
        name: name
        progress: 1.4658129805029452
        id: id
      properties:
        id:
          description: The backend ID for this goal
          type: string
        name:
          description: The user friendly display name for this goal
          type: string
        lore:
          description: Description of this goal
          type: string
        fullLore:
          description: The full description of this goal
          items:
            type: string
          type: array
        tiers:
          description: "The tiers of this goal, if a global goal"
          items:
            format: int64
            type: number
          type: array
        progress:
          description: The global progress of this goal
          format: int64
          type: number
        requiredAmount:
          description: The required amount for this specific goal
          format: int32
          type: number
      required:
      - id
      - name
      type: object
    _v2_resources_skyblock_bingo_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        success: true
        modifier: NORMAL
        name: March 2024
        start: 1709269200000
        end: 1709874000000
        id: 27
        goals:
        - tiers:
          - 6.027456183070403
          - 6.027456183070403
          lore: lore
          requiredAmount: 5.962133916683182
          fullLore:
          - fullLore
          - fullLore
          name: name
          progress: 1.4658129805029452
          id: id
        - tiers:
          - 6.027456183070403
          - 6.027456183070403
          lore: lore
          requiredAmount: 5.962133916683182
          fullLore:
          - fullLore
          - fullLore
          name: name
          progress: 1.4658129805029452
          id: id
      properties:
        success:
          type: boolean
        lastUpdated:
          description: The unix milliseconds timestamp of the last time this data
            was updated
          format: int64
          type: number
        id:
          description: "The current bingo event ID, increments by 1 for each bingo\
            \ hosted"
          example: 27
          format: int32
          type: number
        name:
          description: The display name for the current bingo event
          example: March 2024
          type: string
        start:
          description: The start time of the current bingo event in unix milliseconds
          example: 1709269200000
          format: int64
          type: number
        end:
          description: The end time of the current bingo event in unix milliseconds
          example: 1709874000000
          format: int64
          type: number
        modifier:
          description: The modifier for the current bingo event
          enum:
          - NORMAL
          - EXTREME
          - SECRET
          example: NORMAL
          type: string
        goals:
          description: "The goals for the current bingo event, as well as their progress"
          items:
            $ref: '#/components/schemas/_v2_resources_skyblock_bingo_get_200_response_goals_inner'
          type: array
      required:
      - end
      - goals
      - id
      - lastUpdated
      - modifier
      - name
      - start
      - success
      type: object
    _v2_skyblock_news_get_200_response:
      example:
        success: true
        items:
        - item:
            material: DIAMOND
          link: https://hypixel.net
          title: SkyBlock v0.11
          text: 15th January 2021
        - item:
            material: DIAMOND
          link: https://hypixel.net
          title: SkyBlock v0.11
          text: 15th January 2021
      properties:
        success:
          type: boolean
        items:
          items:
            example:
              item:
                material: DIAMOND
              link: https://hypixel.net
              title: SkyBlock v0.11
              text: 15th January 2021
          type: array
      type: object
    _v2_skyblock_profile_get_200_response:
      example:
        success: true
        profile:
          profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            profile:
              deletion_notice:
                timestamp: 0
          game_mode: ironman
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 6.027456183070403
            transactions:
            - amount: 5.962133916683182
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
            - amount: 5.962133916683182
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
      properties:
        success:
          type: boolean
        profile:
          $ref: '#/components/schemas/SkyBlockProfile'
      type: object
    _v2_skyblock_profiles_get_200_response:
      example:
        success: true
        profiles:
        - profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            profile:
              deletion_notice:
                timestamp: 0
          game_mode: ironman
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 6.027456183070403
            transactions:
            - amount: 5.962133916683182
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
            - amount: 5.962133916683182
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
        - profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            profile:
              deletion_notice:
                timestamp: 0
          game_mode: ironman
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 6.027456183070403
            transactions:
            - amount: 5.962133916683182
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
            - amount: 5.962133916683182
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1
      properties:
        success:
          type: boolean
        profiles:
          items:
            $ref: '#/components/schemas/SkyBlockProfile'
          type: array
      type: object
    _v2_skyblock_museum_get_200_response:
      example:
        success: true
        profile:
          special:
          - donated_time: 6
            items: "{}"
          - donated_time: 6
            items: "{}"
          appraisal: true
          value: 0
          items: "{}"
      properties:
        success:
          type: boolean
        profile:
          $ref: '#/components/schemas/SkyBlockMuseum'
      type: object
    _v2_skyblock_garden_get_200_response:
      example:
        success: true
        garden:
          garden_experience: 1
          unlocked_barn_skins:
          - unlocked_barn_skins
          - unlocked_barn_skins
          selected_barn_skin: selected_barn_skin
          commission_data:
            visits:
              jerry: 1
              jacob: 2
              andrew: 3
            total_completed: 0
            completed:
              jerry: 1
              jacob: 1
              andrew: 2
            unique_npcs_served: 6
          resources_collected:
            WHEAT: 100
            POTATO_ITEM: 100
            INK_SACK:3: 100
          composter_data:
            organic_matter: 1772.8
            fuel_units: 17000
            compost_units: 0
            compost_items: 2
            conversion_ticks: 300
            last_save: 1721039418436
            upgrades:
              speed: 25
              multi_drop: 25
              fuel_cap: 22
              organic_matter_cap: 25
              cost_reduction: 25
          crop_upgrade_levels:
            WHEAT: 1
            POTATO_ITEM: 2
            INK_SACK:3: 3
          active_commissions:
            liam:
              requirement:
              - original_item: NETHER_STALK
                original_amount: 93995
                item: MUTANT_NETHER_STALK
                amount: 4
              status: NOT_STARTED
              position: 1
            lumberjack:
              requirement:
              - original_item: POTATO_ITEM
                original_amount: 81380
                item: ENCHANTED_BAKED_POTATO
                amount: 3
              status: NOT_STARTED
              position: 2
            oringo:
              requirement:
              - original_item: WHEAT
                original_amount: 26798
                item: ENCHANTED_HAY_BLOCK
                amount: 21
              status: NOT_STARTED
              position: 3
            rhys:
              requirement:
              - original_item: JACK_O_LANTERN
                original_amount: 512
                item: JACK_O_LANTERN
                amount: 512
              status: NOT_STARTED
              position: 4
            fear_mongerer:
              requirement:
              - original_item: PUMPKIN
                original_amount: 27709
                item: POLISHED_PUMPKIN
                amount: 1
              status: NOT_STARTED
              position: 5
              extra_rewards:
              - candy: PURPLE_CANDY
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          unlocked_plots_ids:
          - beginner_1
          - intermediate_3
      properties:
        success:
          type: boolean
        garden:
          $ref: '#/components/schemas/SkyBlockGarden'
      type: object
    _v2_skyblock_garden_get_404_response:
      example:
        success: false
        cause: No result was found
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: No result was found
          type: string
      type: object
    _v2_skyblock_bingo_get_200_response_events_inner:
      example:
        completed_goals:
        - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
        - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
        key: 2
        points: 117
      properties:
        key:
          description: The id for this event
          example: 2
          format: int32
          type: number
        points:
          description: The amount of points earned
          example: 117
          format: int32
          type: number
        completed_goals:
          description: The completed goal IDs
          items:
            example: "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
            type: string
          type: array
      required:
      - completed_goals
      - key
      - points
      type: object
    _v2_skyblock_bingo_get_200_response:
      example:
        success: true
        events:
        - completed_goals:
          - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
          - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
          key: 2
          points: 117
        - completed_goals:
          - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
          - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
          key: 2
          points: 117
      properties:
        success:
          type: boolean
        events:
          items:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_200_response_events_inner'
          type: array
      type: object
    _v2_skyblock_bingo_get_404_response:
      example:
        success: false
        cause: No bingo data could be found
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: No bingo data could be found
          type: string
      type: object
    _v2_skyblock_firesales_get_200_response:
      example:
        success: true
        sales:
        - amount: 1
          item_id: item_id
          price: 5
          start: 0.8008281904610115
          end: 6.027456183070403
        - amount: 1
          item_id: item_id
          price: 5
          start: 0.8008281904610115
          end: 6.027456183070403
      properties:
        success:
          type: boolean
        sales:
          items:
            $ref: '#/components/schemas/SkyBlockFireSale'
          type: array
      type: object
    _v2_boosters_get_200_response_boosters_inner:
      oneOf:
      - $ref: '#/components/schemas/ActiveBooster'
      - $ref: '#/components/schemas/QueuedBooster'
    _v2_boosters_get_200_response_boosterState:
      example:
        decrementing: true
      properties:
        decrementing:
          type: boolean
      type: object
    _v2_boosters_get_200_response:
      example:
        success: true
        boosters:
        - gameType: 5
          amount: 0.8008281904610115
          stacked:
          - ad8fefaa-8351-454b-b739-a4eaa872173f
          - ad8fefaa-8351-454b-b739-a4eaa872173f
          originalLength: 6
          length: 1
          purchaserUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          dateActivated: 5
          _id: _id
        - gameType: 5
          amount: 0.8008281904610115
          stacked:
          - ad8fefaa-8351-454b-b739-a4eaa872173f
          - ad8fefaa-8351-454b-b739-a4eaa872173f
          originalLength: 6
          length: 1
          purchaserUuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          dateActivated: 5
          _id: _id
        boosterState:
          decrementing: true
      properties:
        success:
          type: boolean
        boosters:
          items:
            $ref: '#/components/schemas/_v2_boosters_get_200_response_boosters_inner'
          type: array
        boosterState:
          $ref: '#/components/schemas/_v2_boosters_get_200_response_boosterState'
      type: object
    _v2_counts_get_200_response:
      example:
        success: true
        playerCount: 0
        games:
          GAME_TYPE:
            players: 2
            modes:
              mode_1: 1
              mode_2: 1
      properties:
        success:
          type: boolean
        playerCount:
          type: integer
        games:
          example:
            GAME_TYPE:
              players: 2
              modes:
                mode_1: 1
                mode_2: 1
          type: object
      type: object
    _v2_leaderboards_get_200_response:
      example:
        success: true
        leaderboards: "{}"
      properties:
        success:
          type: boolean
        leaderboards:
          type: object
      type: object
    _v2_leaderboards_get_503_response:
      example:
        success: false
        cause: Leaderboard data has not yet been populated
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Leaderboard data has not yet been populated
          type: string
      type: object
    _v2_punishmentstats_get_200_response:
      example:
        watchdog_lastMinute: 0
        staff_rollingDaily: 6
        watchdog_total: 1
        success: true
        watchdog_rollingDaily: 5
        staff_total: 5
      properties:
        success:
          type: boolean
        watchdog_lastMinute:
          type: integer
        staff_rollingDaily:
          type: integer
        watchdog_total:
          type: integer
        watchdog_rollingDaily:
          type: integer
        staff_total:
          type: integer
      type: object
    SkyBlockProfile_members_profile_deletion_notice:
      description: "If this field exists, the member profile is marked as deleted"
      example:
        timestamp: 0
      nullable: true
      properties:
        timestamp:
          format: int64
          type: integer
      type: object
    SkyBlockProfile_members_profile:
      example:
        deletion_notice:
          timestamp: 0
      properties:
        deletion_notice:
          $ref: '#/components/schemas/SkyBlockProfile_members_profile_deletion_notice'
      type: object
    SkyBlockProfile_members:
      description: A map of member UUIDs to member profiles objects
      example:
        player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        profile:
          deletion_notice:
            timestamp: 0
      properties:
        player_id:
          format: uuid
          type: string
        profile:
          $ref: '#/components/schemas/SkyBlockProfile_members_profile'
      type: object
    SkyBlockProfile_banking_transactions_inner:
      example:
        amount: 5.962133916683182
        action: DEPOSIT
        initiator_name: initiator_name
        timestamp: 1
      properties:
        timestamp:
          format: int64
          type: integer
        action:
          enum:
          - DEPOSIT
          - WITHDRAW
          type: string
        initiator_name:
          type: string
        amount:
          format: double
          type: number
      type: object
    SkyBlockProfile_banking:
      description: "Information about the bank account for this profile, only present\
        \ if the API banking setting is enabled"
      example:
        balance: 6.027456183070403
        transactions:
        - amount: 5.962133916683182
          action: DEPOSIT
          initiator_name: initiator_name
          timestamp: 1
        - amount: 5.962133916683182
          action: DEPOSIT
          initiator_name: initiator_name
          timestamp: 1
      nullable: true
      properties:
        balance:
          format: double
          type: number
        transactions:
          items:
            $ref: '#/components/schemas/SkyBlockProfile_banking_transactions_inner'
          type: array
      type: object
    SkyBlockMuseum_special_inner:
      example:
        donated_time: 6
        items: "{}"
      properties:
        donated_time:
          format: int64
          type: integer
        items:
          type: object
      type: object
    SkyBlockGarden_commission_data:
      example:
        visits:
          jerry: 1
          jacob: 2
          andrew: 3
        total_completed: 0
        completed:
          jerry: 1
          jacob: 1
          andrew: 2
        unique_npcs_served: 6
      properties:
        visits:
          description: A map of visitor identifier to visit count
          example:
            jerry: 1
            jacob: 2
            andrew: 3
          type: object
        completed:
          description: A map of visitor identifier to completed count
          example:
            jerry: 1
            jacob: 1
            andrew: 2
          type: object
        total_completed:
          format: int32
          type: integer
        unique_npcs_served:
          format: int32
          type: integer
      type: object
    HousingHouse_cookies:
      example:
        current: 1.4658129805029452
      properties:
        current:
          description: The current amount of cookies that this house has for the current
            week.
          format: int32
          type: number
      type: object
    inline_object:
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Invalid page
          type: string
      type: object
    inline_object_1:
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Page not found
          type: string
      type: object
  securitySchemes:
    ApiKey:
      description: "Obtained via the [Hypixel Developer Dashboard](https://developer.hypixel.net)\
        \ when creating an application. You can also request higher limits for production\
        \ applications in this dashboard."
      in: header
      name: API-Key
      type: apiKey
