openapi: 3.0.3
info:
  contact:
    name: Hypixel Support
    url: https://developer.hypixel.net
  description: "# Introduction\nThis is the official Hypixel API documentation. [Hypixel\
    \ Website](https://hypixel.net/) - [GitHub Repo](https://github.com/HypixelDev/PublicAPI)\
    \ - [API Help Forum](https://hypixel.net/forums/api-help.111/)\n\nAll use of the\
    \ API must conform to the [API policies](https://developer.hypixel.net/policies),\
    \ violation of these policies may lead to applications being revoked or users\
    \ banned from the API.\n## Limits\nAPI keys are limited to a maximum amount of\
    \ requests per 5 minute intervals. These limits will depend on the type of application\
    \ that the key is assigned to.\n\nEndpoints which require the use of an API key\
    \ will also respond with headers to assist with managing the rate limit:\n- 'RateLimit-Limit'\
    \ - The limit of requests per minute for the provided API key.\n- 'RateLimit-Remaining'\
    \ - The remaining amount of requests allowed for the current minute.\n- 'RateLimit-Reset'\
    \ - The amount of seconds until the next minute and the reset of the API key usages.\n\
    \n## GameTypes\n| ID | Type Name      | Database Name | Clean Name           |\n\
    \ |----|----------------|---------------|----------------------|\n | 2  | QUAKECRAFT\
    \     | Quake         | Quake                |\n | 3  | WALLS          | Walls\
    \         | Walls                |\n | 4  | PAINTBALL      | Paintball     | Paintball\
    \            |\n | 5  | SURVIVAL_GAMES | HungerGames   | Blitz Survival Games\
    \ |\n | 6  | TNTGAMES       | TNTGames      | TNT Games            |\n | 7  |\
    \ VAMPIREZ       | VampireZ      | VampireZ             |\n | 13 | WALLS3    \
    \     | Walls3        | Mega Walls           |\n | 14 | ARCADE         | Arcade\
    \        | Arcade               |\n | 17 | ARENA          | Arena         | Arena\
    \                |\n | 20 | UHC            | UHC           | UHC Champions   \
    \     |\n | 21 | MCGO           | MCGO          | Cops and Crims       |\n | 23\
    \ | BATTLEGROUND   | Battleground  | Warlords             |\n | 24 | SUPER_SMASH\
    \    | SuperSmash    | Smash Heroes         |\n | 25 | GINGERBREAD    | GingerBread\
    \   | Turbo Kart Racers    |\n | 26 | HOUSING        | Housing       | Housing\
    \              |\n | 51 | SKYWARS        | SkyWars       | SkyWars           \
    \   |\n | 52 | TRUE_COMBAT    | TrueCombat    | Crazy Walls          |\n | 54\
    \ | SPEED_UHC      | SpeedUHC      | Speed UHC            |\n | 55 | SKYCLASH\
    \       | SkyClash      | SkyClash             |\n | 56 | LEGACY         | Legacy\
    \        | Classic Games        |\n | 57 | PROTOTYPE      | Prototype     | Prototype\
    \            |\n | 58 | BEDWARS        | Bedwars       | Bed Wars            \
    \ |\n | 59 | MURDER_MYSTERY | MurderMystery | Murder Mystery       |\n | 60 |\
    \ BUILD_BATTLE   | BuildBattle   | Build Battle         |\n | 61 | DUELS     \
    \     | Duels         | Duels                |\n | 63 | SKYBLOCK       | SkyBlock\
    \      | SkyBlock             |\n | 64 | PIT            | Pit           | Pit\
    \                  |\n | 65 | REPLAY         | Replay        | Replay        \
    \       |\n | 67 | SMP            | SMP           | SMP                  |\n |\
    \ 68 | WOOL_GAMES     | WoolGames     | Wool Wars            |\n\n### Storage\n\
    Games store their respective stats and data in a Player's `stats` collection.\
    \ The game's specific data is held within a JSON object named after it's `Database\
    \ Name` (seen above.)\n### GameType Notes\n* Clean names are what is displayed\
    \ to the user when referencing the name.\n* Database names or IDs are used when\
    \ the API references a specific GameType.\n## Notes\n\n### Date and Time\nGenerally\
    \ dates are stored as a Unix Epoch times in milliseconds.\n### Response Format\n\
    Responses are served in JSON format.\n### UUID Parameters\nAll uuid parameters\
    \ support both dashed and undashed versions.\n### SkyBlock items and inventories\n\
    Items and inventory data are stored as a base64 encoded string containing gzipped\
    \ nbt data.\nIf a method is missing important information about an item or inventory,\
    \ you should try checking this!\n>Note: the base64 string may contain a unicode\
    \ escape for non-alphabetical symbols, and some programming languages may have\
    \ silent defects when interpreting the string. \n\n# Authentication\n\n<!-- ReDoc-Inject:\
    \ <security-definitions> -->"
  termsOfService: https://hypixel.net/tos
  title: Hypixel Public API
  version: v2
  x-logo:
    url: https://api.hypixel.net/assets/images/logo.png
    altText: Hypixel Logo
    href: '#'
servers:
- url: https://api.hypixel.net
paths:
  /v2/resources/skyblock/collections:
    get:
      description: Information regarding Collections in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_collections_get_200_response'
          description: A successful response
      summary: Collections
      tags:
      - SkyBlock
  /v2/resources/skyblock/skills:
    get:
      description: Information regarding skills in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_skills_get_200_response'
          description: A successful response
      summary: Skills
      tags:
      - SkyBlock
  /v2/resources/skyblock/items:
    get:
      description: Information regarding items in the SkyBlock game.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_items_get_200_response'
          description: A successful response
      summary: Items
      tags:
      - SkyBlock
  /v2/resources/skyblock/election:
    get:
      description: Information regarding the current mayor and ongoing election in
        SkyBlock.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_election_get_200_response'
          description: A successful response
      summary: Election and Mayor
      tags:
      - SkyBlock
  /v2/resources/skyblock/bingo:
    get:
      description: Information regarding the current bingo event and its goals.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_resources_skyblock_bingo_get_200_response'
          description: A successful response
      summary: Current Bingo Event
      tags:
      - SkyBlock
  /v2/skyblock/news:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: News
      tags:
      - SkyBlock
  /v2/skyblock/profile:
    get:
      description: "SkyBlock profile data, such as stats, objectives etc. The data\
        \ returned can differ depending on the players in-game API settings."
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profile by UUID
      tags:
      - SkyBlock
  /v2/skyblock/profiles:
    get:
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profiles_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Profiles by player
      tags:
      - SkyBlock
  /v2/skyblock/museum:
    get:
      description: SkyBlock museum data for all members of the provided profile. The
        data returned can differ depending on the players in-game API settings.
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_museum_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Museum data by profile ID
      tags:
      - SkyBlock
  /v2/skyblock/garden:
    get:
      description: SkyBlock garden data for the provided profile.
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_200_response'
          description: A successful response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
          description: The request responded with no result.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Garden data by profile ID
      tags:
      - SkyBlock
  /v2/skyblock/bingo:
    get:
      description: Bingo data for participated events of the provided player.
      parameters:
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_200_response'
          description: A successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
          description: "Some data is missing, this is usually a field."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_403_response'
          description: "Access is forbidden, usually due to an invalid API key being\
            \ used."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_bingo_get_404_response'
          description: No data could be found for the provided player uuid.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
          description: Some data provided is invalid.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_news_get_429_response'
          description: "A request limit has been reached, usually this is due to the\
            \ limit on the key being reached but can also be triggered by a global\
            \ throttle."
      security:
      - ApiKey: []
      summary: Bingo data by player
      tags:
      - SkyBlock
  /v2/skyblock/firesales:
    get:
      description: Retrieve the currently active or upcoming Fire Sales for SkyBlock.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_skyblock_firesales_get_200_response'
          description: A successful response
      summary: Active/Upcoming Fire Sales
      tags:
      - SkyBlock
components:
  responses:
    DataMissing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_400_response'
      description: "Some data is missing, this is usually a field."
    InvalidKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_news_get_403_response'
      description: "Access is forbidden, usually due to an invalid API key being used."
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_news_get_429_response'
      description: "A request limit has been reached, usually this is due to the limit\
        \ on the key being reached but can also be triggered by a global throttle."
    InvalidPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: The page provided is invalid.
    MissingPage:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      description: The page provided does not exist.
    MalformedData:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_profile_get_422_response'
      description: Some data provided is invalid.
    NotPopulated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      description: The data is not yet populated and should be available shortly
    NoResult:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_v2_skyblock_garden_get_404_response'
      description: The request responded with no result.
  schemas:
    ActiveBooster:
      allOf:
      - $ref: '#/components/schemas/Booster'
      - properties:
          stacked:
            items:
              description: UUID of the player in a dashed format
              example: ad8fefaa-8351-454b-b739-a4eaa872173f
              format: uuid
              type: string
            nullable: true
            type: array
        type: object
    Booster:
      properties:
        _id:
          format: objectid
          type: string
        purchaserUuid:
          format: uuid
          type: string
        amount:
          format: int64
          type: number
        originalLength:
          format: int64
          type: number
        length:
          format: int64
          type: number
        gameType:
          format: int64
          type: number
        dateActivated:
          format: int64
          type: number
    QueuedBooster:
      allOf:
      - $ref: '#/components/schemas/Booster'
      - properties:
          stacked:
            nullable: true
            type: boolean
        type: object
    SkyBlockProfile:
      example:
        profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        members:
          key:
            rift:
              wizard_tower:
                wizard_quest_step: 6.84685269835264
                crumbs_laid_out: 1.4894159098541704
              enigma:
                found_souls:
                - BACK2BASICS
                - BACK2BASICS
                bought_cloak: true
                claimed_bonus_index: 5.962133916683182
              black_lagoon:
                received_science_paper: true
                delivered_science_paper: true
                completed_step: 0.8008281904610115
                talked_to_edwin: true
              dead_cats:
                unlocked_pet: true
                montezuma:
                  tier: COMMON
                  heldItem:
                    material: LEATHER_CHESTPLATE
                    color: "255,215,0"
                    name: Farm Armor Chestplate
                    category: CHESTPLATE
                    tier: RARE
                    stats:
                      DEFENSE: 75
                      HEALTH: 20
                    npc_sell_price: 5200
                    id: FARM_ARMOR_CHESTPLATE
                  skin:
                    material: LEATHER_CHESTPLATE
                    color: "255,215,0"
                    name: Farm Armor Chestplate
                    category: CHESTPLATE
                    tier: RARE
                    stats:
                      DEFENSE: 75
                      HEALTH: 20
                    npc_sell_price: 5200
                    id: FARM_ARMOR_CHESTPLATE
                  active: true
                  exp: 1.4658129805029452
                  type: FRACTURED_MONTEZUMA_SOUL
                  uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  candyUsed: 6.027456183070403
                  uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                found_cats:
                - eight
                - eight
                picked_up_detector: true
                talked_to_jacquelle: true
              village_plaza:
                murder:
                  step_index_pt3: 1.2315135367772556
                  step_index: 4.145608029883936
                  step_index_pt2: 7.386281948385884
                  room_clues:
                  - blood
                  - blood
                cowboy:
                  stage: 3.616076749251911
                  hay_eaten: 9.301444243932576
                  rabbit_name: rabbit_name
                barter_bank: "{}"
                got_scammed: true
                seraphine:
                  step_index: 1.0246457001441578
                lonely:
                  seconds_sitting: 2.027123023002322
                barry_center:
                  first_talk_to_barry: true
                  convinced:
                  - creed
                  - creed
                  received_reward: true
              wither_cage:
                killed_eyes:
                - castle
                - castle
              gallery:
                sent_trophy_dialogues:
                - sent_trophy_dialogues
                - sent_trophy_dialogues
                elise_step: 5.637376656633329
                secured_trophies:
                - visits: 7.061401241503109
                  type: chicken_n_egg
                  timestamp: 2.3021358869347655
                - visits: 7.061401241503109
                  type: chicken_n_egg
                  timestamp: 2.3021358869347655
            player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        game_mode: ironman
        community_upgrades: "{}"
        cute_name: cute_name
        selected: true
        banking:
          balance: 7.457744773683766
          transactions:
          - amount: 4.965218492984954
            action: DEPOSIT
            initiator_name: initiator_name
            timestamp: 1.1730742509559433
          - amount: 4.965218492984954
            action: DEPOSIT
            initiator_name: initiator_name
            timestamp: 1.1730742509559433
      properties:
        profile_id:
          format: uuid
          type: string
        members:
          additionalProperties:
            $ref: '#/components/schemas/SkyBlockProfileMember'
          description: A map of profile member UUIDs to profile member objects
          type: object
        cute_name:
          description: "The cute name of the profile, only provided on the profiles\
            \ endpoint"
          nullable: true
          type: string
        selected:
          description: "Whether or not this is the currently selected profile, only\
            \ provided on the profiles endpoint"
          nullable: true
          type: boolean
        community_upgrades:
          nullable: true
          type: object
        banking:
          $ref: '#/components/schemas/SkyBlockProfile_banking'
        game_mode:
          description: "The SkyBlock game mode of the profile, not present if normal\
            \ mode"
          enum:
          - ironman
          - island
          - bingo
          nullable: true
          type: string
    SkyBlockProfileMember:
      example:
        rift:
          wizard_tower:
            wizard_quest_step: 6.84685269835264
            crumbs_laid_out: 1.4894159098541704
          enigma:
            found_souls:
            - BACK2BASICS
            - BACK2BASICS
            bought_cloak: true
            claimed_bonus_index: 5.962133916683182
          black_lagoon:
            received_science_paper: true
            delivered_science_paper: true
            completed_step: 0.8008281904610115
            talked_to_edwin: true
          dead_cats:
            unlocked_pet: true
            montezuma:
              tier: COMMON
              heldItem:
                material: LEATHER_CHESTPLATE
                color: "255,215,0"
                name: Farm Armor Chestplate
                category: CHESTPLATE
                tier: RARE
                stats:
                  DEFENSE: 75
                  HEALTH: 20
                npc_sell_price: 5200
                id: FARM_ARMOR_CHESTPLATE
              skin:
                material: LEATHER_CHESTPLATE
                color: "255,215,0"
                name: Farm Armor Chestplate
                category: CHESTPLATE
                tier: RARE
                stats:
                  DEFENSE: 75
                  HEALTH: 20
                npc_sell_price: 5200
                id: FARM_ARMOR_CHESTPLATE
              active: true
              exp: 1.4658129805029452
              type: FRACTURED_MONTEZUMA_SOUL
              uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              candyUsed: 6.027456183070403
              uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            found_cats:
            - eight
            - eight
            picked_up_detector: true
            talked_to_jacquelle: true
          village_plaza:
            murder:
              step_index_pt3: 1.2315135367772556
              step_index: 4.145608029883936
              step_index_pt2: 7.386281948385884
              room_clues:
              - blood
              - blood
            cowboy:
              stage: 3.616076749251911
              hay_eaten: 9.301444243932576
              rabbit_name: rabbit_name
            barter_bank: "{}"
            got_scammed: true
            seraphine:
              step_index: 1.0246457001441578
            lonely:
              seconds_sitting: 2.027123023002322
            barry_center:
              first_talk_to_barry: true
              convinced:
              - creed
              - creed
              received_reward: true
          wither_cage:
            killed_eyes:
            - castle
            - castle
          gallery:
            sent_trophy_dialogues:
            - sent_trophy_dialogues
            - sent_trophy_dialogues
            elise_step: 5.637376656633329
            secured_trophies:
            - visits: 7.061401241503109
              type: chicken_n_egg
              timestamp: 2.3021358869347655
            - visits: 7.061401241503109
              type: chicken_n_egg
              timestamp: 2.3021358869347655
        player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        player_id:
          format: uuid
          type: string
        rift:
          $ref: '#/components/schemas/SkyBlockProfileMemberRift'
      type: object
    SkyBlockProfileMemberRift:
      example:
        wizard_tower:
          wizard_quest_step: 6.84685269835264
          crumbs_laid_out: 1.4894159098541704
        enigma:
          found_souls:
          - BACK2BASICS
          - BACK2BASICS
          bought_cloak: true
          claimed_bonus_index: 5.962133916683182
        black_lagoon:
          received_science_paper: true
          delivered_science_paper: true
          completed_step: 0.8008281904610115
          talked_to_edwin: true
        dead_cats:
          unlocked_pet: true
          montezuma:
            tier: COMMON
            heldItem:
              material: LEATHER_CHESTPLATE
              color: "255,215,0"
              name: Farm Armor Chestplate
              category: CHESTPLATE
              tier: RARE
              stats:
                DEFENSE: 75
                HEALTH: 20
              npc_sell_price: 5200
              id: FARM_ARMOR_CHESTPLATE
            skin:
              material: LEATHER_CHESTPLATE
              color: "255,215,0"
              name: Farm Armor Chestplate
              category: CHESTPLATE
              tier: RARE
              stats:
                DEFENSE: 75
                HEALTH: 20
              npc_sell_price: 5200
              id: FARM_ARMOR_CHESTPLATE
            active: true
            exp: 1.4658129805029452
            type: FRACTURED_MONTEZUMA_SOUL
            uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            candyUsed: 6.027456183070403
            uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          found_cats:
          - eight
          - eight
          picked_up_detector: true
          talked_to_jacquelle: true
        village_plaza:
          murder:
            step_index_pt3: 1.2315135367772556
            step_index: 4.145608029883936
            step_index_pt2: 7.386281948385884
            room_clues:
            - blood
            - blood
          cowboy:
            stage: 3.616076749251911
            hay_eaten: 9.301444243932576
            rabbit_name: rabbit_name
          barter_bank: "{}"
          got_scammed: true
          seraphine:
            step_index: 1.0246457001441578
          lonely:
            seconds_sitting: 2.027123023002322
          barry_center:
            first_talk_to_barry: true
            convinced:
            - creed
            - creed
            received_reward: true
        wither_cage:
          killed_eyes:
          - castle
          - castle
        gallery:
          sent_trophy_dialogues:
          - sent_trophy_dialogues
          - sent_trophy_dialogues
          elise_step: 5.637376656633329
          secured_trophies:
          - visits: 7.061401241503109
            type: chicken_n_egg
            timestamp: 2.3021358869347655
          - visits: 7.061401241503109
            type: chicken_n_egg
            timestamp: 2.3021358869347655
      properties:
        black_lagoon:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftBlackLagoon'
        dead_cats:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftDeadCats'
        enigma:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftEnigma'
        gallery:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftGallery'
        village_plaza:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlaza'
        wither_cage:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftWitherCage'
        wizard_tower:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftWizardTower'
      type: object
    SkyBlockProfileMemberRiftBlackLagoon:
      example:
        received_science_paper: true
        delivered_science_paper: true
        completed_step: 0.8008281904610115
        talked_to_edwin: true
      properties:
        completed_step:
          format: int64
          type: number
        delivered_science_paper:
          type: boolean
        received_science_paper:
          type: boolean
        talked_to_edwin:
          type: boolean
      type: object
    SkyBlockProfileMemberRiftDeadCats:
      example:
        unlocked_pet: true
        montezuma:
          tier: COMMON
          heldItem:
            material: LEATHER_CHESTPLATE
            color: "255,215,0"
            name: Farm Armor Chestplate
            category: CHESTPLATE
            tier: RARE
            stats:
              DEFENSE: 75
              HEALTH: 20
            npc_sell_price: 5200
            id: FARM_ARMOR_CHESTPLATE
          skin:
            material: LEATHER_CHESTPLATE
            color: "255,215,0"
            name: Farm Armor Chestplate
            category: CHESTPLATE
            tier: RARE
            stats:
              DEFENSE: 75
              HEALTH: 20
            npc_sell_price: 5200
            id: FARM_ARMOR_CHESTPLATE
          active: true
          exp: 1.4658129805029452
          type: FRACTURED_MONTEZUMA_SOUL
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          candyUsed: 6.027456183070403
          uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        found_cats:
        - eight
        - eight
        picked_up_detector: true
        talked_to_jacquelle: true
      properties:
        found_cats:
          items:
            enum:
            - eight
            - fifth
            - first
            - fourth
            - ninth
            - second
            - seventh
            - sixth
            - third
            type: string
          type: array
        montezuma:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftDeadCatsMontezuma'
        picked_up_detector:
          type: boolean
        talked_to_jacquelle:
          type: boolean
        unlocked_pet:
          type: boolean
      type: object
    SkyBlockProfileMemberRiftDeadCatsMontezuma:
      example:
        tier: COMMON
        heldItem:
          material: LEATHER_CHESTPLATE
          color: "255,215,0"
          name: Farm Armor Chestplate
          category: CHESTPLATE
          tier: RARE
          stats:
            DEFENSE: 75
            HEALTH: 20
          npc_sell_price: 5200
          id: FARM_ARMOR_CHESTPLATE
        skin:
          material: LEATHER_CHESTPLATE
          color: "255,215,0"
          name: Farm Armor Chestplate
          category: CHESTPLATE
          tier: RARE
          stats:
            DEFENSE: 75
            HEALTH: 20
          npc_sell_price: 5200
          id: FARM_ARMOR_CHESTPLATE
        active: true
        exp: 1.4658129805029452
        type: FRACTURED_MONTEZUMA_SOUL
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        candyUsed: 6.027456183070403
        uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        active:
          type: boolean
        candyUsed:
          format: int64
          type: number
        exp:
          format: double
          type: number
        heldItem:
          $ref: '#/components/schemas/SkyBlockItem'
        skin:
          $ref: '#/components/schemas/SkyBlockItem'
        tier:
          enum:
          - COMMON
          - EPIC
          - LEGENDARY
          - MYTHIC
          - RARE
          - UNCOMMON
          type: string
        type:
          enum:
          - FRACTURED_MONTEZUMA_SOUL
          type: string
        uniqueId:
          format: uuid
          type: string
        uuid:
          format: uuid
          nullable: true
          type: string
      type: object
    SkyBlockProfileMemberRiftEnigma:
      example:
        found_souls:
        - BACK2BASICS
        - BACK2BASICS
        bought_cloak: true
        claimed_bonus_index: 5.962133916683182
      properties:
        bought_cloak:
          type: boolean
        claimed_bonus_index:
          format: int64
          type: number
        found_souls:
          items:
            enum:
            - BACK2BASICS
            - BARK_TREE
            - BEANSTALK
            - BETWEEN_BRANCHES
            - buttons_soul
            - CASTLE_BALLOONS
            - CASTLE_FLOWERS
            - CASTLE_MIDAIR
            - CASTLE_PHANTOM
            - COLOSSEUM_PILLARS
            - DOLPHIN_PARKOUR
            - FAIRY_TOWER_SOUL
            - FARM_BALLOONS
            - FROG_JUMP_PAD
            - HORSING_AROUND
            - HOT_DOG_SOUL
            - LAGOON_PARKOUR
            - LAGOON_SHOP_SOUL
            - LEAP_OF_FAITH
            - LIVING_CAVE_WALL
            - LONELY_SOUL
            - LONG_SHROOM
            - MOUNTAIN_IKRUS
            - MOUNTAIN_UBIK_BOXES
            - MOUNTAIN_UBIK_TATS
            - PIECE_TREE
            - PLAZA_BALLOONS
            - PLAZA_MIDAIR
            - PLAZA_PHANTOM
            - RABBIT_HAT_SOUL
            - RIFT_1
            - RIFT_CAKE
            - RIFT_CAKE_2
            - ROCKS_GAME_SOUL
            - SAY_HI
            - SCAMMER_SOUL
            - SOUL_IN_A_BOX
            - STANDING_THERE
            - TELKAR
            - TREE_LAUNCH
            - TWO_PLAYERS_SOUL
            - WEST_VILLAGE_KAT
            - WEST_VILLAGE_MIDAIR
            - WOODS_FLOWER_POT
            - WOODS_PHANTOM
            - WOODS_WATER_SOUL
            type: string
          type: array
      type: object
    SkyBlockProfileMemberRiftGallery:
      example:
        sent_trophy_dialogues:
        - sent_trophy_dialogues
        - sent_trophy_dialogues
        elise_step: 5.637376656633329
        secured_trophies:
        - visits: 7.061401241503109
          type: chicken_n_egg
          timestamp: 2.3021358869347655
        - visits: 7.061401241503109
          type: chicken_n_egg
          timestamp: 2.3021358869347655
      properties:
        elise_step:
          format: int64
          type: number
        secured_trophies:
          items:
            $ref: '#/components/schemas/SkyBlockProfileMemberRiftGallery_secured_trophies_inner'
          type: array
        sent_trophy_dialogues:
          items:
            type: string
          type: array
      type: object
    SkyBlockProfileMemberRiftVillagePlaza:
      example:
        murder:
          step_index_pt3: 1.2315135367772556
          step_index: 4.145608029883936
          step_index_pt2: 7.386281948385884
          room_clues:
          - blood
          - blood
        cowboy:
          stage: 3.616076749251911
          hay_eaten: 9.301444243932576
          rabbit_name: rabbit_name
        barter_bank: "{}"
        got_scammed: true
        seraphine:
          step_index: 1.0246457001441578
        lonely:
          seconds_sitting: 2.027123023002322
        barry_center:
          first_talk_to_barry: true
          convinced:
          - creed
          - creed
          received_reward: true
      properties:
        barry_center:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaBarryCenter'
        barter_bank:
          properties: {}
          type: object
        cowboy:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaCowboy'
        got_scammed:
          type: boolean
        lonely:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaLonely'
        murder:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaMurder'
        seraphine:
          $ref: '#/components/schemas/SkyBlockProfileMemberRiftVillagePlazaSeraphine'
      type: object
    SkyBlockProfileMemberRiftVillagePlazaBarryCenter:
      example:
        first_talk_to_barry: true
        convinced:
        - creed
        - creed
        received_reward: true
      properties:
        convinced:
          items:
            enum:
            - creed
            - dust
            - frankie
            - harriette
            - soma
            - stain
            - violetta
            type: string
          type: array
        first_talk_to_barry:
          type: boolean
        received_reward:
          type: boolean
      type: object
    SkyBlockProfileMemberRiftVillagePlazaBarterBank:
      properties: {}
      type: object
    SkyBlockProfileMemberRiftVillagePlazaCowboy:
      example:
        stage: 3.616076749251911
        hay_eaten: 9.301444243932576
        rabbit_name: rabbit_name
      properties:
        hay_eaten:
          format: int64
          type: number
        rabbit_name:
          type: string
        stage:
          format: int64
          type: number
      type: object
    SkyBlockProfileMemberRiftVillagePlazaLonely:
      example:
        seconds_sitting: 2.027123023002322
      properties:
        seconds_sitting:
          format: int64
          type: number
      type: object
    SkyBlockProfileMemberRiftVillagePlazaMurder:
      example:
        step_index_pt3: 1.2315135367772556
        step_index: 4.145608029883936
        step_index_pt2: 7.386281948385884
        room_clues:
        - blood
        - blood
      properties:
        room_clues:
          items:
            enum:
            - blood
            - flowers
            - fridge
            - letter
            - painting_1
            - painting_2
            - ring
            - window
            type: string
          type: array
        step_index:
          format: int64
          type: number
        step_index_pt2:
          format: int64
          type: number
        step_index_pt3:
          format: int64
          type: number
      type: object
    SkyBlockProfileMemberRiftVillagePlazaSeraphine:
      example:
        step_index: 1.0246457001441578
      properties:
        step_index:
          format: int64
          type: number
      type: object
    SkyBlockProfileMemberRiftWitherCage:
      example:
        killed_eyes:
        - castle
        - castle
      properties:
        killed_eyes:
          items:
            enum:
            - castle
            - colosseum
            - dreadfarm
            - fisherman_hut
            - mountaintop
            - plaza
            - wizard_tower
            type: string
          type: array
      type: object
    SkyBlockProfileMemberRiftWizardTower:
      example:
        wizard_quest_step: 6.84685269835264
        crumbs_laid_out: 1.4894159098541704
      properties:
        crumbs_laid_out:
          format: int64
          type: number
        wizard_quest_step:
          format: int64
          type: number
      type: object
    SkyBlockItem:
      example:
        material: LEATHER_CHESTPLATE
        color: "255,215,0"
        name: Farm Armor Chestplate
        category: CHESTPLATE
        tier: RARE
        stats:
          DEFENSE: 75
          HEALTH: 20
        npc_sell_price: 5200
        id: FARM_ARMOR_CHESTPLATE
      properties:
        id:
          description: The unique identifier for this item
          type: string
        material:
          description: The Bukkit material enum value for the item
          type: string
        name:
          description: The name of the item
          type: string
        tier:
          description: The rarity tier of the item
          enum:
          - COMMON
          - UNCOMMON
          - RARE
          - EPIC
          - LEGENDARY
          - MYTHIC
          - SUPREME
          - SPECIAL
          - VERY_SPECIAL
          type: string
        color:
          description: "The color metadata to be applied to an item, usually leather\
            \ armor pieces"
          pattern: "^(?:(?:^|,\\s*)([01]?\\d\\d?|2[0-4]\\d|25[0-5])){3}$"
          type: string
        skin:
          description: The skin value for a skull based item
          type: string
    SkyBlockMuseum:
      example:
        special:
        - donated_time: 6.027456183070403
          items: "{}"
        - donated_time: 6.027456183070403
          items: "{}"
        appraisal: true
        value: 0.8008281904610115
        items: "{}"
      properties:
        value:
          format: int64
          type: number
        appraisal:
          type: boolean
        items:
          type: object
        special:
          items:
            $ref: '#/components/schemas/SkyBlockMuseum_special_inner'
          type: array
    SkyBlockFireSale:
      example:
        amount: 1.4658129805029452
        item_id: item_id
        price: 5.962133916683182
        start: 0.8008281904610115
        end: 6.027456183070403
      properties:
        item_id:
          description: The SkyBlock item ID for this sale
          type: string
        start:
          description: The start time in unix milliseconds for the sale
          format: int64
          type: number
        end:
          description: The end time in unix milliseconds for the sale
          format: int64
          type: number
        amount:
          description: The amount of items available for this sale
          format: int64
          type: number
        price:
          description: The price in Gems for this sale
          format: int64
          type: number
    SkyBlockGarden:
      description: "Information about a player's SkyBlock garden, the only guaranteed\
        \ field is the `uuid` field."
      example:
        garden_experience: 1.4658129805029452
        unlocked_barn_skins:
        - unlocked_barn_skins
        - unlocked_barn_skins
        selected_barn_skin: selected_barn_skin
        commission_data:
          visits:
            jerry: 1
            jacob: 2
            andrew: 3
          total_completed: 0.8008281904610115
          completed:
            jerry: 1
            jacob: 1
            andrew: 2
          unique_npcs_served: 6.027456183070403
        resources_collected:
          WHEAT: 100
          POTATO_ITEM: 100
          INK_SACK:3: 100
        composter_data:
          organic_matter: 1772.8
          fuel_units: 17000
          compost_units: 0
          compost_items: 2
          conversion_ticks: 300
          last_save: 1721039418436
          upgrades:
            speed: 25
            multi_drop: 25
            fuel_cap: 22
            organic_matter_cap: 25
            cost_reduction: 25
        crop_upgrade_levels:
          WHEAT: 1
          POTATO_ITEM: 2
          INK_SACK:3: 3
        active_commissions:
          liam:
            requirement:
            - original_item: NETHER_STALK
              original_amount: 93995
              item: MUTANT_NETHER_STALK
              amount: 4
            status: NOT_STARTED
            position: 1
          lumberjack:
            requirement:
            - original_item: POTATO_ITEM
              original_amount: 81380
              item: ENCHANTED_BAKED_POTATO
              amount: 3
            status: NOT_STARTED
            position: 2
          oringo:
            requirement:
            - original_item: WHEAT
              original_amount: 26798
              item: ENCHANTED_HAY_BLOCK
              amount: 21
            status: NOT_STARTED
            position: 3
          rhys:
            requirement:
            - original_item: JACK_O_LANTERN
              original_amount: 512
              item: JACK_O_LANTERN
              amount: 512
            status: NOT_STARTED
            position: 4
          fear_mongerer:
            requirement:
            - original_item: PUMPKIN
              original_amount: 27709
              item: POLISHED_PUMPKIN
              amount: 1
            status: NOT_STARTED
            position: 5
            extra_rewards:
            - candy: PURPLE_CANDY
        uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        unlocked_plots_ids:
        - beginner_1
        - intermediate_3
      properties:
        uuid:
          description: The UUID of the profile for this garden.
          format: uuid
          type: string
        commission_data:
          $ref: '#/components/schemas/SkyBlockGarden_commission_data'
        composter_data:
          example:
            organic_matter: 1772.8
            fuel_units: 17000
            compost_units: 0
            compost_items: 2
            conversion_ticks: 300
            last_save: 1721039418436
            upgrades:
              speed: 25
              multi_drop: 25
              fuel_cap: 22
              organic_matter_cap: 25
              cost_reduction: 25
          type: object
        active_commissions:
          example:
            liam:
              requirement:
              - original_item: NETHER_STALK
                original_amount: 93995
                item: MUTANT_NETHER_STALK
                amount: 4
              status: NOT_STARTED
              position: 1
            lumberjack:
              requirement:
              - original_item: POTATO_ITEM
                original_amount: 81380
                item: ENCHANTED_BAKED_POTATO
                amount: 3
              status: NOT_STARTED
              position: 2
            oringo:
              requirement:
              - original_item: WHEAT
                original_amount: 26798
                item: ENCHANTED_HAY_BLOCK
                amount: 21
              status: NOT_STARTED
              position: 3
            rhys:
              requirement:
              - original_item: JACK_O_LANTERN
                original_amount: 512
                item: JACK_O_LANTERN
                amount: 512
              status: NOT_STARTED
              position: 4
            fear_mongerer:
              requirement:
              - original_item: PUMPKIN
                original_amount: 27709
                item: POLISHED_PUMPKIN
                amount: 1
              status: NOT_STARTED
              position: 5
              extra_rewards:
              - candy: PURPLE_CANDY
          type: object
        resources_collected:
          description: A map of resource ID to amount collected
          example:
            WHEAT: 100
            POTATO_ITEM: 100
            INK_SACK:3: 100
          type: object
        crop_upgrade_levels:
          example:
            WHEAT: 1
            POTATO_ITEM: 2
            INK_SACK:3: 3
          type: object
        unlocked_plots_ids:
          example:
          - beginner_1
          - intermediate_3
          items:
            type: string
          type: array
        garden_experience:
          format: double
          type: number
        unlocked_barn_skins:
          items:
            type: string
          type: array
        selected_barn_skin:
          type: string
      required:
      - uuid
    _v2_resources_skyblock_collections_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        collections: "{}"
        success: true
        version: 0.11.22
      properties:
        success:
          type: boolean
        lastUpdated:
          format: int64
          type: number
        version:
          example: 0.11.22
          type: string
        collections:
          type: object
      type: object
    _v2_resources_skyblock_skills_get_200_response:
      example:
        skills: "{}"
        lastUpdated: 0.8008281904610115
        success: true
        version: 0.11.22
      properties:
        success:
          type: boolean
        lastUpdated:
          format: int64
          type: number
        version:
          example: 0.11.22
          type: string
        skills:
          type: object
      type: object
    _v2_resources_skyblock_items_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        success: true
        items:
        - material: LEATHER_CHESTPLATE
          color: "255,215,0"
          name: Farm Armor Chestplate
          category: CHESTPLATE
          tier: RARE
          stats:
            DEFENSE: 75
            HEALTH: 20
          npc_sell_price: 5200
          id: FARM_ARMOR_CHESTPLATE
        - material: LEATHER_CHESTPLATE
          color: "255,215,0"
          name: Farm Armor Chestplate
          category: CHESTPLATE
          tier: RARE
          stats:
            DEFENSE: 75
            HEALTH: 20
          npc_sell_price: 5200
          id: FARM_ARMOR_CHESTPLATE
      properties:
        success:
          type: boolean
        lastUpdated:
          format: int64
          type: number
        items:
          items:
            $ref: '#/components/schemas/SkyBlockItem'
          type: array
      type: object
    _v2_resources_skyblock_election_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        current: "{}"
        mayor: "{}"
        success: true
      properties:
        success:
          type: boolean
        lastUpdated:
          format: int64
          type: number
        mayor:
          description: Data regarding the current mayor
          type: object
        current:
          description: "Data regarding the current election, will not be provided\
            \ if there is no open election ongoing"
          type: object
      type: object
    _v2_resources_skyblock_bingo_get_200_response_goals_inner:
      example:
        tiers:
        - 6.027456183070403
        - 6.027456183070403
        lore: lore
        requiredAmount: 5.962133916683182
        fullLore:
        - fullLore
        - fullLore
        name: name
        progress: 1.4658129805029452
        id: id
      properties:
        id:
          description: The backend ID for this goal
          type: string
        name:
          description: The user friendly display name for this goal
          type: string
        lore:
          description: Description of this goal
          type: string
        fullLore:
          description: The full description of this goal
          items:
            type: string
          type: array
        tiers:
          description: "The tiers of this goal, if a global goal"
          items:
            format: int64
            type: number
          type: array
        progress:
          description: The global progress of this goal
          format: int64
          type: number
        requiredAmount:
          description: The required amount for this specific goal
          format: int64
          type: number
      required:
      - id
      - name
      type: object
    _v2_resources_skyblock_bingo_get_200_response:
      example:
        lastUpdated: 0.8008281904610115
        success: true
        modifier: NORMAL
        name: March 2024
        start: 1709269200000
        end: 1709874000000
        id: 27
        goals:
        - tiers:
          - 6.027456183070403
          - 6.027456183070403
          lore: lore
          requiredAmount: 5.962133916683182
          fullLore:
          - fullLore
          - fullLore
          name: name
          progress: 1.4658129805029452
          id: id
        - tiers:
          - 6.027456183070403
          - 6.027456183070403
          lore: lore
          requiredAmount: 5.962133916683182
          fullLore:
          - fullLore
          - fullLore
          name: name
          progress: 1.4658129805029452
          id: id
      properties:
        success:
          type: boolean
        lastUpdated:
          description: The unix milliseconds timestamp of the last time this data
            was updated
          format: int64
          type: number
        id:
          description: "The current bingo event ID, increments by 1 for each bingo\
            \ hosted"
          example: 27
          format: int64
          type: number
        name:
          description: The display name for the current bingo event
          example: March 2024
          type: string
        start:
          description: The start time of the current bingo event in unix milliseconds
          example: 1709269200000
          format: int64
          type: number
        end:
          description: The end time of the current bingo event in unix milliseconds
          example: 1709874000000
          format: int64
          type: number
        modifier:
          description: The modifier for the current bingo event
          enum:
          - NORMAL
          - EXTREME
          - SECRET
          example: NORMAL
          type: string
        goals:
          description: "The goals for the current bingo event, as well as their progress"
          items:
            $ref: '#/components/schemas/_v2_resources_skyblock_bingo_get_200_response_goals_inner'
          type: array
      required:
      - end
      - goals
      - id
      - lastUpdated
      - modifier
      - name
      - start
      - success
      type: object
    _v2_skyblock_news_get_200_response:
      example:
        success: true
        items:
        - item:
            material: DIAMOND
          link: https://hypixel.net
          title: SkyBlock v0.11
          text: 15th January 2021
        - item:
            material: DIAMOND
          link: https://hypixel.net
          title: SkyBlock v0.11
          text: 15th January 2021
      properties:
        success:
          type: boolean
        items:
          items:
            example:
              item:
                material: DIAMOND
              link: https://hypixel.net
              title: SkyBlock v0.11
              text: 15th January 2021
          type: array
      type: object
    _v2_skyblock_news_get_403_response:
      example:
        success: false
        cause: Invalid API key
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Invalid API key
          type: string
      type: object
    _v2_skyblock_news_get_429_response:
      example:
        throttle: true
        success: false
        cause: Key throttle
        global: true
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Key throttle
          type: string
        throttle:
          example: true
          type: boolean
        global:
          description: "When this boolean exists and is true, the throttle occurring\
            \ is a global throttle applied to all users"
          example: true
          type: boolean
      type: object
    _v2_skyblock_profile_get_200_response:
      example:
        success: true
        profile:
          profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            key:
              rift:
                wizard_tower:
                  wizard_quest_step: 6.84685269835264
                  crumbs_laid_out: 1.4894159098541704
                enigma:
                  found_souls:
                  - BACK2BASICS
                  - BACK2BASICS
                  bought_cloak: true
                  claimed_bonus_index: 5.962133916683182
                black_lagoon:
                  received_science_paper: true
                  delivered_science_paper: true
                  completed_step: 0.8008281904610115
                  talked_to_edwin: true
                dead_cats:
                  unlocked_pet: true
                  montezuma:
                    tier: COMMON
                    heldItem:
                      material: LEATHER_CHESTPLATE
                      color: "255,215,0"
                      name: Farm Armor Chestplate
                      category: CHESTPLATE
                      tier: RARE
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      npc_sell_price: 5200
                      id: FARM_ARMOR_CHESTPLATE
                    skin:
                      material: LEATHER_CHESTPLATE
                      color: "255,215,0"
                      name: Farm Armor Chestplate
                      category: CHESTPLATE
                      tier: RARE
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      npc_sell_price: 5200
                      id: FARM_ARMOR_CHESTPLATE
                    active: true
                    exp: 1.4658129805029452
                    type: FRACTURED_MONTEZUMA_SOUL
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    candyUsed: 6.027456183070403
                    uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  found_cats:
                  - eight
                  - eight
                  picked_up_detector: true
                  talked_to_jacquelle: true
                village_plaza:
                  murder:
                    step_index_pt3: 1.2315135367772556
                    step_index: 4.145608029883936
                    step_index_pt2: 7.386281948385884
                    room_clues:
                    - blood
                    - blood
                  cowboy:
                    stage: 3.616076749251911
                    hay_eaten: 9.301444243932576
                    rabbit_name: rabbit_name
                  barter_bank: "{}"
                  got_scammed: true
                  seraphine:
                    step_index: 1.0246457001441578
                  lonely:
                    seconds_sitting: 2.027123023002322
                  barry_center:
                    first_talk_to_barry: true
                    convinced:
                    - creed
                    - creed
                    received_reward: true
                wither_cage:
                  killed_eyes:
                  - castle
                  - castle
                gallery:
                  sent_trophy_dialogues:
                  - sent_trophy_dialogues
                  - sent_trophy_dialogues
                  elise_step: 5.637376656633329
                  secured_trophies:
                  - visits: 7.061401241503109
                    type: chicken_n_egg
                    timestamp: 2.3021358869347655
                  - visits: 7.061401241503109
                    type: chicken_n_egg
                    timestamp: 2.3021358869347655
              player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          game_mode: ironman
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 7.457744773683766
            transactions:
            - amount: 4.965218492984954
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1.1730742509559433
            - amount: 4.965218492984954
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1.1730742509559433
      properties:
        success:
          type: boolean
        profile:
          $ref: '#/components/schemas/SkyBlockProfile'
      type: object
    _v2_skyblock_profile_get_400_response:
      example:
        success: false
        cause: "Missing one or more fields [...]"
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: "Missing one or more fields [...]"
          type: string
      type: object
    _v2_skyblock_profile_get_422_response:
      example:
        success: false
        cause: Malformed UUID
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Malformed UUID
          type: string
      type: object
    _v2_skyblock_profiles_get_200_response:
      example:
        success: true
        profiles:
        - profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            key:
              rift:
                wizard_tower:
                  wizard_quest_step: 6.84685269835264
                  crumbs_laid_out: 1.4894159098541704
                enigma:
                  found_souls:
                  - BACK2BASICS
                  - BACK2BASICS
                  bought_cloak: true
                  claimed_bonus_index: 5.962133916683182
                black_lagoon:
                  received_science_paper: true
                  delivered_science_paper: true
                  completed_step: 0.8008281904610115
                  talked_to_edwin: true
                dead_cats:
                  unlocked_pet: true
                  montezuma:
                    tier: COMMON
                    heldItem:
                      material: LEATHER_CHESTPLATE
                      color: "255,215,0"
                      name: Farm Armor Chestplate
                      category: CHESTPLATE
                      tier: RARE
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      npc_sell_price: 5200
                      id: FARM_ARMOR_CHESTPLATE
                    skin:
                      material: LEATHER_CHESTPLATE
                      color: "255,215,0"
                      name: Farm Armor Chestplate
                      category: CHESTPLATE
                      tier: RARE
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      npc_sell_price: 5200
                      id: FARM_ARMOR_CHESTPLATE
                    active: true
                    exp: 1.4658129805029452
                    type: FRACTURED_MONTEZUMA_SOUL
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    candyUsed: 6.027456183070403
                    uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  found_cats:
                  - eight
                  - eight
                  picked_up_detector: true
                  talked_to_jacquelle: true
                village_plaza:
                  murder:
                    step_index_pt3: 1.2315135367772556
                    step_index: 4.145608029883936
                    step_index_pt2: 7.386281948385884
                    room_clues:
                    - blood
                    - blood
                  cowboy:
                    stage: 3.616076749251911
                    hay_eaten: 9.301444243932576
                    rabbit_name: rabbit_name
                  barter_bank: "{}"
                  got_scammed: true
                  seraphine:
                    step_index: 1.0246457001441578
                  lonely:
                    seconds_sitting: 2.027123023002322
                  barry_center:
                    first_talk_to_barry: true
                    convinced:
                    - creed
                    - creed
                    received_reward: true
                wither_cage:
                  killed_eyes:
                  - castle
                  - castle
                gallery:
                  sent_trophy_dialogues:
                  - sent_trophy_dialogues
                  - sent_trophy_dialogues
                  elise_step: 5.637376656633329
                  secured_trophies:
                  - visits: 7.061401241503109
                    type: chicken_n_egg
                    timestamp: 2.3021358869347655
                  - visits: 7.061401241503109
                    type: chicken_n_egg
                    timestamp: 2.3021358869347655
              player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          game_mode: ironman
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 7.457744773683766
            transactions:
            - amount: 4.965218492984954
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1.1730742509559433
            - amount: 4.965218492984954
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1.1730742509559433
        - profile_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          members:
            key:
              rift:
                wizard_tower:
                  wizard_quest_step: 6.84685269835264
                  crumbs_laid_out: 1.4894159098541704
                enigma:
                  found_souls:
                  - BACK2BASICS
                  - BACK2BASICS
                  bought_cloak: true
                  claimed_bonus_index: 5.962133916683182
                black_lagoon:
                  received_science_paper: true
                  delivered_science_paper: true
                  completed_step: 0.8008281904610115
                  talked_to_edwin: true
                dead_cats:
                  unlocked_pet: true
                  montezuma:
                    tier: COMMON
                    heldItem:
                      material: LEATHER_CHESTPLATE
                      color: "255,215,0"
                      name: Farm Armor Chestplate
                      category: CHESTPLATE
                      tier: RARE
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      npc_sell_price: 5200
                      id: FARM_ARMOR_CHESTPLATE
                    skin:
                      material: LEATHER_CHESTPLATE
                      color: "255,215,0"
                      name: Farm Armor Chestplate
                      category: CHESTPLATE
                      tier: RARE
                      stats:
                        DEFENSE: 75
                        HEALTH: 20
                      npc_sell_price: 5200
                      id: FARM_ARMOR_CHESTPLATE
                    active: true
                    exp: 1.4658129805029452
                    type: FRACTURED_MONTEZUMA_SOUL
                    uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                    candyUsed: 6.027456183070403
                    uniqueId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  found_cats:
                  - eight
                  - eight
                  picked_up_detector: true
                  talked_to_jacquelle: true
                village_plaza:
                  murder:
                    step_index_pt3: 1.2315135367772556
                    step_index: 4.145608029883936
                    step_index_pt2: 7.386281948385884
                    room_clues:
                    - blood
                    - blood
                  cowboy:
                    stage: 3.616076749251911
                    hay_eaten: 9.301444243932576
                    rabbit_name: rabbit_name
                  barter_bank: "{}"
                  got_scammed: true
                  seraphine:
                    step_index: 1.0246457001441578
                  lonely:
                    seconds_sitting: 2.027123023002322
                  barry_center:
                    first_talk_to_barry: true
                    convinced:
                    - creed
                    - creed
                    received_reward: true
                wither_cage:
                  killed_eyes:
                  - castle
                  - castle
                gallery:
                  sent_trophy_dialogues:
                  - sent_trophy_dialogues
                  - sent_trophy_dialogues
                  elise_step: 5.637376656633329
                  secured_trophies:
                  - visits: 7.061401241503109
                    type: chicken_n_egg
                    timestamp: 2.3021358869347655
                  - visits: 7.061401241503109
                    type: chicken_n_egg
                    timestamp: 2.3021358869347655
              player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          game_mode: ironman
          community_upgrades: "{}"
          cute_name: cute_name
          selected: true
          banking:
            balance: 7.457744773683766
            transactions:
            - amount: 4.965218492984954
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1.1730742509559433
            - amount: 4.965218492984954
              action: DEPOSIT
              initiator_name: initiator_name
              timestamp: 1.1730742509559433
      properties:
        success:
          type: boolean
        profiles:
          items:
            $ref: '#/components/schemas/SkyBlockProfile'
          type: array
      type: object
    _v2_skyblock_museum_get_200_response:
      example:
        success: true
        profile:
          special:
          - donated_time: 6.027456183070403
            items: "{}"
          - donated_time: 6.027456183070403
            items: "{}"
          appraisal: true
          value: 0.8008281904610115
          items: "{}"
      properties:
        success:
          type: boolean
        profile:
          $ref: '#/components/schemas/SkyBlockMuseum'
      type: object
    _v2_skyblock_garden_get_200_response:
      example:
        success: true
        garden:
          garden_experience: 1.4658129805029452
          unlocked_barn_skins:
          - unlocked_barn_skins
          - unlocked_barn_skins
          selected_barn_skin: selected_barn_skin
          commission_data:
            visits:
              jerry: 1
              jacob: 2
              andrew: 3
            total_completed: 0.8008281904610115
            completed:
              jerry: 1
              jacob: 1
              andrew: 2
            unique_npcs_served: 6.027456183070403
          resources_collected:
            WHEAT: 100
            POTATO_ITEM: 100
            INK_SACK:3: 100
          composter_data:
            organic_matter: 1772.8
            fuel_units: 17000
            compost_units: 0
            compost_items: 2
            conversion_ticks: 300
            last_save: 1721039418436
            upgrades:
              speed: 25
              multi_drop: 25
              fuel_cap: 22
              organic_matter_cap: 25
              cost_reduction: 25
          crop_upgrade_levels:
            WHEAT: 1
            POTATO_ITEM: 2
            INK_SACK:3: 3
          active_commissions:
            liam:
              requirement:
              - original_item: NETHER_STALK
                original_amount: 93995
                item: MUTANT_NETHER_STALK
                amount: 4
              status: NOT_STARTED
              position: 1
            lumberjack:
              requirement:
              - original_item: POTATO_ITEM
                original_amount: 81380
                item: ENCHANTED_BAKED_POTATO
                amount: 3
              status: NOT_STARTED
              position: 2
            oringo:
              requirement:
              - original_item: WHEAT
                original_amount: 26798
                item: ENCHANTED_HAY_BLOCK
                amount: 21
              status: NOT_STARTED
              position: 3
            rhys:
              requirement:
              - original_item: JACK_O_LANTERN
                original_amount: 512
                item: JACK_O_LANTERN
                amount: 512
              status: NOT_STARTED
              position: 4
            fear_mongerer:
              requirement:
              - original_item: PUMPKIN
                original_amount: 27709
                item: POLISHED_PUMPKIN
                amount: 1
              status: NOT_STARTED
              position: 5
              extra_rewards:
              - candy: PURPLE_CANDY
          uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          unlocked_plots_ids:
          - beginner_1
          - intermediate_3
      properties:
        success:
          type: boolean
        garden:
          $ref: '#/components/schemas/SkyBlockGarden'
      type: object
    _v2_skyblock_garden_get_404_response:
      example:
        success: false
        cause: No result was found
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: No result was found
          type: string
      type: object
    _v2_skyblock_bingo_get_200_response_events_inner:
      example:
        completed_goals:
        - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
        - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
        key: 2
        points: 117
      properties:
        key:
          description: The id for this event
          example: 2
          format: int64
          type: number
        points:
          description: The amount of points earned
          example: 117
          format: int64
          type: number
        completed_goals:
          description: The completed goal IDs
          items:
            example: "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
            type: string
          type: array
      required:
      - completed_goals
      - key
      - points
      type: object
    _v2_skyblock_bingo_get_200_response:
      example:
        success: true
        events:
        - completed_goals:
          - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
          - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
          key: 2
          points: 117
        - completed_goals:
          - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
          - "[\"stat_walk_speed\",\"KILL_TRAPPER_MOB\"]"
          key: 2
          points: 117
      properties:
        success:
          type: boolean
        events:
          items:
            $ref: '#/components/schemas/_v2_skyblock_bingo_get_200_response_events_inner'
          type: array
      type: object
    _v2_skyblock_bingo_get_404_response:
      example:
        success: false
        cause: No bingo data could be found
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: No bingo data could be found
          type: string
      type: object
    _v2_skyblock_firesales_get_200_response:
      example:
        success: true
        sales:
        - amount: 1.4658129805029452
          item_id: item_id
          price: 5.962133916683182
          start: 0.8008281904610115
          end: 6.027456183070403
        - amount: 1.4658129805029452
          item_id: item_id
          price: 5.962133916683182
          start: 0.8008281904610115
          end: 6.027456183070403
      properties:
        success:
          type: boolean
        sales:
          items:
            $ref: '#/components/schemas/SkyBlockFireSale'
          type: array
      type: object
    SkyBlockProfile_banking_transactions_inner:
      example:
        amount: 4.965218492984954
        action: DEPOSIT
        initiator_name: initiator_name
        timestamp: 1.1730742509559433
      properties:
        timestamp:
          format: int64
          type: number
        action:
          enum:
          - DEPOSIT
          - WITHDRAW
          type: string
        initiator_name:
          type: string
        amount:
          format: double
          type: number
      type: object
    SkyBlockProfile_banking:
      description: "Information about the bank account for this profile, only present\
        \ if the API banking setting is enabled"
      example:
        balance: 7.457744773683766
        transactions:
        - amount: 4.965218492984954
          action: DEPOSIT
          initiator_name: initiator_name
          timestamp: 1.1730742509559433
        - amount: 4.965218492984954
          action: DEPOSIT
          initiator_name: initiator_name
          timestamp: 1.1730742509559433
      nullable: true
      properties:
        balance:
          format: double
          type: number
        transactions:
          items:
            $ref: '#/components/schemas/SkyBlockProfile_banking_transactions_inner'
          type: array
      type: object
    SkyBlockProfileMemberRiftGallery_secured_trophies_inner:
      example:
        visits: 7.061401241503109
        type: chicken_n_egg
        timestamp: 2.3021358869347655
      properties:
        timestamp:
          format: int64
          type: number
        type:
          enum:
          - chicken_n_egg
          - citizen
          - lazy_living
          - mirrored
          - mountain
          - slime
          - vampiric
          - wyldly_supreme
          type: string
        visits:
          format: int64
          type: number
      type: object
    SkyBlockMuseum_special_inner:
      example:
        donated_time: 6.027456183070403
        items: "{}"
      properties:
        donated_time:
          format: int64
          type: number
        items:
          type: object
      type: object
    SkyBlockGarden_commission_data:
      example:
        visits:
          jerry: 1
          jacob: 2
          andrew: 3
        total_completed: 0.8008281904610115
        completed:
          jerry: 1
          jacob: 1
          andrew: 2
        unique_npcs_served: 6.027456183070403
      properties:
        visits:
          description: A map of visitor identifier to visit count
          example:
            jerry: 1
            jacob: 2
            andrew: 3
          type: object
        completed:
          description: A map of visitor identifier to completed count
          example:
            jerry: 1
            jacob: 1
            andrew: 2
          type: object
        total_completed:
          format: int64
          type: number
        unique_npcs_served:
          format: int64
          type: number
      type: object
    inline_object:
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Invalid page
          type: string
      type: object
    inline_object_1:
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Page not found
          type: string
      type: object
    inline_object_2:
      properties:
        success:
          example: false
          type: boolean
        cause:
          example: Leaderboard data has not yet been populated
          type: string
      type: object
  securitySchemes:
    ApiKey:
      description: "Obtained via the [Hypixel Developer Dashboard](https://developer.hypixel.net)\
        \ when creating an application. You can also request higher limits for production\
        \ applications in this dashboard."
      in: header
      name: API-Key
      type: apiKey
